@{
    ViewBag.Title = "Order Success";
}

<h2>Order Success</h2>
<h5>Your Order has been placed successfuly, We will contact you shortly in minutes. Please click @Html.ActionLink("here", "Index", "ThongDong") go to Home page!</h5>

