@section cssBonus
{
    <link rel="stylesheet" href="#">
}

@{
    ViewBag.Title = "ThongDong - About";
}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2 class="slideanim-top">About Us</h2>
            <p>
                Chúng tôi tự hào là một đội ngũ chuyên nghiệp trong lĩnh vực du lịch,
                chuyên tạo ra những trải nghiệm du lịch độc đáo và không gì sánh bằng cho khách hàng của chúng
                tôi. Chúng tôi đã tự tin xây dựng được uy tín vững chắc và là người bạn đồng hành đáng tin cậy của
                mọi người trong hành trình khám phá thế giới.
            </p>
            <hr style="border: 1px dashed black;">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13084.991528969445!2d106.69562724536948!3d10.858586641896219!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317529c17978287d%3A0xec48f5a17b7d5741!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBOZ3V54buFbiBU4bqldCBUaMOgbmggLSBDxqEgc-G7nyBxdeG6rW4gMTI!5e0!3m2!1svi!2s!4v1692443607123!5m2!1svi!2s"
                    width="100%" height="500" style="border:0;box-shadow: 5px 5px 7px grey;"></iframe>
        </div>
        <div class="col-md-6">
            <div class="feature-box">
                <h3 class="slideanim-top">Our Mission</h3>
                <img src="~/Image/Sapa/fansipan-4-4120-1650277616-6919-1652148667.png" alt="Image"
                     class="img-responsive">
                <br>
                <p>
                    Sứ mệnh của chúng tôi là mang đến cho khách hàng những trải nghiệm du lịch tuyệt vời và không
                    quên. Chúng tôi không chỉ là những người tổ chức tour du lịch mà còn là những người đồng hành,
                    người cung cấp kiến thức và thông tin sâu rộng về các điểm đến để bạn có thể hiểu rõ hơn về nền
                    văn hóa, lịch sử và đặc điểm độc đáo của mỗi địa điểm.
                </p>
            </div>
            <div class="feature-box">
                <h3>Our Services</h3>
                <img src="~/Image/vinhhalong/BANCATCATjpg.jpg" alt="Image" class="img-responsive">
                <br>
                <p>
                    Chúng tôi cung cấp một loạt các tour du lịch đa dạng, từ các tour thám hiểm thiên nhiên, du lịch
                    văn hóa, du lịch ẩm thực đến các chuyến hành trình thư giãn và nghỉ dưỡng. Chúng tôi luôn luôn
                    tập trung vào việc đáp ứng nhu cầu đa dạng của khách hàng và tạo ra những chương trình du lịch
                    tùy chỉnh dành riêng cho bạn.
                </p>
            </div>
        </div>
    </div>
</div>
