@{
    ViewBag.Title = "ThongDong - Contact";
}

<div class="container">
    <div class="contact-form">
        <h2 class="slideanim-top">Contact Us</h2>
        <form class="slideanim" method="post" action="@Url.Action("navContact")">
            <div class="inputGroup">
                <input type="text" required name="Name" autocomplete="on">
                <label for="Name"><span class="glyphicon glyphicon-user"></span> Name</label>
            </div>
            <div class="inputGroup">
                <input type="email" name="Email" required autocomplete="on">
                <label for="Email"><span class="glyphicon glyphicon-envelope"></span> Email</label>
            </div>
            <div class="inputGroup">
                <textarea rows="4" required name="Messenger" autocomplete="on"></textarea>
                <label for="Messenger"><i class="fas fa-comments"></i> Messenger</label>
            </div>
            <div class="box-icon">
                <div class="box-icon-item">
                    <a href="#"> <i class="fa-brands fa-facebook slideanim-left"></i></a>
                    <a href="#"> <i class="fa-brands fa-instagram slideanim"></i></a>
                    <a href="#"> <i class="fa-brands fa-twitter slideanim"></i></a>
                    <a href="#"> <i class="fa-solid fa-envelope slideanim-right"></i></a>
                </div>
            </div>
            <div class="text-center">
                <button type="submit" class="button-form">Submit</button>
            </div>
        </form>
    </div>
</div>
