<img style="width: 100%;border-radius: 20px 20px 0 0;"
                 src="/Image/HCM-HN-HG-HTG/ivivu-nui-doi-co-tien.gif" alt="">
            <div class="content">
                <div style="margin: 0 10px;">
                    <h2>Sắc màu văn hóa cao nguyên đá Đồng Văn</h2>
                    <p>
                        Nơi địa đầu của Tổ Quốc, Hà Giang được biết đến địa hình được sự ưu ái của thiên nhiên núi
                        rừng hùng vĩ, hoang sơ, với dòng sông Nho Quế màu xanh ngọc bích thơ mộng, có cao nguyên đá
                        Đồng Văn được UNESCO công nhận công viên địa chất toàn cầu, là vùng đất thủ phũ cánh đồng
                        hoa tam giác mạch nổi tiếng, cánh đồng hoa cải, ... tạo một bức tranh đầy sắc màu cho vùng
                        đất nơi đây, núi đôi Quản Bạ nằm giữa núi đá và ruộng bậc thang. Hà Giang nơi sinh sống đồng
                        bào người dân tộc trong các bộ trang phục màu sắc rực rỡ, những truyền thống văn hoá lâu đời
                        của cộng đồng dân cư bản địa và cả những sản vật địa phương đa dạng.
                    </p>
                    <h2>Những trải nghiệm thú vị trong chương trình</h2>
                    <p>
                        - Tận mắt ngắm nhìn cao nguyên đá với phong cảnh hùng vĩ nhất của Việt Nam <br>
                        - Tận mắt ngắm nhìn đèo Mã Pì Lèng hùng vĩ và hẻm vực sông Nho Quế sâu nhất Việt Nam <br>
                        - Khám phá nét đẹp văn hóa của đồng bào dân tộc H'mông, Dao, Lô Lô, Tày... <br>
                        - Đến thăm Cột cờ Lũng Cú, điểm cực Bắc của Tổ quốc.
                    </p>
                    <h2>Chương trình tour</h2>
                    <p>
                        <b>NGÀY 01: TP HỒ CHÍ MINH – HÀ NỘI - HÀ GIANG ( ĂN TRƯA, TỐI )</b> <br>
                        Sáng: Hướng dẫn viên công ty đón đoàn tại sân bay Tân Sơn Nhất làm thủ tục bay đi Hà Nội.
                        Đến sân bay Nội Bài. <br>
                        Đến Hà Nội Xe và HDV đón Quý khách tại sân bay Nội Bài, đưa về khách sạn, nhận phòng, ăn
                        trưa tại nhà hàng. <br>
                        Chiều: Quý khách thăm quan: <br>
                        - Chùa Trấn Quốc – Ngôi chùa Trấn Bắc cổ kính nhất Việt Nam với 1.500 năm tuổi nằm trên bán
                        đảo cồn Quy linh thiêng, với truyền thuyết và huyền thoại về Hồ Tây, hồ Trúc Bạch.
                    </p>
                    <img src="/Image/HCM-HN-HG-HTG/ivivu-chua-tran-quoc.gif" alt="">
                    <p id="note">Chùa Trấn Quốc.</p>
                    <p>
                        - Tiếp tục thăm quan Đền Ngọc Sơn, Cầu Thê Húc, hồ Hoàn Kiếm - Trực tiếp chứng kiến cụ Rùa
                        dài 2,1m, ngang 1,2m được trưng bày tại đền Ngọc Sơn.
                    </p>
                    <img src="/Image/HCM-HN-HG-HTG/ivivu-ho-guom.gif" alt="">
                    <p id="note">Hồ Gươm.</p>
                    <p>
                        Tối: Quý khách ăn tối và tự do dạo chơi thăm phố cổ Hà Nội, dạo Hồ Gươm, mua sắm tại Chợ đêm
                        Hà Nội sầm uất...
                    </p>
                    <p>
                        <b>NGÀY 02: HÀ NỘI - QUẢN BẠ - YÊN MINH ( ĂN SÁNG, TRƯA, CHIỀU)</b> <br>
                        06h00: Đoàn dùng điểm tâm sáng, trả phòng khách sạn, đoàn khởi hành đi Hà Giang. Quý khách
                        di chuyển tới Hà Giang khám phá trải nghiệm những phong cảnh hùng vĩ núi đèo vùng cao xen
                        lẫn những mùa hoa thắm đượm tình người theo quốc lộ 2, cao tốc Nội Bài - Lào Cai. Đi qua Tam
                        Đảo, Tây Thiên thuộc địa phận Vĩnh Phúc. <br>
                        Trưa: Đoàn dừng chân tại Bắc Quang nghỉ ngơi, ăn trưa tại nhà hàng. <br>
                        Chiều: Đoàn tiếp tục khởi hành đến Hà Giang – nơi có những con đường đèo, cứ nối nhau quanh
                        co uốn lượn. Đến thành phố Hà Giang: <br>
                        - Chụp hình kỉ niệm tại Km0 của Hà Giang. Điểm giao nhau của QL2, QL34 và QL4C hay còn gọi
                        là Con đường hạnh phúc.
                    </p>
                    <img src="/Image/HCM-HN-HG-HTG/ivivu-cot-km0.gif" alt="">
                    <p id="note">Cột Km0.</p>
                    <p>
                        Tiếp tục bắt đầu cung đường đèo khám phá cao nguyên đá Hà Giang. Đoàn đến Quản Bạ dừng chân
                        tạ<br>
                        - Cổng Trời Quản Bạ Nơi được xem là Đà Lạt ở phía bắc, thênh thang trong tầm mắt là thiên
                        nhiên nơi đây phong cảnh hữu tình. Bạn sẽ nhận thấy đó là một cuộc sống bình yên, giản dị
                        giữa núi rừng thiên nhiên không có ồn ào tấp nập, khói bụi của thành thị. Cổng trời có một
                        vị trí vô cùng thuận lợi, phía trước mặt là hình ảnh núi đôi Cô Tiên mờ ảo trong sương mù và
                        những tia nắng đón chào ngày mới. Đứng ở trên đỉnh ngắm cảnh mây núi sương mù hòa quyện lại
                        với nhau tạo nên một khung cảnh như chốn bồng lai tiên cảnh. Có thể nói đây là một địa điểm
                        tuyệt vời để bạn có thể chiêm ngưỡng toàn bộ bức tranh thiên nhiên hùng vĩ. <br>
                    </p>
                    <img src="/Image/HCM-HN-HG-HTG/ivivu-nui-doi-co-tien.gif" alt="">
                    <p id="note">Núi Đôi Cô Tiên.</p>
                    <p>
                        Đoàn tiếp tục bon bon trên đường đèo, băng qua rừng thông bạt ngàn đến với thị trấn Yên Minh.
                        <br>
                        Tối: Quý khách nhận phòng nghỉ ngơi và dùng bữa tối tại nhà hàng. Sau đó, quý khách tự do
                        khám phá Yên Minh về đêm.
                    </p>
                    <p>
                        <b>
                            NGÀY 3: YÊN MINH – CỘT CỜ LŨNG CÚ – CAO NGUYÊN ĐÁ ĐỒNG VĂN - SÔNG NHO QUẾ - MÃ PÌ LÈNG (
                            ĂN SÁNG, TRƯA, TỐI)
                        </b> <br>
                        Sáng: Đoàn dùng điểm tâm sáng sau đó trả phòng khách sạn, khởi hành đi Cao Nguyên Đá Đồng
                        Văn - là một cao nguyên đá trải rộng trên bốn huyện Quản Bạ, Yên Minh, Đồng Văn, Mèo Vạc.
                        Quý khách cũng sẽ ghé thăm: <br>
                        - Dinh Vua Mèo Vương Chí Sình nằm trong một thung lũng của xã Sà Phìn, đây là dòng họ giàu
                        có và quyền uy nhất Châu Đồng Văn vào đầu thế kỷ 20.
                    </p>
                    <img src="/Image/HCM-HN-HG-HTG/ivivu-dinh-thu-vua-meo.gif" alt="">
                    <p id="note">Dinh Thự Vua Mèo.</p>
                    <p>
                        - Thăm Cột Cờ Lũng Cú - nơi địa đầu Tổ quốc, điểm cực bắc và là nóc nhà của Việt Nam <br>
                        –“Nơi mà cúi mặt sát đất, ngẩng mặt đụng trời". Quý khách thăm quan Cột cờ Tổ Quốc và chụp
                        hình lưu niệm. Từ cột cờ Lũng Cú, Quý khách có thể ngắm phong cảnh ruộng bậc thang đẹp mắt
                        xen kẽ những nhà trình tường của dân tộc Lô Lô trong bản Séo Lủng bên dưới.
                    </p>
                    <img src="/Image/HCM-HN-HG-HTG/ivivu-cot-co-lung-cu.gif" alt="">
                    <p id="note">Cột Cờ Lũng Cú.</p>
                    <p>
                        Trưa: Quý khách dùng cơm trưa tại nhà hàng. <br>
                        Chiều: Đoàn tiếp tục khởi hành đến với Thị Trấn Đồng Văn, nhận phòng khách sạn. Sau đó xe và
                        HDV đưa quý khách đi tham quan: <br>
                        - Chinh phục đèo Mã Pì Lèng – một trong tứ đại đỉnh đèo của Việt Nam, trên đường đi Mèo Vạc
                        và cũng là đoạn đẹp nhất trên con đường mang tên "Đường Hạnh phúc". Chụp hình với vẻ đẹp
                        hùng vĩ của hẻm vực Mã Pì Lèng sâu 800m - nơi địa hình bị chia cắt sâu nhất của Việt Nam.
                    </p>
                    <img src="/Image/HCM-HN-HG-HTG/ivivu-deo-ma-pi-leng.gif" alt="">
                    <p id="note">Đèo Mã Pì Lèng.</p>
                    <p>
                        - Du thuyền trên Sông Nho Quế Lên thuyền xuôi dòng Nho Quế đến với Hẻm Tu sản, là hẻm vực sâu
                        nhất của Việt Nam nằm trên dòng sông Nho Quế. Dòng Nho Quế chảy vào Việt Nam từ địa phận
                        thôn Xéo Lủng, xã Lũng Cú, huyện Đồng Văn đi qua Hẻm núi Tu Sản chạy men theo chân đèo Mã Pì
                        Lèng (chưa bao gồm combo xe máy đưa quý khách xuống thuyền + thuyền: giá tham khảo
                        250.000đ/khách).
                    </p>
                    <img src="/Image/HCM-HN-HG-HTG/ivivu-song-nho-que.gif" alt="">
                    <p id="note">Sông Nho Quế.</p>
                    <p>
                        Tối: Đoàn dùng cơm tối tại nhà hàng. <br>
                        Quý khách tự do tản bộ và thăm khu phố cổ Đồng Văn - khu phố cổ mang đậm dấu ấn kiến trúc
                        của người Hoa với những ngôi nhà hai tầng lợp ngói âm dương, những chiếc đèn lồng đỏ cao
                        cao...Kết thúc ngày thăm quan, Quý khách trở về khách sạn nghỉ ngơi lấy sức sau một ngày đầy
                        thú vị.
                    </p>
                    <img src="/Image/HCM-HN-HG-HTG/ivivu-pho-co-dong-van.gif" alt="">
                    <p id="note">Phố Cổ Đồng Văn.</p>
                    <p>Nghỉ đêm tại thị trấn Đồng Văn.</p>
                    <p>
                        <b>NGÀY 4: ĐỒNG VĂN – PHỐ CÁO - NỘI BÀI – TP.HCM ( ĂN SÁNG, TRƯA, ĂN NHẸ)</b> <br>
                        Sáng: Quý khách dậy để chứng kiến cảnh bà con nhiều thành phần dân tộc náo nức từ các nèo
                        đường tập trung về với chợ phiên Đồng Văn để tham gia phiên họp chợ diễn ra vào sáng chủ
                        nhật hàng tuần. <br>
                        Quý khách dùng điểm tâm và trả phòng khách sạn, khởi hành về Hà Nội. Trên đường đi, đoàn
                        dừng chân tham quan: <br>
                        - Tham quan Phố Cáo với những ngôi nhà đặc trưng của người H'mông bởi những hàng rào đá cung
                        quanh nhà.
                    </p>
                    <img src="/Image/HCM-HN-HG-HTG/ivivu-sung-la.gif" alt="">
                    <p>
                        - Thăm bản Sủng Là thăm ngôi nhà Cổ của người H'mông với tường trình bằng đất - nơi đã được
                        sử dụng làm bối cảnh để quay bộ phim nhựa "Chuyện của Pao" năm 2006 của đạo diễn Ngô Quang
                        Hải được chuyển thể từ truyện ngắn "Tiếng đàn môi sau bờ rào đá" của nhà văn Đỗ Bích Thủy đã
                        giành được 4 giải Cánh diều vàng. Quý khách dừng chân nghỉ ngơi và chụp hình hoa tam giác
                        mạch gần dốc chín khoanh.
                    </p>
                    <img src="/Image/HCM-HN-HG-HTG/ivivu-pho-cao.gif" alt="">
                    <p>
                        12h00: Đoàn ăn trưa tại thành phố Hà Giang. Sau bữa trưa tiếp tục lên xe về Hà Nội. <br>
                        Tối: Đoàn dùng bữa tối nhẹ tại nhà hàng gần sân bay. Sau đó tiếp tục di chuyển đến sân bay
                        Nội Bài, Hướng dẫn viên làm thủ tục cho đoàn đáp chuyến bay về lại Tp HCM, chia tay đoàn và
                        kết thúc chương trình tham quan Hà Nội - Hà Giang 4 ngày 3 đêm. Hẹn gặp lại du khách trong
                        chuyến hành trình tiếp theo. <br>
                    </p>
                    <p id="note">
                        Chú ý: Trong trường hợp giờ bay có thay đổi đi, về sớm/ muộn hơn chuyến bay dự
                        kiến. Hướng dẫn viên sẽ linh động thay đổi lịch trình tham quan ngày cuối cùng cho phù hợp
                        giờ bay của hãng hàng không thay đổi ( mong quý khách thông cảm về việc thay đổi này. ) <br>

                        Thứ tự tham quan có thể thay đổi nhưng vẫn bảo đảm đầy đủ điểm tham quan có trong chương
                        trình.
                    </p>
                </div>
                <h3>Chi Phí Dự Kiến</h3>
                <hr>
                <div class="row">
                    <div class="tab text-center">
                        <button class="tablinks active" onclick="showTab(event, 'bao-gom')">
                            Giá Bao
                            Gồm
                        </button>
                        <button class="tablinks" onclick="showTab(event, 'khong-bao-gom')">
                            Giá Không Bao
                            Gồm
                        </button>
                        <button class="tablinks" onclick="showTab(event, 'phu-thu')">Phụ Thu</button>
                        <button class="tablinks" onclick="showTab(event, 'luu-y')">Lưu Ý</button>
                    </div>
                    <div id="bao-gom" class="tabcontent active">
                        <div>
                            <p>
                                <b>Vận chuyển:</b> <br>
                                - Xe tham quan (16, 29 chỗ tùy theo số lượng) đón - tiễn và phục vụ theo chương
                                trình. <br>
                                - Vé máy bay khứ hồi: Vietjet (07 kg sách tay + 20 kg hành lý ký gửi). <br>
                                <b>Lưu trú:</b> <br>
                                - Hà Nội 3*: De La Sein, Frist eden, Thăng Long Espana,…hoặc tương đương. <br>
                                - Yên Minh 2*: Thảo Nguyên, Thành Hưng, Phương Đông… hoặc tương đương. <br>
                                - Đồng Văn 2*: Khải Hoàn, Hoàng Ngọc, Lâm Tùng 2,…hoặc tương đương. <br>
                                (Tiêu chuẩn 2,3 khách/ phòng. Tiện nghi: tivi, nước nóng, vệ sinh…) <br>
                                <b>Khác</b> <br>
                                - Ăn uống theo chương trình tham quan. <br>
                                - Tham quan: Vé tham quan các điểm du lịch theo chương trình. <br>
                                - Hướng dẫn viên tiếng Việt: Phục vụ nhiệt tình, tận tâm, chu đáo. <br>
                                - Bảo hiểm: Du lịch chọn tour, mức bồi thường tối đa 100.000.000 đ/trường
                                hợp. <br>
                                - Quà tặng: Nón du lịch, 01 nước suối (0.5 lít/ngày).
                            </p>
                        </div>
                    </div>
                    <div id="khong-bao-gom" class="tabcontent">
                        <div>
                            <p>
                                - Tiền TIP cho HDV + Tài xế địa phương <br>
                                - Chi phí cá nhân ngoài chương trình: giặt ủi, điện thoại, minibar… <br>
                                - Phí xe chở khách xuống thuyền và thuyền tại sông Nho Quế (khoảng 250.000/khách)
                                <br>
                                - Thuế VAT
                            </p>
                        </div>
                    </div>
                    <div id="phu-thu" class="tabcontent">
                        <div>
                            <p>
                                - Phụ thu phòng đơn 1.200.000đ/khách/Phòng. <br>
                                - Phụ thu người nước ngoài: 500.000 vnđ/khách <br>
                                <b>Quy Định Dành Cho Trẻ Em:</b><br>
                                - Trẻ em từ 10 tuổi trở lên mua 01 vé bằng giá tour người lớn. <br>
                                - Trẻ em dưới 02 tuổi, được miễn phí tour và phụ thu vé máy bay theo quy định của
                                hãng hàng không. <br>
                                - Trẻ em từ 02 tuổi dưới 05 tuổi, được miễn phí tour, vé máy bay tính theo quy định
                                của hãng hàng không. <br>
                                - Trẻ em từ 05 tuổi dưới 10 tuổi, tính 75% giá tour và 100% vé máy bay theo quy định
                                của hãng hàng không. Bao gồm các dịch vụ ăn uống, ghế ngồi trên xe và ngủ chung với
                                gia đình. Hai người lớn chỉ được kèm 1 trẻ em, trẻ em thứ 2 trở lên, mua thêm 1 suất
                                giường đơn hoặc 1 vé người lớn.
                            </p>
                        </div>
                    </div>
                    <div id="luu-y" class="tabcontent">
                        <div>
                            <p>
                                - Trẻ em từ 05 tuổi dưới 10 tuổi, tính 75% giá tour và 100% vé máy bay theo quy định
                                của hãng hàng không. Bao gồm các dịch vụ ăn uống, ghế ngồi trên xe và ngủ chung với
                                gia đình. Hai người lớn chỉ được kèm 1 trẻ em, trẻ em thứ 2 trở lên, mua thêm 1 suất
                                giường đơn hoặc 1 vé người lớn. <br>
                                - Trong những trường hợp bất khả kháng như: khủng bố, bạo động, thiên tai, lũ lụt,
                                dịch bệnh… Tuỳ theo tình hình thực tế và sự thuận tiện, an toàn của khách hàng, công
                                ty Du Lịch sẽ chủ động thông báo cho khách hàng sự thay đổi như sau: huỷ hoặc thay
                                thế bằng một chương trình mới với chi phí tương đương chương trình tham quan trước
                                đó. Trong trường hợp chương trình mới có phát sinh thì Khách hàng sẽ thanh toán
                                khoản phát sinh này. Tuy nhiên, mỗi bên có trách nhiệm cố gắng tối đa, giúp đỡ bên
                                bị thiệt hại nhằm giảm thiểu các tổn thất gây ra vì lý do bất khả kháng.… <br>
                                - Đối với sự thay đổi lịch trình, giờ bay do lỗi của hãng hàng không, tàu hoả, tàu
                                thuỷ, Du Lịch sẽ không chịu trách nhiệm bất kỳ phát sinh nào do lỗi trên như: phát
                                sinh bữa ăn, nhà hàng, khách sạn, phương tiện di chuyển, hướng dẫn viên, …
                            </p>
                        </div>
                    </div>
                </div>
            </div>
 