
            <img style="width: 100%;border-radius: 20px 20px 0 0;" src="/Image/HCM-KC-EG-PY/ivivu-3-bai-ky-co-750x390.gif" alt="">
            <div class="content">
                <div style="margin: 0 10px;">
                    <h2>Dọc Biển Miền Trung Đầy Nắng Và Gió</h2>
                    <p>
                        Quy Nhơn – Thành phố trung tâm của Tỉnh Bình Định với bờ biển dài, chạy quanh thành phố,
                        được đánh giá là một trong những bãi biển đẹp nhất Miền Trung. Với thành Đồ Bàn – Kinh đô cũ
                        của đất nước Champa vẫn còn đó những nét vết tích cổ kính, rêu phong. <br>
                        Nằm cách Tp Quy Nhơn khoảng 100km về phía nam, Tp Tuy Hòa vẫn khá mới lạ và còn nhiều nét
                        hoang sơ trong bản đồ du lịch của nhiều du khách. Đến Tuy Hòa, quý khách nhất định phải ghé
                        đến Gành Đá Đĩa – Thắng cảnh độc nhất vô nhị của Việt Nam. Cùng iVIVU khám phá 2 tỉnh ngay
                        hôm nay !
                    </p>
                    <h2>Những trải nghiệm thú vị trong chương trình</h2>
                    <p>
                        - Danh Thắng Eo Gió - Một ghềnh đá quanh năm lộng gió. Đứng trên Eo Gió, phóng tầm mắt ra xa,
                        quý khách chiêm ngưỡng bao quát cả vùng biển bao la rộng lớn, đắm say lòng người. Eo Gió,
                        được mệnh danh Nơi Ngắm Hoàng Hôn Đẹp Nhất Việt Nam. <br>
                        - Gành Đá Đĩa, di tích thắng cảnh cấp Quốc gia, với chiều rộng khoảng 50m, và trải dài hơn
                        200m, <br>
                        - Thắng cảnh Gành Xép – một nơi được chọn làm bối cảnh để quay bộ phim nổi tiếng: “Tôi thấy
                        Hoa vàng trên cỏ xanh” của dạo diễn Vitor Vũ.
                    </p>
                    <h2>Chương trình tour</h2>
                    <p>
                        <b>NGÀY 1: HỒ CHÍ MINH - QUY NHƠN (ĂN SÁNG, TRƯA, TỐI)</b> <br>
                        Sáng: HDV CTY đón khách tại sân bay Tân Sơn Nhất làm thủ tục bay Quy Nhơn. Đến nơi Xe và HDV
                        ở Quy Nhơn sẽ đón quý khách tại sân bay làm thủ tục nhận hành lý và khởi hành đến nhà hàng
                        để dùng bữa sáng, đoàn khởi hành tham quan: <br>
                        - Bảo Tàng Quang Trung: Khu trưng bày cuộc đời sự nghiệp của nhà Tây Sơn, cây me cổ thụ,
                        giếng nước xưa của gia đình Vua Quang Trung.
                    </p>
                    <img src="/Image/HCM-KC-EG-PY/ivivu-bao-tang-quang-trung-quy-nhon.gif" alt="">
                    <p id="note">Bảo Tàng Quang Trung.</p>
                    <p>
                        Trưa: Đoàn dùng bữa trưa với đặc sản Tây Sơn. Quý khách nghỉ trưa tại chỗ. Xe và HDV đưa Quý
                        khách đi tham quan: <br>
                        - Chùa Thiên Hưng: ngôi chùa đặc biệt và nổi tiếng bậc nhất Bình Định. Điều đặc biệt không
                        chỉ là về vẻ đẹp kiến trúc tinh tế mà nơi đây hiện đang lưu giữ Ngọc Xá Lợi của Phật Tổ
                        Thích Ca Mâu Ni.
                    </p>
                    <img src="/Image/HCM-KC-EG-PY/ivivu-7-chua-thien-hung.gif" alt="">
                    <p id="note"> Chùa Thiên Hương</p>
                    <p>
                        - Khu Di Tích Tháp Đôi: là cụm tháp với 02 ngọn tháp cổ có lối kiến trúc Angkor, được xây
                        dựng từ thế kỷ thứ XII nằm trên bình diện phẳng ngay trong lòng thành phố Quy Nhơn. Tháp Đôi
                        được xếp hạng di tích kiến trúc nghệ thuật cấp quốc gia ngày 10/7/1980 và nằm trong quần thể
                        Tháp Chăm đã được Hội kỷ lục gia Việt Nam, tổ chức kỷ lục gia Việt Nam bình chọn top 10 tháp
                        và cụm tháp cổ được nhiều du khách tham quan nhất (công bố vào 2014). Tháp Đôi không chỉ là
                        nơi để các nhà nghiên cứu lịch sử, văn hóa khám phá nét độc đáo mà còn là một điểm tham quan
                        du lịch hấp dẫn khi đặt chân đến Bình Định.
                    </p>
                    <img src="/Image/HCM-KC-EG-PY/ivivu-thap-doi.gif" alt="">
                    <p id="note">Tháp Đôi</p>
                    <p>
                        - Ghềnh Ráng Sở hữu một dải sơn thạch chạy dọc theo bờ cát trắng trải dài bên làn biển xanh
                        biếc. Đến với nơi đây, bạn sẽ có cơ hội hòa mình vào thiên nhiên non nước hùng vĩ, thấm thía
                        từng vần thơ của thi sĩ Hàn Mặc Tử.
                    </p>
                    <img src="/Image/HCM-KC-EG-PY/ivivu-ghenh-rang-tien-sa-1.jpg" alt="">
                    <p id="note">KDL Ghềnh Ráng.</p>
                    <p>
                        Chiều: Xe đưa quý khách dùng bữa tối tại nhà hàng về khách sạn. Quý khách tự do tham quan Quy
                        Nhơn về đêm. Nghỉ đêm tại Quy Nhơn.
                    </p>
                    Sáng: Quý khách dùng bữa sáng tại nhà hàng. Đoàn khởi hành đi tham quan <br>
                    - Biển Đảo Kỳ Co: Quý khách lên cano, bạn sẽ được tận hưởng cảnh đẹp kỳ vĩ từ Cano. Quý khách
                    nhận khu vực riêng, tự do tắm biển hoặc check in các điểm chụp ảnh hot nhất KỲ CO – QUY NHƠN.
                    </p>
                    <img src="/Image/HCM-KC-EG-PY/ivivu-bai-tam-ky-co-qn.jpg" alt="">
                    <p id="note">Biển Đảo Kỳ Co.</p>
                    <p>
                        - Hòn Sẹo với làn nước trong xanh. Quý khách tự do lặn biển ngắm san hô tắm biển tại đây. Sau
                        đó tham gia chơi các trò chơi mặt nước: Phao Bay, Phao Nhún, Phao Thiên Nga (Chi phí trò
                        chơi tự túc) <br>
                        Trưa: Quý khách dùng cơm trưa tại nhà hàng và nghỉ ngơi. Sau đó Đoàn tiếp tục tham quan:
                        <br>
                        - Khám phá Eo Gió “một địa danh nổi tiếng mà du khách khi đến đây đều muốn ghé tham quan”
                        Tên gọi Eo Gió bắt nguồn từ hình dáng địa lý của khu vực này, đứng từ trên các mỏm đá xung
                        quanh nhìn xuống bạn sẽ thấy một eo biển nhỏ được che chắn bởi hai dãy núi như một vòng tay
                        ôm gọn bãi biễn tuyệt đẹp ở đây. Hai bên khu vực này là hai dải núi đá vừa hùng vĩ vừa là
                        nơi ngắm cảnh tuyệt đẹp dành cho bạn. Đứng từ trên cao nhìn xuống, Eo Gió như một bức tranh
                        sơn thủy hữu tình với trời, mây, nước… biển núi ôm nhau vừa gợi cảm, vừa hoang sơ đầy quyến
                        rũ. Nơi đây cũng có rất nhiều đá, đá trên núi, đá trên bờ, đá nhấp nhô trên biển … Đứng từ
                        trên cao, bạn sẽ nhận thấy nhiều hòn đá với hình thù khác nhau rất thú vị…
                    </p>
                    <img src="/Image/HCM-KC-EG-PY/ivivu-eo-gio.gif" alt="">
                    <p id="note"> Eo Gió</p>
                    <p>
                        - Viếng Tịnh Xá Ngọc Hòa – Chiêm bái pho Tượng Phật Đôi Quan Thế Âm cao Nhất Việt nam (cao
                        30m), cùng cầu an gia đạo. <br>
                        Chiều: Đoàn dùng bữa chiều với đặc sản tại Quy Nhơn.
                    </p>
                    <img src="/Image/HCM-KC-EG-PY/ivivu-8-tinh-xa-ngoc-hoa.gif" alt="">
                    <p id="note">Tịnh Xá Ngọc Hòa.</p>
                    <p>
                        Xe đưa quý khách về khách sạn. Quý khách tự do tham quan Quy Nhơn về đêm. Nghỉ đêm tại Quy
                        Nhơn.
                    </p>
                    <p>
                        <b>NGÀY 3: CHÙA THANH LƯƠNG – HỒ CHÍ MINH ( ĂN SÁNG, TRƯA, TỐI)</b><br>
                        Sáng: Quý khách dùng bữa sáng tại nhà hàng. Đoàn khởi hành đi tham quan Phú Yên. Xe đưa đoàn
                        theo cung đường Quy Nhơn – Sông Cầu, xuyên qua những đồi cát – bãi biển đẹp đến với Phú Yên:
                        <br>
                        - Nhà Thờ Mằng Lăng: với lịch sử gần 120 năm tồn tại, nhà thờ Mằng Lăng được coi nhà thờ cổ
                        nhất tỉnh Phú Yên và là một trong những nhà thờ lâu đời nhất của Việt Nam, nơi này vẫn đang
                        giữ cuốn sách đầu tiên được in bằng tiếng Việt. Đây là quyển giá o lý Phép giảng tám ngày
                        của Linh mục Đắc Lộ (người dân địa phương gọi là cha Đắc Lộ) – người khai đã sinh ra chữ
                        quốc ngữ ở Việt Nam.
                    </p>
                    <img src="/Image/HCM-KC-EG-PY/ivivu-nha-tho-mang-lang.gif" alt="">
                    <p id="note">Nhà Thờ Mằng Lăng.</p>
                    <p>
                        - KDL Gành Đá Đĩa là một tập hợp các trụ đá hình lăng trụ xếp liền nhau, hòn nọ nối hòn kia
                        kề với sóng nước. Bãi đá trải rộng san sát nhau chung màu đen huyền bí. Có trụ thẳng đứng,
                        có trụ nghiêng vẹo nhưng vẫn chồng chất tầng tầng trông như chồng bát dĩa nên có tên gọi là
                        Ghềnh Đá Dĩa.
                    </p>
                    <img src="/Image/HCM-KC-EG-PY/ivivu-ganh-da-dia.gif" alt="">
                    <p id="note">Gành Đá Đĩa.</p>
                    <p>
                        Trưa: Đoàn dùng bữa trưa, sau đó tham quan: <br>
                        - KDL Bãi Xếp một trong những cảnh đẹp trong phim “Tôi thấy hoa vàng trên cỏ xanh”. Tự do
                        tắm biển.
                    </p>
                    <img src="/Image/HCM-KC-EG-PY/ivivu-bai-xep-py.gif" alt="">
                    <p id="note">KDL Bãi Xếp.</p>
                    <p>
                        - Chùa Thanh Lương nơi có bức tượng màu xanh ngọc bích nằm giữa hồ độc đáo. Nơi thanh tịnh và
                        có kiến trúc vô cùng độc đáo
                    </p>
                    <img src="/Image/HCM-KC-EG-PY/ivivu-6-chua-thanh-luong.gif" alt="">
                    <p id="note">Chùa Thanh Lương.</p>
                    <p>
                        Đoàn về lại Quy Nhơn <br>
                        Đến nhà hàng dùng bữa tối (ăn nhẹ), sau đó ra sân bay Phù Cát bay về lại TPHCM chào tạm biệt
                        và chia tay Quý khách. <br>
                        Kết thúc chương trình Quy Nhơn - Phú Yên – Quy Nhơn 3 ngày 2 đêm và hẹn gặp lại du khách
                        trong chuyến hành trình tiếp theo.
                    </p>
                    <p id="note">
                        Thứ tự các điểm tham quan có thể thay đổi cho phù hợp với tình hình thực tế nhưng
                        vẫn đảm bảo thực hiện đầy đủ nội dung chương trình.
                    </p>
                </div>
                <h3>Chi Phí Dự Kiến</h3>
                <hr>
                <div class="row">
                    <div class="tab text-center">
                        <button class="tablinks active" onclick="showTab(event, 'bao-gom')">
                            Giá Bao
                            Gồm
                        </button>
                        <button class="tablinks" onclick="showTab(event, 'khong-bao-gom')">
                            Giá Không Bao
                            Gồm
                        </button>
                        <button class="tablinks" onclick="showTab(event, 'phu-thu')">Phụ Thu</button>
                        <button class="tablinks" onclick="showTab(event, 'luu-y')">Lưu Ý</button>
                    </div>
                    <div id="bao-gom" class="tabcontent active">
                        <div>
                            <p>
                                <b>Vận Chuyển:</b><br>
                                - Xe vận chuyển máy lạnh, đời mới theo chương trình. <br>
                                - Vé máy bay khứ hồi Sg-Quy Nhơn –Sg hãng Vietjet Air + 7kg hành lý xách tay + 20kg
                                hành lý ký gửi. <br>
                                <b>Lưu Trú:</b> <br>
                                - Khách sạn tiêu chuẩn 3 sao (2-3 khách/phòng). Anh Thảo places… Hoặc các khách sạn
                                tương đương. Tiện nghi: tivi, nước nóng, vệ sinh… <br>
                                <b>Khác:</b> <br>
                                - Ăn uống theo chương trình tham quan. <br>
                                - Vé thắng cảnh vào cổng các điểm du lịch theo chương trình. <br>
                                - HDV nhiệt tình, kinh nghiệm, am hiểu kiến thức tuyến điểm phục vụ đoàn theo tour.
                                <br>
                                - Bảo hiểm du lịch theo quy định. <br>
                                - Nước uống, khăn lạnh phục vụ đoàn: 01 chai nước + 01 khăn lạnh/ngày.
                            </p>
                        </div>
                    </div>
                    <div id="khong-bao-gom" class="tabcontent">
                        <div>
                            <p>
                                - Thuế VAT. <br>
                                - Chi phí ngủ phòng đơn và các chi phí cá nhân ngoài chương trình. <br>
                                -Tiền TIP cho HDV + Tài xế địa phương
                            </p>
                        </div>
                    </div>
                    <div id="phu-thu" class="tabcontent">
                        <div>
                            <p>
                                - Phụ thu phòng đơn: 1.000.000 vnđ/khách/tour. Lễ Tết phụ thu phòng đơn: 1.300.000
                                VNĐ/khách/tour <br>
                                - Phụ thu ngoại quốc 500,000 vnd/khách <br>
                                <b>Chính sách phụ thu trẻ em: </b> <br>
                                - Bé dưới 2 tuổi: Phụ phí vé máy bay theo hãng hàng không. <br>
                                - Trẻ em từ 2 đến dưới 5 tuổi: chỉ tính vé máy bay (gia đình tự lo cho bé). Hai
                                người lớn chỉ được kèm 1 trẻ em từ 2 – dưới 5 tuổi, em thứ hai trở lên phải mua vé
                                người lớn (để đảm bảo tiêu chuẩn cho quý khách và chất lượng cho tour) <br>
                                - Trẻ em từ 5 tuổi đến dưới 10 tuổi: Giá theo web gồm vé máy bay, ăn uống, tham
                                quan, ngủ kèm bố mẹ. ( Có suất ăn các bữa theo tiêu chuẩn người lớn, có ghế ngồi
                                trên xe như người lớn. Có nón du lịch, nước suối, bảo hiểm. Ngủ chung với cha mẹ.
                                Hai người lớn chỉ được kèm 1 trẻ em từ 5 đến dưới 10 tuổi, em thứ hai trở lên phải
                                mua 1 suất giường đơn cho bé.) <br>
                                - Trẻ en từ 10 tuổi trở lên: phải mua 100% giá tour như người lớn
                            </p>
                        </div>
                    </div>
                    <div id="luu-y" class="tabcontent">
                        <div>
                            <p>
                                <b><u>LƯU Ý:</u></b> <br>
                                - Giờ bay có thể thay đổi theo giờ bay của hãng hàng. Vé máy bay là không hoàn
                                không hủy. <br>
                                - Khi đi máy bay Quý khách nên mang theo một trong các giấy tờ sau: (Chứng
                                minh thư nhân dân còn hạn dưới 15 năm, hoặc hộ chiếu, giấy khai sinh (đối
                                với trẻ em), với trẻ em trên 14t chưa có CMND phải làm giấy xác nhận của địa
                                phương trước khi bay. <br>
                                - Đối với khách hàng từ 70 – 85 tuổi, gia đình và quý khách phải cam kết đảm bảo
                                tình trạng sức khỏe với chúng tôi trước khi tham gia tour. Nếu có bất cứ sự cố nào
                                xảy ra trên tour công ty không chịu trách nhiệm dưới mọi tình huống. <br>
                                - Trong những trường hợp bất khả kháng như: khủng bố, bạo động, thiên tai, lũ lụt,
                                dịch bệnh… Tuỳ theo tình hình thực tế và sự thuận tiện, an toàn của khách hàng, công
                                ty Du Lịch sẽ chủ động thông báo cho khách hàng sự thay đổi như sau: huỷ hoặc thay
                                thế bằng một chương trình mới với chi phí tương đương chương trình tham quan trước
                                đó. Trong trường hợp chương trình mới có phát sinh thì Khách hàng sẽ thanh toán
                                khoản phát sinh này. Tuy nhiên, mỗi bên có trách nhiệm cố gắng tối đa, giúp đỡ bên
                                bị thiệt hại nhằm giảm thiểu các tổn thất gây ra vì lý do bất khả kháng.…
                            </p>
                        </div>
                    </div>
                </div>
            </div>
  
