
<img style="width: 100%;border-radius: 20px 20px 0 0;" src="/Image/CT-CN-MCM/ivivu-cuoc-song-ca-mau-750x390.gif" alt="">
<div class="content">
    <div style="margin: 0 10px;">
        <h2>Miền tây thân thương, trữ tình</h2>
        <p>
            Xe Limousine là dòng xe hiện đại, tối ưu và sang trọng, được áp dụng phục vụ cho hành khách
            tuyến đường dài để đảm bảo sự nghỉ ngơi và thoải mái khi đi trên xe. Để chuyến du lịch được
            trọn vẹn và giữ gìn được sức khỏe cho quý khách thì đây là giải pháp cho những trải nghiệm
            thật nhẹ nhàng và thoải mái nhất…
        </p>

        <p>
            Được thiên nhiên ưu đãi cho yếu tố địa hình sông nước với những vườn trái cây trĩu quả,
            những cánh đồng lúa thẳng cánh cò bay, vì thế nên miền Tây luôn là điểm đến lý tưởng để du
            khách hòa mình vào thiên nhiên, sau những ngày làm việc bận rộn nơi phố thị ồn ào. Mỗi tỉnh
            miền Tây có một màu sắc riêng, mỗi đặc trưng riêng, cùng iVIVU khám phá ngay hôm nay!
        </p>
        <h2>Những trải nghiệm thú vị trong chương trình</h2>
        <p>
            - Mũi Cà Mau: du khách được thăm cột mốc toạ độ quốc gia, ngắm rừng, ngắm biển, chiêm ngưỡng
            ráng chiều ẩn hiện trên vùng trời biển bao la. <br>
            - Nhà Thờ Tắc Sậy: hay còn gọi là Nhà Thờ Trương Bửu Diệp, nơi gắn liền với một nhân vật nổi
            tiếng – cha Trương Bửu Diệp, vị linh mục được xem như một vị thánh bởi sự linh thiêng, thi
            ân giáng phúc cho những ai tin tưởng nguyện cầu. <br>
            -Nhà Công Tử Bạc Liêu: một trong 3 ngôi nhà cổ lâu đời đại điện cho văn hóa miền Tây ngày
            xưa. Nó còn gắn liền với cái tên của Công tử Bạc Liêu. Một vị công tử ăn chơi khét tiếng
            thời trước với những câu hát “đốt tiền nấu trứng tỏ ra mình giàu”. <br>
            - Chợ nổi Cái Răng: một trong ba ngôi chợ nổi lớn nhất ở Cần Thơ. Nét độc đáo chính của ngôi
            chợ này chính là chuyên buôn bán các loại trái cây, đặc sản của vùng đồng bằng sông Cửu
            Long. <br>
            - Chùa Botum Vong Sa Som Rong: Ngoài là không gian sinh hoạt văn hoá, tín ngưỡng của bà con
            đồng bào Khmer, những ngôi chùa còn là điểm đến không thể bỏ qua của khách thập phương trong
            hành trình khám phá vùng đất Miền Tây Nam Bộ <br>
        </p>
        <h2>Chương trình tour</h2>
        <p> <u><b>ĐIỂM ĐÓN KHÁCH:</b></u></p>
        <p>
            19h00: Đón khách tại 367 Tân Sơn, Phường 15, Quận Tân Bình <br>
            19h30: Đón khách tại Trường Đại Học Hồng Bàng, 03 Hoàng Việt, Phường 4, Quận Tân Bình. <br>
            20h00: Đón khách tại Nhà Văn Hóa Thanh Niên, 04 Phạm Ngọc Thạch, Phường Bến Nghé, Quận 1
            <br>
            20h30: Đón khách tại Bến xe Miền Tây, Phường An Lạc, Quận Bình Tân. <br>
        </p>
        <p> <b>ĐÊM: HỒ CHÍ MINH – ĐẤT MŨI </b></p>
        <p>
            19h00: Xe và HDV đón đoàn tại điểm hẹn tại TP. HCM. Khởi hành đi Đất Mũi, đoàn sẽ hành trình
            qua các tỉnh miền Tây Nam bộ, quý khách nghỉ đêm trên xe.
        </p>
        <p><b>NGÀY 1: ĐẤT MŨI – BẠC LIÊU ( ĂN SÁNG, TRƯA)</b></p>
        <p>
            07h00: Quý khách dùng điểm tâm sáng. <br>
            Sau đó, Quý khách đặt chân lên mảnh đất cực nam của Tổ quốc, ngắm mũi Cà Mau, khu rừng ngập
            mặn lớn thứ hai trên thế giới, Bảo Tồn Đa Dạng Sinh Học - Hệ Sinh Thái Rừng Ngập Mặn - Vuông
            Tôm, Rừng Kháng Chiến. Đoàn chụp hình lưu niệm tại cột mốc tọa độ quốc gia, Panô biểu tượng
            mũi Cà Mau và Cột mốc Đường Hồ Chí Minh - điểm cuối Cà Mau Km2436 là điểm đến du lịch đánh
            dấu "điểm cuối cùng" trên chuyến hành trình trải dài cả quốc gia, đi qua 28 tỉnh, thành phố
            với chiều dài 3.183km.
        </p>
        <img src="/Image/CT-CN-MCM/ivivu-dat-mui-ca-mau.gif" alt="">
        <p id="note"> Cực Nam Tổ Quốc</p>
        <img src="/Image/CT-CN-MCM/ivivu-mui-ca-mau.gif" alt="">
        <p id="note">Đất Mũi Cà Mau</p>
        <p>
            (Trường hợp đường xấu do ảnh hương của thời tiết, đoàn sẽ đi Cano xuống Đất Mũi. Chi phí tự
            túc: 200.000đ/khách) <br>
            Sau khi check in, lưu niệm tại cột mốc. Công ty sẽ trao Giấy chứng nhận hoàn thành hành
            trình chinh phục Cực Nam Tổ Quốc Việt Nam – Mũi Cà Mau cho quý khách. <br>
            10h30: Trở về tham quan thị trấn Năm Căn, thị trấn cực nam của Tổ Quốc, quý khách tham quan
            tượng đài Phan Ngọc Hiển, chợ Năm Căn. <br>
            12h00: Đoàn dùng cơm trưa với những món đặc sản bản xứ Tây Nam Bộ tại Đất Mũi. <br>
            Đặc biệt là món Cua biển Cà Mau trứ danh. Quý khách sẽ được thưởng thức hương vị miền Tây
            thơm ngon bắt vị. <br>
        </p>
        <img src="/Image/CT-CN-MCM/ivivu-cua-ca-mau.jpg" alt="">
        <p id="note">Cua Cà Mau</p>
        <p>
            Trên đường đi xe đưa quý khách viếng Nhà thờ Cha Diệp hay còn gọi là nhà thờ Tắc Sậy, nhà thờ
            nổi tiếng của đất Miền Tây.
        </p>
        <img src="/Image/CT-CN-MCM/ivivu-thanh-duong-nha-tho-cha-diep.gif" alt="">
        <p id="note">Thánh Đường Nhà Thờ Cha Diệp</p>
        <p>
            15h30: Đoàn về tới Bạc Liêu nhận phòng khách sạn 5 Sao nghỉ ngơi. <br>
            Quý khách tự do nghỉ ngơi, thư giãn tại khách sạn. <br>
            17h00: Xe đưa đoàn dạo quanh một vòng tham quan, ngắm cảnh thành phố Bạc Liêu. Quý khách
            tham quan và chụp hình tại Nhà công tử Bạc Liêu, một trong những ngôi nhà lớn nhất miền tây
            nam bộ thời bấy giờ. <br>
        </p>
        <img src="/Image/CT-CN-MCM/ivivu-nha-cong-tu-bac-lieu.gif" alt=""><br><br>
        <p>- Tham quan nhà máy phong điện (cánh đồng quạt gió, điểm sống ảo đang cuốn hút lữ khách).</p><br>
        <img src="/Image/CT-CN-MCM/ivivu-canh-dong-quat-gio-bac-lieu-9.gif" alt="">
        <p id="note">Cánh Đồng Quạt Gió</p>
        <p>
            18h00: Quý khách tự túc khám phá ẩm thực Tp. Bạc Liêu về đêm. Các món ngon không nên bỏ lỡ
            gợi ý cho quý khách khi đến với Bạc Liêu: Bún cay, Cà ri dê, Bún Mắm, Bánh xèo.
        </p>
        <p><b>NGÀY 2: BẠC LIÊU - SÓC TRĂNG – CẦN THƠ ( ĂN SÁNG, TRƯA, TỐI)</b></p>
        <p>
            Buổi sáng: 07h00: Quý khách dùng điểm tâm tại khách sạn, làm thủ tục trả phòng. <br>
            Tiếp tục hành trình Quý khách viếng Quán Âm Phật Đài, một trong nơi nổi tiếng linh thiêng
            tại Bạc Liêu, cầu xin mẹ Quan Âm phù hộ cho gia đình an lành. <br>
        </p>
        <img src="/Image/CT-CN-MCM/ivivu-me-nam-hai.gif" alt="">
        <p id="note">Quan Âm Phật Đài</p>
        <p>
            11h00: Đoàn tiếp tục khởi hành đến Sóc Trăng, đoàn viếng Chùa Som Rong có tên đầy đủ là chùa
            Botum Vong Sa Som Rong. Kiến trúc chùa là của người Khmer nhưng được kết hợp giữa truyền
            thống và hiện đại, đặc biệt là phối màu tạo nên điểm nhấn độc đáo cho ngôi chùa.
        </p>
        <img src="/Image/CT-CN-MCM/ivivu-chua-som-rong-soc-trang.gif" alt="">
        <p id="note">Chùa Som Rong</p>
        <p>
            Đoàn dùng cơm trưa và tiếp tục hành trình về Cần Thơ. <br>
            15h00: Đoàn về đến Cần Thơ, quý khách nhận phòng nghỉ ngơi tại khách sạn 4 sao. <br>
            Quý khách tự do nghỉ ngơi và khám phá Cần Thơ. <br>
            18h00: Quý khách dùng buổi tối trên Du Thuyền Cần Thơ, quý khách sẽ được hòa mình vào không
            khí miền sông nước. <br>
        </p>
        <img src="/Image/CT-CN-MCM/ivivu-du-thuyen-can-tho-2.gif" alt="">
        <p id="note">Du Thuyền Cần Thơ</p>
        <p>
            Thưởng thức bữa tiệc tối trên nhà hàng Du Thuyền Cần Thơ là điều tuyệt vời cho những ai muốn
            khám phá vẻ đẹp lung linh sắc màu và thi vị của một Tây đô về đêm.
        </p>
        <p><b>NGÀY 3: CẦN THƠ - CHỢ NỔI CÁI RĂNG – MỸ THO – HỒ CHÍ MINH (ĂN SÁNG, TRƯA)</b></p>
        <p>
            05h00: Xe và HDV đưa quý khách đến Bến tàu để tham quan chợ nổi Cái Răng, một trong những chợ
            nổi lớn nhất Đồng Bằng sông Cửu Long, là nét văn hóa mua bán trên sông đặc thù của người Nam
            Bộ. Bạn sẽ có cảm giác thích thú choáng ngợp khi đắm mình trong không khí buôn bán sôi nổi
            chân chất của người dân miền sông nước. (Chi phí tự túc)
        </p>
        <img src="/Image/CT-CN-MCM/ivivu-cho-noi-cai-rang-1.gif" alt="">
        <p id="note">Chợ Nổi Cái Răng </p>
        <p>
            07h00: Quý khách dùng điểm buffet sáng tại khách sạn 4 sao, trả phòng, đoàn khởi hành về lại
            Mỹ Tho. <br>
            09h30: Quý khách đến bến tàu du lịch Tiền Giang. Du thuyền trên sông Tiền ngắm cảnh 04 cù
            lao Long, Lân, Qui, Phụng <br>
            - Thuyền chạy dọc theo những bè cá nổi để du khách tìm hiểu cách nuôi cá trên sông của người
            dân địa phương và ngắm nhìn cầu Rạch Miễu. <br>
        </p>
        <img src="/Image/CT-CN-MCM/ivivu-cu-lao-thoi-son-tien-giang.gif" alt="">
        <p id="note">Trải Nghiệm Xuồng Chèo</p>
        <p>
            - Đến cù lao Thới Sơn du khách tản bộ trên đường làng, tham quan vườn cây ăn trái, thưởng
            thức các loại trái cây theo mùa và nghe đờn ca tài tử Nam Bộ.
        </p>
        <img src="/Image/CT-CN-MCM/ivivu-vuon-trai-cay-can-tho.gif" alt="">
        <p id="note">Vườn Trái Cây</p>
        <p>
            - Đến tham quan trại nuôi ong mật, tham quan lò kẹo dừa, thưởng thức trà mật ong chanh, rượu
            chuối hột và bánh mứt. <br>
            - Sau đó dùng xuồng chèo len lỏi trong rạch nhỏ ngắm nhìn hai hàng dừa nước thiên nhiên và
            phong cảnh đơn sơ của miệt vườn <br>
            Đoàn dùng cơm trưa tại nhà hàng với các món đặc sản nhà vườn, điểm nhấn là món Cá Tai Tượng
            chiên xù – độc đáo bắt mắt và thơm ngon. <br>
            15h00: Thuyền đưa quý khách về lại bến tàu 30/04. Xe và HDV đưa quý khách tiếp tục khởi hành
            vể Tp.HCM. <br>
            18h30: Về đến TP. HCM. Xe đưa đoàn về điểm đón ban đầu, Kết thúc chương trình tham quan chia
            tay và hẹn gặp lại quý khách. <br>

        </p>
        <p id="note">
            Lưu ý: Thứ tự các điểm tham quan trân có thể thay đổi tùy theo hoàn cảnh thực tế và
            điều kiện thời tiết, nhưng số lượng các điểm tham quan không thay đổi.
        </p>
        <h3>Chi Phí Dự Kiến</h3>
        <hr>
        <div class="row">
            <div class="tab text-center">
                <button class="tablinks active" onclick="showTab(event, 'bao-gom')">
                    Giá Bao
                    Gồm
                </button>
                <button class="tablinks" onclick="showTab(event, 'khong-bao-gom')">
                    Giá Không Bao
                    Gồm
                </button>
                <button class="tablinks" onclick="showTab(event, 'phu-thu')">Phụ Thu</button>
                <button class="tablinks" onclick="showTab(event, 'luu-y')">Lưu Ý</button>
            </div>
            <div id="bao-gom" class="tabcontent active">
                <div>
                    <p>
                        <b>Vận chuyển</b> <br>
                        - Xe Limousine 28c: Mỗi đợt tối thiểu 25 – 28 khách khách/đợt. <br>
                        Trường hợp đường xấu do ảnh hương của thời tiết, đoàn sẽ đi Cano xuống Đất Mũi.
                        Chi phí tự túc: 200.000đ/khách. <br>
                        <b>Lưu trú:</b><br>
                        - Khách sạn 5 sao tại Bạc Liêu: Phòng: 2-4 khách/phòng <br>
                        - Khách sạn 4 sao tại Cần Thơ: 2-3 khách/phòng <br>
                        Trường hợp trong đợt khởi hành có khách lẻ ghép, công ty sẽ ghép cho khách và
                        không phải đóng phụ thu <br>
                        <b>Khách:</b> <br>
                        - Ăn uống theo chương trình tham quan. <br>
                        - Vé tham quan: Đất Mũi, Cánh đồng quạt gió, Nhà công tử Bạc Liêu, Thuyền lớn,
                        xuồng chèo, dừa tươi, trái cây, trà mật ong, nghe tài tử <br>
                        - Bảo hiểm: 50.000.000 đ/Người/trường hợp (Không được hưởng Bảo hiểm du lịch cho
                        các trường hợp hợp sau: trên 80 tuổi, tiền sử các bệnh như: tim mạch, đột quỵ,
                        …) <br>
                        - Hướng dẫn viên: HDV nhiệt tình, vui vẻ phục vụ đoàn suốt tuyến <br>
                        - Nước suối, khăn lạnh, nón: Nước suối: 1 chai 500ml/ngày/khách, Khăn lạnh: 1
                        cái/ngày/khách, Nón du lịch: 1 nón/khách. <br>
                        - Thuế VAT <br>
                    </p>

                </div>
            </div>
            <div id="khong-bao-gom" class="tabcontent">
                <div>
                    <p>
                        - Chi phí cá nhân: Giặt ủi, điện thoại,ăn uống ngoài chương trình … <br>
                        - Điểm tham quan: Các chi phí ngoài chương trình, Chợ nổi Cái Răng lúc 5 giờ
                        sáng. <br>
                    </p>
                </div>
            </div>
            <div id="phu-thu" class="tabcontent">
                <div>
                    <p>
                        - Phụ thu phòng đơn: 1.000.000đ/khách/2 đêm (ngày thường) và 1.500.000đ/khách/2
                        đêm (ngày lễ) <br>
                        <b>Phụ thu trẻ em</b> <br>
                        - Trẻ em dưới 5 tuổi: Cha, mẹ hoặc người thân đi kèm tự lo các chi phí ăn, ngủ,
                        tham quan (nếu có) cho bé. Hai người lớn chỉ kèm 1 trẻ em dưới 5 tuổi, em thứ 2
                        trở lên phải mua ½ vé tour <br>
                        - Từ 6-10 tuổi: Giá vé 80%. Bao gồm các dịch vụ ăn uống, ghế ngồi trên xe và ngủ
                        chung với gia đình. Hai người lớn chỉ được kèm 1 trẻ em từ 5 đến dưới 10 tuổi,
                        em thứ 2 trở lên phải mua suất người lớn. <br>
                        - Trẻ em 11 tuổi: Vé người lớn, tiêu chuẩn như người lớn
                    </p>

                </div>
            </div>
            <div id="luu-y" class="tabcontent">
                <div>
                    <p>
                        - Du khách có mặt tại điểm đón trước 15 phút. Du khách đến trễ khi xe đã khởi
                        hành hoặc hủy tour không báo trước vui lòng chịu phí như hủy vé ngay ngày khởi
                        hành’ <br>
                        - Du khách mang theo giấy CMND hoặc Hộ chiếu (Bản chính), nên mang theo hành lý
                        gọn nhẹ, không mang valy lớn. <br>
                        - Trẻ em phải đi cùng cha mẹ hoặc có giấy cam kết đi tour cùng người thân, khi
                        đi phải mang theo giấy khai sinh hoặc hộ chiếu. <br>
                        - Du khách tự quản lý tiền bạc tư trang trong qua trình tham quan du lịch. <br>
                        - Khi đăng ký, quý khách vui lòng cung cấp đầy đủ Họ tên và năm sinh. <br>
                        - Đối với du khách là Việt kiều, Quốc tế nhập cảnh Việt Nam bằng visa rời, vui
                        lòng mang theo tờ khai hải quan và visa khi đi tour. <br>
                        - Chương trình tour được coi là biên bản ghi nhớ giữa khách hàng và công ty.
                        Những thắc mắc, khiếu nại sẽ dựa vào những quy định trong chương trình và phiếu
                        thu để giải quyết.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
