
<img style="width: 100%;border-radius: 20px 20px 0 0;"
     src="/Image/HT-PT-MN/ivivu-ho-tram-bia-750x390.jpg" alt="">
<div class="content">
    <div style="margin: 0 10px;">
        <h3>Phan Thiết - Vùng Đất Nắng Gió</h3>
        <p>
            Xe Limousine hay được gọi là “Chuyên Cơ Mặt Đất“Xe Limousine là dòng xe hiện đại, tối ưu và
            sang trọng, được cải tiến từ những chiếc xe du lịch 40 chỗ thành những chiếc xe 20 chỗ sang
            trọng, xe du lịch 29 chỗ thành 18-20 chỗ. Xe Limousine được áp dụng phục vụ cho hành khách
            tuyến đường dài để đảm bảo sự nghỉ ngơi và thoải mái khi đi trên xe. <br>

            Thiên nhiên dường như quá ưu đãi cho bờ biển Phan Thiết, bởi nó chứa đựng những điều cuốn
            hút du khách, biển xanh, cát trắng, rặng dừa xanh,…đã tạo cho Phan Thiết sức hấp dẫn khó
            cưỡng cho những ai yêu biển, yêu cái nắng vàng trên cát. Ngỡ như khô cằn nhưng lại vô cùng
            lãng mạn. Đừng nghĩ Phan Thiết không có gì để khám phá, thật ra nó là một điểm nghĩ dưỡng
            sau những ngày làm mệt mỏi, căng thẳng nơi phố thị vô cùng hữu hiệu, là nơi để bạn và gia
            đình thư giãn vào những ngày hè oi bức, gắn kết tình thân hay là nơi trăng mật vô cùng lãng
            mạn.
        </p>
        <h3>Những trải nghiệm thú vị trong chương trình</h3>
        <p>
            - Trải nghiệm chuyên cơ mặt đất xe Limousine cao cấp. <br>

            - Khám Phá Mũi Kê Gà – Ngọn Hải Đăng Của Bình Thuận<br>

            - Fishermen Show – Huyền Thoại Làng Chài<br>

            - Đồi Cát Bàu Trắng – “Tiểu Sa Mạc Sahara” Của Bình Thuận<br>

            - Tắm Biển - Nghĩ Dưỡng Tại Resort 4 Sao<br>

            - Check-In Công Viên Nhiệt Đới Tropicana Park
        </p>
        <h3>Chương trình tour</h3>
        <h4>ĐIỂM ĐÓN:</h4>
        <p>
            05h00: Đón khách tại 367 Tân Sơn, Phường 15, Quận Tân Bình. <br>

            05h30: Đón khách tại Trường Đại Học Hồng Bàng, 03 Hoàng Việt, Phường 4, Quận Tân Bình (Có
            chổ gửi xe qua đêm: bãi xe nhà hàng Hoa Sứ của khách sạn Đệ Nhất.)<br>

            06h00: Đón khách tại Nhà Văn Hóa Thanh Niên, 04 Phạm Ngọc Thạch, Phường Bến Nghé, Quận
            1.<br>

            06h15: Đón khách tại Cây xăng Comeco, Ngã 4 Hành Xanh, Phường 21, Quận Bình Thạnh.
        </p>
        <img src="/Image/HT-PT-MN/ivivu-xe-limousine.gif" alt="">
        <p id="note">Xe Limousine.</p>
        <h3>NGÀY 1: TP. HỒ CHÍ MINH – HỒ TRÀM – TROPICANA PARK – MŨI NÉ ( ĂN SÁNG, TRƯA, TỐI)</h3>
        <p>
            Buổi sáng: 05h30: Xe và hướng dẫn viên đón khách tại điểm hẹn, khởi hành theo dọc đường ven
            biển đến với Hàm Thuận Nam. <br>

            07h00: Ăn điểm tâm sáng tại nhà hàng và tiếp tục cuộc hành trình. Quý khách đi qua con đường
            ven biển của Long Hải, ngắm nhìn The Grand - Hồ Tràm Strip - cụm du lịch và khu nghỉ dưỡng
            phức hợp quy mô lớn nhất Việt Nam ở Phước Thuận, huyện Xuyên Mộc, Bà Rịa - Vũng Tàu.<br>

            Quý khách mở rộng tầm nhìn ngắm cảnh biển Long Hải, Hồ Cốc – nơi có bãi biển còn mang nét
            hoang sơ, đang đón ánh nắng ban mai trãi dài.<br>

            09h30: Đến Hồ Tràm, Quý khách đi tham quan một vòng TROPICANA PARK – Công viên giải trí
            nhiệt đới lớn nhất Hồ Tràm.<br>

            Tropicana Park là một trong những dự án trong tổ hợp du lịch nghỉ dưỡng giải trí NovaWorld
            Ho Tram, mang màu sắc Polynesia từ miền nhiệt đới nơi Thái Bình Dương với hàng loại trò chơi
            cảm giác mạnh, trải nghiệm khám phá thiên nhiên, công viên nước, các chương trình nghệ thuật
            cùng hàng trăm các tọa độ sống ảo hấp dẫn như:<br>

            - Đại dương dậy song
        </p>
        <img src="/Image/HT-PT-MN/ivivu-giai-tri-tropicana-park.gif" alt="">
        <p id="note">Tropicana Park.</p>
        <p>
            - Chiến thần Kuka<br>

            - Vũ điệu Hula<br>

            - Pele quyền năng<br>

            - Tháp cổ Tiki<br>

            - Đu đưa cùng Mamala<br>

            - Núi lửa phun trào<br>

            - Thử thách Maiu<br>

            - Vượt thác Kahuna<br>

            - Làng Aloha <br>

            12h00: Quý khách dùng bữa trưa tại Nhà hàng. Sau đó, xe đưa đoàn tiếp tục cuộc hành trình
            đến với Biển Hàm Thuận Nam. Tham quan Mũi Kê Gà – ngọn Hải Đăng của Bình Thuận.
        </p>
        <img src="/Image/HT-PT-MN/ivivu-ngon-hai-dang-phan-thiet.gif" alt="">
        <p id="note">Hải Đăng - Mũi Kê Gà.</p>
        <p>
            Buổi Chiều: 15h00: Đoàn tiếp tục khởi hành đến Mũi Né. Khi đến nơi quý khách nhận phòng tại
            resort. Tự do tắm biển. <br>

            17h30: Quý khách dùng cơm tối tại nhà hàng. Sau đó trở về khách sạn nghỉ ngơi, tự do khám
            phá Mũi Né về đêm. <br>

            Nghỉ đêm tại Phan Thiết.
        </p>
        <h4>NGÀY 2: KHÁM PHÁ PHAN THIẾT – BÀU TRẮNG – CIRCUS LAND ( ĂN SÁNG, TRƯA)</h4>
        <p>
            Buổi sáng: Đoàn dùng điểm tâm tại Nhà hàng. <br>

            Xe đưa đoàn khởi hành tham quan Bàu Trắng - Được ví như sa mạc Sahara, đồi cát Bàu Trắng là
            một địa điểm du lịch độc đáo tại Mũi Né - Phan Thiết. Bạn sẽ ngỡ ngàng trước khung cảnh tựa
            như một bức họa kỳ vĩ. Giữa cái nắng chói chang, đồi cát hiện lên với một vẻ mông lung ảo
            diệu. Bạn sẽ được dịp chiêm ngưỡng cảnh hồ sen tuyệt đẹp được vây quanh bởi những triền cát
            bao la. Đứng từ trên đồi nhìn xuống, mặt hồ trong xanh rợp sắc hồng hoa sen trông rất thơ
            mộng và tràn đầy sức sống.
        </p>
        <img src="/Image/HT-PT-MN/ivivu-xe-jeep-bau-trang.gif" alt="">
        <p id="note">Bàu Trắng.</p>
        <p>
            Bên cạnh đó, bạn có thể chơi trò trượt cát hoặc trải nghiệm đi xe Jeep địa hình để cảm nhận
            cảm giác thật tuyệt vời khi được lướt băng băng trên những triền cát, chinh phục hết đỉnh
            đồi này đến đỉnh đồi khác. (Chi phí ván trượt, xe Jeep tự túc)<br>

            11h30: Quý khách dùng bữa trưa tại nhà hàng.<br>

            Buổi chiều: Quý khách tự do tắm biển nghỉ ngơi tại Resort. <br>

            Hoặc có thể tự do khám phá Công viên giải trí Circus Land. Được thiết kế với cảnh quan sinh
            động, mô phỏng âm hưởng sôi động, náo nhiệt của những khu hội chợ xứ sở cờ hoa, sức hấp dẫn
            của Circus Land còn đến từ 7 trò chơi theo phong cách gánh xiếc và 7 trò chơi trúng thưởng
            lưu động xoay quanh những chủ đề li kì, độc đáo. (chi phí tự túc)
        </p>
        <img src="/Image/HT-PT-MN/ivivu-cong-vien-circus-land.gif" alt="">
        <p id="note">Công Viên Circus Land.</p>
        <p>
            - Những du khách ưa mạo hiểm cũng có thể thử thách lòng can đảm với các trò chơi cảm giác
            mạnh độc đáo như: Ferris Wheel đưa du khách lên cao ngắm nhìn toàn cảnh vịnh Phan Thiết hoặc
            Family Coaster, Sky Loop, Reverse Time, Happy Wheel, Carousel, Space Train...<br>

            - Đáng chú ý là loại hình biểu diễn hoạt náo – Xiếc cà kheo tại Circus Land. Theo phong cách
            bãi biển Mỹ, mô hình hoạt náo này với các màn trình diễn linh hoạt và liên tục sẽ dẫn dắt du
            khách bước vào những không gian sôi động, vui tươi.<br>

            Trải nghiệm càng thêm phần hấp dẫn với các buổi biểu diễn công phu của những nghệ sĩ chuyên
            nghiệp trong trang phục phát sáng. Khán giả có cơ hội chiêm ngưỡng các tiết mục uốn dẻo,
            nhào lộn bật cầu trên không, giữ thăng bằng trên dây.<br>

            Buổi tối: Quý Khách tự túc thưởng thức Hải Sản tại Mũi Né. (Bữa tối tự túc) <br>

            Hoặc quý khách có thể đăng kí tham gia chương trình Fishermen Show.
        </p>
        <h4>CHƯƠNG TRÌNH ĐẶC BIỆT: THAM DỰ FISHERMEN SHOW</h4>
        <p>
            Fishermen Show – Huyền Thoại Làng Chài (chi phí tự túc: 300.000đ – 500.000đ tùy vị trí ghế
            ngồi)
        </p>
        <img src="/Image/HT-PT-MN/ivivu-nhac-nuoc-fishermen-show.gif" alt="">
        <p id="note">Fishermen Show.</p>
        <p>
            Show vũ kịch đương đại trên sân khấu nhạc nước, đầu tiên và duy nhất tại Việt Nam. <br>

            Thời lượng: 1 tiếng, bao gồm phần giải trí và 6 chương múa của 25 diễn viên trên sân khấu
            nhạc nước.
        </p>
        <h3>NGÀY 3: MŨI NÉ – TP. HỒ CHÍ MINH ( ĂN SÁNG, TRƯA)</h3>
        <p>
            Buổi sáng: 07h00: Đoàn dùng điểm tâm sáng tại nhà hàng. Quý khách tự do tắm biển, hồ bơi tại
            resort. <br>

            10h30: Đoàn làm thủ tục trả phòng. Xe đưa đoàn tham quan Bảo tàng nước mắm Làng Chài Xưa độc
            đáo duy nhất tại Việt Nam là nơi chứa đựng không gian tái hiện sống động lại 300 năm lịch sử
            của làng chài Phan Thiết xưa, từ thời Chăm Pa, vua Nguyễn, trải dài cho đến tận thời Pháp
            thuộc và những năm của thập niên 40 – 60.
        </p>
        <img src="/Image/HT-PT-MN/ivivu-lang-chai-xua-mui-ne.gif" alt="">
        <p id="note">Làng Chài Xưa.</p>
        <p>
            - Tìm hiểu 14 không gian tương tác từ thời Champa cho đến nay.<br>

            - Tìm hiểu xem ông tổ của ngành nước mắm là ai?<br>

            - Khám phá làng chài lưới và thăm khu phố xưa Phan Thiết<br>

            - Tìm hiểu cách phân biệt các loại nước mắm ngon ngày xưa<br>

            - Xem các đoạn phim tài liệu về nước mắm từ xa xưa<br>

            - Chụp ảnh Đại Dương 3D.<br>

            12h00: Quý khách dùng bữa trưa tại nhà hàng.<br>

            Buổi chiều: 13h00: Quý khách trở về HCM, trên đường ghé mua đặc sản của Bình Thuận như:
            Thanh Long, nước mắm, mực khô… về làm quà cho người thân. <br>

            18h00: Đến TP.HCM, xe và hướng dẫn viên đưa du khách về điểm hẹn. Kết thúc tour. Chào Tạm
            Biệt Và Hẹn Gặp Lại!
        </p>
        <p id="note">
            Thứ tự tham quan có thể thay đổi nhưng vẫn đảm bảo đầy đủ điểm trong chương trình.
        </p>
    </div>
    <h3>Chi Phí Dự Kiến</h3>
    <hr>
    <div class="row">
        <div class="tab text-center">
            <button class="tablinks active" onclick="showTab(event, 'bao-gom')">
                Giá Bao
                Gồm
            </button>
            <button class="tablinks" onclick="showTab(event, 'khong-bao-gom')">
                Giá Không Bao
                Gồm
            </button>
            <button class="tablinks" onclick="showTab(event, 'phu-thu')">Phụ Thu</button>
            <button class="tablinks" onclick="showTab(event, 'luu-y')">Lưu Ý</button>
        </div>
        <div id="bao-gom" class="tabcontent active">
            <div>
                <p>
                    <b>Vận Chuyển:</b><br>
                    - Xe Limo 18: Mỗi đợt tối thiểu 16 – 18 khách/đợt.<br>
                    <b>Lưu Trú:</b> <br>
                    - Tiêu chuẩn 4 sao: Phòng 2-3 khách/phòng. Trường hợp trong đợt khởi hành có khách
                    lẻ ghép, Công ty sẽ ghép cho khách và không phải đóng phụ thu.<br>
                    <b>Khác:</b> <br>
                    - Ăn uống tham quan như trong chương trình. <br>

                    - Vé tham quan: Bảo tàng nước mắm, Bàu trắng<br>

                    - Bảo hiểm: 50.000.000 đ/Người/trường hợp, (Không được hưởng Bảo hiểm du lịch cho
                    các trường hợp hợp sau: trên 80 tuổi, tiền sử các bệnh như: tim mạch, đột quỵ…)<br>

                    - Hướng dẫn viên: 1 HDV nhiệt tình, vui vẻ phục vụ đoàn suốt tuyến<br>

                    - Nước suối, khăn lạnh, nón. <br>

                    - Thuế VAT<br>
                </p>
            </div>
        </div>
        <div id="khong-bao-gom" class="tabcontent">
            <div>
                <p>
                    - Chi phí cá nhân: Giặt ủi, điện thoại,ăn uống ngoài chương trình …. <br>

                    - Điểm tham quan chi phí cá nhân:<br>

                    + Thuyền đi mũi Kê Gà<br>

                    + Fisher Man Show<br>

                    + Công viên Tropicana Park Hồ Tràm<br>

                    + Công viên Circus Land Phan Thiết<br>

                    + Xe jeep, ván trượt tại Bàu Trắng<br>
                </p>
            </div>
        </div>
        <div id="phu-thu" class="tabcontent">
            <div>
                <p>
                    - Phụ thu phòng đơn: 1.200.000đ/khách/2 đêm (ngày thường). 2.000.000đ/khách/2 đêm
                    (ngày lễ) <br>

                    <b>Phụ thu trẻ em:</b><br>

                    - Trẻ em dưới 5 tuổi: Cha, mẹ hoặc người thân đi kèm tự lo các chi phí ăn, ngủ, tham
                    quan (nếu có) cho bé. Hai người lớn chỉ kèm 1 trẻ em dưới 5 tuổi, em thứ 2 trở lên
                    phải mua ½ vé tour.<br>

                    - Từ 6-10 tuổi: 80% vé tour: ngủ chung bố mẹ, 1 chỗ ngồi trên xe, ăn uống theo
                    chương trình.<br>

                    - Trên 10 tuổi: Vé người lớn, tiêu chuẩn như người lớn.<br>
                </p>
            </div>
        </div>
        <div id="luu-y" class="tabcontent">
            <div>
                <p>
                    <b><u>LƯU Ý:</u></b> <br>
                    - Trong trường hợp khách hàng dẫn theo trẻ em dưới 15 tuổi (không phải con ruột) đi
                    cùng trong chương trình, phải mang theo Giấy Ủy Quyền của cha mẹ, có xác nhận của
                    chính quyền địa phương. <br>

                    - Trẻ em phải đi cùng cha mẹ khi đi phải mang theo giấy khai sinh hoặc hộ chiếu.<br>

                    - Du khách có mặt tại điểm đón trước 30 phút. Du khách đến trễ khi xe đã khởi hành
                    hoặc hủy tour không báo trước vui lòng chịu phí như ‘hủy vé ngay ngày khởi
                    hành’.<br>

                    - Du khách mang theo giấy CMND hoặc Hộ chiếu (Bản chính), nên mang theo hành lý gọn
                    nhẹ, không mang vali lớn.<br>

                    - Du khách tự quản lý tiền bạc tư trang trong quá trình tham quan du lịch.<br>

                    - Khi đăng ký, quý khách vui lòng cung cấp đầy đủ Họ tên và năm sinh.<br>

                    - Đối với du khách là Việt kiều, Quốc tế nhập cảnh Việt Nam bằng visa rời, vui lòng
                    mang theo tờ khai hải quan và visa khi đi tour.<br>
                </p>
            </div>
        </div>
    </div>
</div>

