<img class="slideanim" style="width: 100%;border-radius: 20px 20px 0 0;"
     src="/Image/Sapa/dulichSaPa-1650268886-1480-1650277620.png" alt="Sapa Image">
<div class="content">
    <div style="margin: 0 10px;">
        <h2>Trekking giữa núi rừng Sapa</h2>
        <p>
            Sa Pa là một thị trấn vùng cao, ẩn chứa nhiều điều kỳ diệu của tự nhiên, phong cảnh thiên
            nhiên
            thiên nhiên với địa hình của núi đồi, tạo nên bức tranh có bố cục hài hoà, có cảnh sắc
            thơ mộng và hấp dẫn từ cảnh quan đất trời vùng đất phía Tây Bắc mà quý khách có
            thể trải nghiệm trong chuyến trekking bản Má Tra.Ngoài ra, du khách có thể chinh
            phục đỉnh Fansipan của dãy Hoàng Liên Sơn, ngắm vườn hoa Hàm Rồng và khám
            phá thung lũng Mường Hoa. Cùng iVIVU khám phá vùng đất diệu kỳ này ngay hôm
            nay!
        </p>
        <h2>Những trải nghiệm thú vị trong chương trình</h2>
        <p>
            Sa Pa ẩn chứa bao điều kỳ diệu bởi... <br>

            - Trekking bản Má Tra: hành trình tham quan bản làng dân tộc địa phương, là nơi sinh sống
            của người dân tộc thiểu số HMông, ZDao, Dáy, Tày… tận hưởng không khí yên tĩnh thanh bình và
            cảm nhận được những nét văn hóa truyền thống còn nguyên vẹn của ngôi làng. <br>

            - Fansipan, ngọn núi mệnh danh là “nóc nhà Đông Dương”, thuộc dãy Hoàng Liên Sơn được những
            người ưa du lịch và khám phá coi là biểu tượng chinh phục của sức trẻ và sự quyết tâm
        </p>

        <h2>Bạn có sẵn sàng</h2>
        <p>
            - Cung đường trekking 3-4km nhẹ nhàng, phù hợp cho mọi độ tuổi. Quý khách nên chuẩn bị các
            vật dụng chống nắng như nón, áo khoác và giày thể thao thuận tiện cho việc di chuyển.
        </p>
        <h2>Chương trình tour</h2>
        <h4>NGÀY 1: HÀ NỘI – TREKKING BẢN LÀNG SAPA ( ĂN TRƯA, CHIỀU)</h4>
        <p>
            Sáng: Xe đón quý khách tại khách sạn khu vực phố cổ, sau đó khởi hành đi Sa Pa. Đoàn sẽ khởi
            hành đi Sapa trên đường cao tốc Nội Bài mới, rút ngắn thời gian đi từ Hà Nội đến Sapa. Quý
            khách có dịp chiêm ngưỡng khung cảnh núi rừng hùng vĩ trên cung đường cao tốc dài nhất Việt
            Nam trước khi đến với thị trấn Sa Pa thơ mộng, chìm trong mây.
        </p><br>
        <p>
            Xe đến thị trấn Sa Pa nơi có rất nhiều dân tộc sinh sống như H’mong, Dao, Tày. Hướng dẫn viên
            sẽ đưa Quý khách ăn trưa tại nhà hàng.
        </p><br>
        <p>
            Chiều: Đoàn bắt đầu trekking hành trình tham quan bảng làng dân tộc địa phương, là nơi sinh
            sống của người dân tộc thiểu số HMông, ZDao, Dáy, Tày… Nơi đây thu hút đông đảo khách trong
            và ngoài nước, quý khách không khỏi ngỡ ngàng trước vẻ đẹp bình dị pha lẫn vẻ khang trang
            lịch sự của những ngôi làng trong thôn . Cách thị trấn Sapa 4 - 7km, là một cung đường quanh
            co lượn qua những ruộng bậc thang bát ngát tựa bên những sườn núi trùng trùng điệp điệp.
        </p>
        <br>
        <img class="slideanim" style="width=100%" src="~/Image\Sapa\ruong-mam-xoi.jpg" alt="">
        <p>
            Đoàn sẽ có dịp chiêm ngưỡng vẻ đẹp hùng vĩ của núi rừng Tây Bắc . Du khách sẽ được tận hưởng
            không khí yên tĩnh thanh bình và cảm nhận được những nét văn hóa truyền thống còn nguyên vẹn
            của ngôi làng này, du khách cũng cảm nhận được sự thân thiện hiếu khách của dân bản xứ, sau
            đó xe sẽ đón đoàn trở về khách sạn.
        </p><br>
        <img class="slideanim" style="width:100%" src="/Image/Sapa/dulichSaPa-1650268886-1480-1650277620.png" alt="">
        <p> Đoàn trở lại thị trấn Sa Pa, dùng bữa tối và nghỉ đêm tại khách sạn.</p><br>
        <h4>NGÀY 2: SAPA – CHINH PHỤC FANSIPAN/ KDL HÀM RỒNG ( ĂN SÁNG, TRƯA)</h4>
        <p>Sáng: Quý khách thưởng thức bữa sáng tại khách sạn. </p><br>
        <p>
            Opition 1: 9:00 Qúy khách bắt đầu hành trình khám phá Hàm Rồng với phong cảnh kỳ vỹ. Thăm
            vườn lan Đông Dương với đủ loại lan muôn màu sắc, đầu Rồng Thạch Lâm kỳ vĩ. Vượt qua cổng
            Trởi 1, cồng Trời 2, Qúy khách sẽ lên tới nơi cao nhất của Hàm Rồng là Sân Mây – nơi giao
            thoa của đất trời, ngắm nhìn toàn cảnh Sapa trên cao.
        </p><br>
        <img style="width:100%" class="slideanim" src="/Image/Sapa/nui-ham-rong-6.jpg" alt="">
        <P>
            Opition 2: 9:00 Quý khách khởi hành chinh phục đỉnh Fansipan cao 3143m – nóc nhà Đông Dương.
            Đây là tuyến cáp treo đạt 2 Kỷ lục Thế giới – Guinness World Record là tuyến cáp treo ba dây
            có độ chênh giữa ga đi và ga đến lớn nhất thế giới: 1410m và tuyến cáp treo ba dây dài nhất
            thế giới: 6292.5m. (Vé cáp treo tự túc)
        </P><br>
        <img class="slideanim" style="width:100%" src="/Image/Sapa/fansipan-4-4120-1650277616-6919-1652148667.png"
             alt="">
        <p>14:00: Xe đưa đoàn trở về Hà Nội.</p><br>
        <p>
            21:00: Xe về đến HN. Chuyến đi kết thúc tại đây. Cảm ơn quý khách đã lựa chọn công ty và xin
            hẹn gặp lại quý khách
        </p>
        <h3>Chi Phí Dự Kiến</h3>
        <hr>
        <div class="row">
            <div class="tab text-center">
                <button class="tablinks active" onclick="showTab(event, 'bao-gom')">
                    Giá Bao
                    Gồm
                </button>
                <button class="tablinks" onclick="showTab(event, 'khong-bao-gom')">
                    Giá Không Bao
                    Gồm
                </button>
                <button class="tablinks" onclick="showTab(event, 'phu-thu')">Phụ Thu</button>
                <button class="tablinks" onclick="showTab(event, 'luu-y')">Lưu Ý</button>
            </div>
            <div id="bao-gom" class="tabcontent active">
                <p> <span class="u-chiphi">VẬN CHUYỂN:</span></p>
                <p> - Xe Limousine Dcar 9 chỗ. </p>
                <p> - Xe tham quan trong chương trình tại Sapa.</p>
                <p> <span class="u-chiphi">LƯU TRÚ:</span></p>
                <p> - Khách sạn 3 sao ( 2 -3 khách/ 1 phòng).</p>
                <p> <span class="u-chiphi">KHÁC:</span></p>
                <p> - Ăn uống theo chương trình.</p>
                <p> - HDV địa phương đón và phục vụ khách từ đầu Sapa.</p>
                <p> - Nước suối cho mỗi khách.</p>
                <p> - Phí tham quan, vé vảo cửa 1 lần.</p>
            </div>
            <div id="khong-bao-gom" class="tabcontent">
                <p> - VAT (10%).</p>
                <p> - Đồ ăn và thức uống gọi thêm.</p>
                <p> - Chi phí cá nhân (Giặt là, điện thoại, mua sắm).</p>
                <p> - Bồi dưỡng cho lái xe và hướng dẫn.</p>
                <p>
                    - Vé cáp treo Fansipan 800.000đ ( Khách đi Fan sáng thứ 7, hoặc sáng ngày lễ tết giá
                    vé cáp treo Fansipan 900.000đ)
                </p>
            </div>
            <div id="phu-thu" class="tabcontent">
                <p> - Phụ thu phòng đơn khách sạn: 400.000 VNĐ/phòng/đêm</p>
                <p> - Trẻ dưới 5 tuổi: Miễn phí tour, ăn ngủ cùng bố mẹ.</p>
                <p> - Trẻ từ 5 đến 9 tuổi tính 75% giá người lớn.</p>
                <p> - 9 tuổi trở lên tính 100% giá người lớn</p>
                <p> Phụ thu Lễ Tết</p>
                <p> Giai Đoạn Áp Dụng:</p>
                <p> - 28/04 - 01/05/2023</p>
                <p> - 01/09 - 03/09/2023</p>
                <p> - 31/12 - 01/01/2024</p>
                <p> Sản Phẩm Tour Áp Dụng:</p>
                <p> - Tour 1 Ngày: Phụ thu 100,000/khách</p>
                <p> - Tour 2 Ngày trở lên: Phụ thu 20%</p>
            </div>
            <div id="luu-y" class="tabcontent">
                <p>
                    - Trình tự chương trình có thể thay đổi nhưng số lượng chương trình vẫn không thay
                    đổi.
                </p>
                <p>
                    - Quý khách có mặt tại điểm đón trước 15 phút. Du khách đến trễ khi xe đã khởi hành
                    hoặc hủy tour không báo trước vui lòng chịu phí như ‘hủy vé ngay ngày khởi hành’
                </p>
                <p>
                    - Quý khách mang theo giấy CMND hoặc Hộ chiếu (Bản chính), nên mang theo hành lý gọn
                    nhẹ, không mang valy lớn.
                </p>
                <p>
                    - Trẻ em phải đi cùng cha mẹ hoặc có giấy cam kết đi tour cùng người thân, khi đi
                    phải mang theo giấy khai sinh hoặc hộ chiếu.
                </p>
                <p> - Quý khách tự quản lý tiền bạc tư trang trong qua trình tham quan du lịch.</p>
                <p> - Khi đăng ký, quý khách vui lòng cung cấp đầy đủ Họ tên và năm sinh.</p>
                <p>
                    - Đối với du khách là Việt kiều, Quốc tế nhập cảnh Việt Nam bằng visa rời, vui lòng
                    mang theo tờ khai hải quan và visa khi đi tour.
                </p>
                <p>
                    - Chương trình tour được coi là biên bản ghi nhớ giữa khách hàng và Ivivu. Những
                    thắc mắc, khiếu nại sẽ dựa vào những quy định trong chương trình và phiếu thu để
                    giải quyết.
                </p>
            </div>
        </div>
    </div>
</div>
