
<img class="slideanim" style="width: 100%;border-radius: 20px 20px 0 0;" src="/Image/hue/cau-rong.jpg"
     alt="Sapa Image">
<div class="content">
    <div style="margin: 0 10px;">
        <h2>Chinh phục cung đường di sản miền Trung</h2>
        <p>
            Miền Trung, dải đất thân thương nối liền hai miền Nam - Bắc của Việt Nam. “Cung đường di sản
            miền
            Trung” sẽ kết nối du khách với các di sản văn hóa của nhân loại được UNESCO công nhận bao
            gồm:
            Quảng
            Bình cùng Vườn quốc gia Phong Nha - Kẻ Bàng; Huế với hai di sản là Quần thể di tích Cố đô
            Huế và
            Nhã
            Nhạc cung đình; Quảng Nam với hai di sản là Thánh địa Mỹ Sơn và đô thị cổ Hội An. Trên mỗi
            bước
            đi,
            du khách còn có thể khám phá cho mình nhiều điểm đến hấp dẫn: Bà Nà Hill, Làng Chài Lăng Cô,
            …và
            nhiều bãi tắm tuyệt đẹp: Cửa Đại, Non Nước, Lăng Cô, Nhật Lệ…cùng với những nét ẩm thực độc
            đáo
            của
            Miền Trung. Cùng iVIVU trải nghiệm cung đường tuyệt vời này ngay hôm nay!
        </p><br>
        <h2>Những trải nghiệm thú vị trong chương trình</h2>
        <p>Du khách sẽ không ngừng thổn thức bởi...</p>
        <p>
            - Hội An với Chùa Cầu Nhật Bản, Nhà Cổ hàng trăm năm tuổi, Hội Quán Phước Kiến & Xưởng thủ
            công
            mỹ
            nghệ.
        </p>
        <p>- Lưu lại những bức ảnh để đời ở cầu Bàn Tay Vàng trên Bà Nà Hills.</p>
        <p>- Thưởng thức Ca Huế trên Sông Hương.</p>
        <p>
            - Động Thiên Đường: Hoàng cung lòng đất sở hữu kỳ quan tráng lệ và huyền ảo bậc nhất thế
            giới.
        </p>
        <p>- Khám phá Đại Nội Huế với những kiến trúc độc đáo còn lại thời nhà Nguyễn.</p>
        <h2>Chương trình tour</h2>
        <h3>NGÀY 01: ĐÀ NẴNG – BÁN ĐẢO SƠN TRÀ - SUNWHEEL (ĂN TRƯA, TỐI) </h3>
        <p>
            Sáng: Đón quý khách tại Đà Nẵng (Sân bay, Ga, điểm hẹn trung tâm) từ 07h00 đến 13h00 (Sau
            thời
            gian
            này, quý khách tự túc nhập đoàn). Xe đưa đi ăn trưa đặc sản nổi tiếng Đà Nẵng “Bánh tráng
            thịt
            heo 2
            đầu da & Mỳ Quảng”. Nhận phòng K/sạn 3* nghỉ ngơi.
        </p><br>
        <p>
            Chiều: Lên Bán Đảo Sơn Trà mục kích phố biển Đà Nẵng trên cao, viếng Linh Ứng Tự - nơi có
            tượng
            Phật
            Bà 67m cao nhất Việt Nam và tắm biển Mỹ Khê Đà Nẵng.
        </p><br>
        <img class="slideanim" src="/Image/hue/chualinhungsontra.jpg" alt="">
        <p>
            Tối: Ăn tối nhà hàng. Tự do trải nghiệm Công viên Châu Á - Asia Park Đà Nẵng là sự kết hợp
            những
            nét
            độc đáo, mới lạ của các mô hình giải trí trên thế giới với những nét văn hóa đặc sắc đậm
            chất Á
            Đông.
        </p><br>
        <h3>NGÀY 02: NGŨ HÀNH SƠN – PHỐ CỔ HỘI AN (ĂN SÁNG, TRƯA, TỐI) </h3>
        <p>
            Sáng: Điểm tâm. Vòng qua Cầu Rồng lưu lại dấu ấn trên Cầu Tình Yêu, tản bộ thưởng thức không
            khí
            trong lành bên bờ Hàn Giang với tượng Cá Chép Hóa Long - Biểu tượng mong muốn vươn lên của
            người
            Đà
            Nẵng. Tham quan Cụm danh thắng di tích Ngũ Hành Sơn và Làng Nghề Điêu Khắc Đá. Mua sắm đặc
            sản
            Qùa
            Miền Trung.
        </p><br>
        <img class="slideanim" src="/Image/hue/cau-rong.jpg" alt="">
        <p>Trưa: Ăn trưa nhà hàng.</p><br>
        <p>
            Chiều: Khởi hành vào Hội An bách bộ tham quan và mua sắm Phố Cổ với: Chùa Cầu Nhật Bản, Nhà
            Cổ
            hàng
            trăm năm tuổi, Hội Quán Phước Kiến & Xưởng thủ công mỹ nghệ. Khởi hành về lại Đà Nẵng.
        </p>
        <br>
        <img class="slideanim" src="/Image/hue/pho-co-hoi-an-11-1.jpg" alt="">
        <p>
            Tối: Ăn tối nhà hàng. Tự do thưởng ngoạn du thuyền trên sông Hàn ngắm cảnh Đà Thành về đêm,
            chụp
            ảnh
            Cầu Quay Sông Hàn, cầu Rồng phun lửa và nước vào cuối tuần.
        </p><br>
        <h3>NGÀY 3: BÀ NÀ NÚI CHÚA - CỐ ĐÔ HUẾ (ĂN SÁNG, TỐI)</h3>
        <p>
            Sáng: Điểm tâm. Khởi hành đi Bà Nà - Núi Chúa (Tự túc chi phí Option Bà Nà theo giá của Sun
            Group).
            Quý khách sẽ tận hưởng cảm giác bồng bền khi ngồi trên cabin lơ lững giữa chừng mây. Viếng
            chùa
            Linh
            Ứng với tượng Phật Thích Ca cao 27m, viếng đền thờ Bà Chúa Mẫu Thượng Ngàn. Tham quan Cầu
            vàng -
            Cây
            cầu độc đáo nằm trong vườn Thiên Thai ở Bà Nà Hill - được xây dựng trên độ cao 1.400m so với
            mặt
            nước biển, cây cầu gồm 8 nhịp và có độ dài là 150m. Cây cầu được nâng đỡ bởi đôi bàn tay
            khổng
            lồ.
            Người đi như lạc giữa tiên cảnh nơi có mây, trời bao la.
        </p><br>
        <img class="slideanim" src="/Image/hue/Bà-Nà-2-700x700.jpg" alt="">
        <p>
            - Tham gia vui chơi tại công viên Fantasy Park: với các trò chơi phiêu lưu mới lạ như: Vòng
            Quay
            Tình
            Yêu, Phi Công Skiver, Đường Đua Lửa, Ngôi Nhà Ma và Khu trưng bày hơn 40 tượng sáp những
            nhân
            vật
            nổi tiếng trên thế giới…
        </p><br>
        <p>
            Trưa: Ăn trưa option buffet tại Bà Nà (Nếu quý khách không đăng ký đi hoặc không ăn buffet Bà
            Nà
            thì
            tự túc chi phí ăn trưa và nhập đoàn)
        </p><br>
        <p>
            Chiều: Khởi hành đi Cố Đô Huế - Di sản văn hoá Thế Giới, xuyên hầm đường bộ đèo Hải Vân, dừng
            chân
            tại làng chài Lăng Cô chụp hình lưu niệm. Nhận phòng khách sạn 4* nghỉ ngơi.
        </p><br>
        <p>
            Tối: Ăn tối nhà hàng với đặc sản xứ Huế (Bánh bèo, lọc, nậm, khoái,...). Quý khách xuống
            thuyền
            Rồng để thưởng thức Ca Huế trên sông Hương – nét văn hóa độc đáo của xứ Huế.
        </p>
        <br>

        <h3>NGÀY ­4: HUẾ - THÁNH ĐỊA LA VANG – ĐỘNG PHONG NHA (ĂN SÁNG, TRƯA, TỐI) </h3>
        <p>
            Sáng: Điểm tâm sớm. Rời Huế đi Phong Nha - Kẻ Bàng. Viếng thăm Thánh Địa La Vang (được phong
            tặng
            là
            Tiểu Vương Cung Thánh Đường) và ngang qua Vĩ tuyến 17 Sông Bến Hải - Cầu Hiền Lương huyền
            thoại.
        </p>
        <p>- Cầu Hiền Lương huyền thoại.</p>
        <p>Trưa: Ăn trưa nhà hàng tại Phong Nha.</p>
        <p>
            Chiều: Ngồi thuyền ngược sông Son chinh phục Động Phong Nha: Cô Tiên & Cung Đình dưới sâu
            lòng
            núi
            nơi có con sông ngầm từ Lào chảy sang, chiêm ngưỡng các khối thạch nhũ tuyệt đẹp được kiến
            tạo
            bởi
            thiên nhiên qua hàng ngàn thiên niên kỷ.
        </p>
        <p>
            (Hoặc lựa chọn Tham quan chinh phục Động Thiên Đường - Được mệnh danh là " Hoàng cung trong
            lòng
            đất"
            và là một trong những kỳ quan tráng lệ và huyền ảo bậc nhất thế giới. Quý khách chỉ đóng
            thêm
            chênh
            lệch vé tham quan 100.000 VNĐ/khách)
        </p>
        <p>Khởi hành về Huế theo đường Trường Sơn - Hồ Chí Minh.</p>
        <img class="slideanim" src="/Image/hue/phongnhajpg148513755_1513825456_1580696278.jpg" alt="">
        <p>
            Tối: Ăn tối nhà hàng, tự do khám phá Cố Đô về đêm với cầu Tràng Tiền rực rỡ soi mình xuống
            dòng
            sông
            Hương thơ mộng, dạo chơi chợ đêm tìm hiểu nét sinh hoạt của đất kinh thành. Nghỉ khách sạn
            4*.
        </p>
        <h3>NGÀY 5: ĐẠI NỘI - CHÙA THIÊN MỤ - TIỄN KHÁCH (ĂN SÁNG, TRƯA) </h3>
        <p>
            Sáng: Điểm tâm. Quý khách tự do nghỉ ngơi thư giãn tắm hồ bơi tại khách sạn 4 sao. Khởi hành
            tham
            quan:
        </p>
        <p>
            - Đại Nội - Hoàng cung triều Nguyễn, tham quan Ngọ Môn, Điện Thái Hòa, Tử Cấm Thành, Thế
            Miếu,
            Hiển
            Lâm Các, Cửu Đỉnh,...
        </p>
        <p>
            - Chùa Thiên Mụ cổ kính là nơi lưu giữ nhiều cổ vật quý có giá trị về mặt lịch sử và nghệ
            thuật.
            Trả
            phòng đi ăn trưa.
        </p>
        <img class="slideanim" src="/Image/hue/chùa thiên mụ .jpg" alt="">
        <p>Trưa: Ăn trưa nhà hàng tại Huế.</p><br>
        <p>
            Chiều: Tiễn quý khách ra sân bay Huế (các chuyến sau 14h00).Và sân bay Đà Nẵng (các chuyến
            sau
            16h30).
        </p>

        <h3>Chi Phí Dự Kiến</h3>
        <hr>
        <div class="row">
            <div class="tab text-center">
                <button class="tablinks active" onclick="showTab(event, 'bao-gom')">
                    Giá Bao
                    Gồm
                </button>
                <button class="tablinks" onclick="showTab(event, 'khong-bao-gom')">
                    Giá Không Bao
                    Gồm
                </button>
                <button class="tablinks" onclick="showTab(event, 'phu-thu')">Phụ Thu</button>
                <button class="tablinks" onclick="showTab(event, 'luu-y')">Lưu Ý</button>
            </div>
            <div id="bao-gom" class="tabcontent active">
                <div>
                    <p>
                        <span class="u-chiphi">Vận chuyển</span> : Xe vận chuyển tốt đời mới phục vụ theo
                        chương trình.
                    </p>
                    <p>
                        - Xe vận chuyển tốt đời mới phục vụ theo chương trình. (Xe 16c Ford 2013-2017 /
                        Xe 30, 35 chỗ County 2009-2013, Samco 2014, Aero Town 2010-2013 / Xe 45 chỗ
                        Univer Noble, Hi Class)
                    </p>
                    <p class="u-chiphi">Lưu Trú:</p>
                    <p>- Ngủ 2 khách/phòng khách sạn tiện nghi 3* Đà Nẵng + 4* Huế.</p>
                    <p> Khách sạn 3* Đà Nẵng: Bamboo Green, Luxury...</p>
                    <p> Khách sạn 4* Huế: Mondial , Midtown, ...</p>
                    <p class="u-chiphi">Khác:</p>
                    <p>
                        - Ăn uống theo chương trình tham quan: 04 bữa sáng buffet + 08 bữa chính tiêu
                        chuẩn 120.000 VNĐ/suất.
                    </p>
                    <p> - Vé các điểm tham quan.</p>
                    <p> - Ca Huế trên sông Hương.</p>
                    <p> - Thuyền Động Phong Nha</p>
                    <p> - Hướng dẫn viên tiếng Việt phục vụ tận tình.</p>
                    <p> - Khác: Phục vụ 02 chai 0.5l/khách /ngày.</p>
                    <p> - Bảo hiểm du lịch: 20.000.000 VNĐ/vụ</p>
                </div>
            </div>
            <div id="khong-bao-gom" class="tabcontent">
                <div>
                    <p> - Vé máy bay khứ hồi, tàu xe SGN/HAN/NHA - DAN/HUI-SGN/HAN </p>
                    <p>
                        - Chi phí cá nhân, uống tự gọi trong các bữa ăn,.. và tham quan vận chuyển ngoài
                        chương trình.
                    </p>
                    <p> - Công viên Châu Á – Asia Park. </p>
                    <p> - Vé du thuyền Sông Hàn </p>
                    <p> - Cáp treo Bà Nà </p>
                    <p> - VAT </p>
                </div>
            </div>
            <div id="phu-thu" class="tabcontent">
                <p> - Phụ thu phòng đơn: 900.000/khách (khách QT 1.300.000/khách)</p>
                <p>
                    - Nếu khách có nhu cầu ở khách sạn 4 sao tại Đà Nẵng phụ thu 250.000 vnđ/ khách/đêm.
                </p>
                <p> - Trẻ em tù 1 - 4 tuổi miễn phí (gia đình tự lo ăn ngủ cho bé )</p>
                <p> - Trẻ em từ 5 - 9 tuổi 50% (ăn riêng ngủ chung với bố mẹ )</p>
                <p> - 10 tuổi trở lên tính như người lớn</p>
            </div>
            <div id="luu-y" class="tabcontent">
                <p>
                    - Tùy vào tình hình thực tế thời tiết và các yếu tố khách quan, thứ tự các điểm tham
                    quan trong chương trình có thể thay đổi nhưng vẫn đảm bảo đầy đủ các điểm tham quan
                    cho khách hàng.
                </p>
                <p>
                    - Quý khách có mặt tại điểm đón trước 15 phút. Du khách đến trễ khi xe đã khởi hành
                    hoặc hủy tour không báo trước vui lòng chịu phí như ‘hủy vé ngay ngày khởi hành’
                </p>
                <p>
                    - Quý khách mang theo giấy CMND hoặc Hộ chiếu (Bản chính), nên mang theo hành lý gọn
                    nhẹ, không mang valy lớn.
                </p>
                <p>
                    - Trẻ em phải đi cùng cha mẹ hoặc có giấy cam kết đi tour cùng người thân, khi đi
                    phải mang theo giấy khai sinh hoặc hộ chiếu.
                </p>
                <p> - Quý khách tự quản lý tiền bạc tư trang trong qua trình tham quan du lịch.</p>
                <p> - Khi đăng ký, quý khách vui lòng cung cấp đầy đủ Họ tên và năm sinh.</p>
                <p>
                    - Đối với du khách là Việt kiều, Quốc tế nhập cảnh Việt Nam bằng visa rời, vui lòng
                    mang theo tờ khai hải quan và visa khi đi tour.
                </p>
                <p>
                    - Chương trình tour được coi là biên bản ghi nhớ giữa khách hàng và Ivivu. Những
                    thắc mắc, khiếu nại sẽ dựa vào những quy định trong chương trình và phiếu thu để
                    giải quyết.
                </p>
                <p>
                    - Trường hợp hủy tour do sự cố khách quan như thiên tai, dịch bệnh hoặc do tàu thủy,
                    xe lửa, máy bay hoãn/hủy chuyến, công ty sẽ không chịu trách nhiệm bồi thường thêm
                    bất kỳ chi phí nào khác ngoài việc hoàn trả chi phí những dịch vụ chưa được sử dụng
                    của tour đó.
                </p>
            </div>
        </div>
    </div>
</div>

