
<img style="width: 100%;border-radius: 20px 20px 0 0;" src="/Image/VW-DNVD-CT/ivivu-nha-trang-bia-750x390.jpg" alt="">
<div class="content">
    <div style="margin: 0 10px;">
        <h2>Nghỉ Dưỡng Nha Trang Cao Cấp</h2>
        <p>
            Thành phố Nha Trang đẹp như một bức tuyệt tác của tự nhiên và con người với nhiều địa điểm
            du lịch nổi tiếng. Cảnh quan thiên nhiên đa dạng đã làm nên sức hút khó cưỡng của những hoạt
            động du lịch nơi đây, cùng với nền ẩm thực phong phú và con người thân thiện – nơi đây như
            đã chiếm trọn trái tim du khách muôn phương. Hứa hẹn sẽ mang đến cho bạn một chuyến nghỉ
            dưỡng đáng nhớ. Cùng iVIVU khám phá mảnh đất diệu kỳ này ngay hôm nay!
        </p>
        <h2>Những trải nghiệm thú vị trong chương trình</h2>
        <p>
            - Bãi Dài: Với bãi cát dài và mịn màng, khi thủy triều rút du khách sẽ không khỏi ngạc nhiên
            khi thấy hiện ra trước mắt là cả một bờ cát trắng trải dài mênh mông. Vào buổi sáng mặt nước
            bãi dài trong vắt như một tấm thủy tinh phản chiếu. <br>
            - Vui Chơi Vinwonders <br>
            - Khám phá các vịnh đảo tại Nha Trang <br>
            - Thưởng thức hải sản tại thành phố biển.
        </p>
        <h2>Chương trình tour</h2>
        <p>
            <b>NGÀY 1: HCM – CAM RANH – BÃI DÀI – VINWONDERS – CITY NHA TRANG ( ĂN SÁNG, TRƯA, TỐI)</b>
            <br>
            04h45: Hướng dẫn viên đón khách tại ga Quốc Nội - sân bay Quốc tế Tân Sơn Nhất hỗ trợ Quý
            khách làm thủ tục bay đi Cam Ranh - Khánh Hòa (chuyến bay dự kiến 06h45 – 07h55). <br>
            07h55: HDV và xe sẽ đón quý khách tại sân bay Cam Ranh di chuyển tới nhà hàng dùng điểm tâm
            sáng (với các tour có chuyến bay hạ cánh trước 8h sáng) <br>
            Sau bữa sáng xe đưa Quý khách di chuyển tới: <br>
            - Bãi Dài: Với bãi cát dài và mịn màng, khi thủy triều rút du khách sẽ không khỏi ngạc nhiên
            khi thấy hiện ra trước mắt là cả một bờ cát trắng trải dài mênh mông. Vào buổi sáng mặt nước
            bãi dài trong vắt như một tấm thủy tinh phản chiếu. Quý khách nhận ghế lều cùng sinh hoạt và
            tắm biển. Tự do thưởng thức hải sản tươi sống hoặc tham gia các môn thể thao trên biển như:
            Chèo thuyền Kayak, Mô tô nước… (Chi phí tự túc)
        </p>
        <img src="/Image/VW-DNVD-CT/ivivu-bai-dai-nt.gif" alt="">
        <p id="note">Bãi Dài.</p>
        <p>
            Trưa: Xe đưa đoàn dùng cơm trưa tại nhà hàng với các món ăn đặc sản dân dã mang
            hương vị ẩm thực của phố biển. Đoàn về khách sạn nhận phòng nghỉ ngơi. <br>
            Chiều: Quý khách chọn 1 trong 2 chương trình:
        </p>
        <p>
            <b>CHƯƠNG TRÌNH 01: Khám phá khu vui chơi giải trí đẳng cấp 5 sao VINWONDERS NHA TRANG</b>
            <br>
            Xe và HDV đưa quý khách xuống Cảng Phú Quý. Quý khách đi tàu cao tốc để sang đảo ngọc chiêm
            ngưỡng Vịnh Nha Trang và toàn cảnh thành phố thơ mộng. Quý khách thử sức mình với các trò
            chơi cảm giác mạnh như: đu quay dây văng, đu quay lộn đầu, tàu lượn siêu tốc, …. Thỏa sức
            mình với những trò chơi trong nhà hay những bộ phim 4D đầy ấn tượng. <br>
        </p>
        <img src="/Image/VW-DNVD-CT/ivivu-vinwonders-nha-trang.gif" alt="">
        <p id="note">Vinwonder Nha Trang.</p>
        <p>
            - Quý khách tham quan Vườn thú Quý Vương với những động vật hoang dã của rừng xanh như hổ, sư
            tử trắng, báo, tê giác, hươu cao cổ,… <br>
            Chương trình tour
            NGÀY 1: HCM – CAM RANH – BÃI DÀI – VINWONDERS – CITY NHA TRANG ( ĂN SÁNG, TRƯA, TỐI)
            04h45: Hướng dẫn viên đón khách tại ga Quốc Nội - sân bay Quốc tế Tân Sơn Nhất hỗ trợ Quý
            khách làm thủ tục bay đi Cam Ranh - Khánh Hòa (chuyến bay dự kiến 06h45 – 07h55).

            07h55: HDV và xe sẽ đón quý khách tại sân bay Cam Ranh di chuyển tới nhà hàng dùng điểm tâm
            sáng (với các tour có chuyến bay hạ cánh trước 8h sáng)

            Sau bữa sáng xe đưa Quý khách di chuyển tới:

            - Bãi Dài: Với bãi cát dài và mịn màng, khi thủy triều rút du khách sẽ không khỏi ngạc nhiên
            khi thấy hiện ra trước mắt là cả một bờ cát trắng trải dài mênh mông. Vào buổi sáng mặt nước
            bãi dài trong vắt như một tấm thủy tinh phản chiếu. Quý khách nhận ghế lều cùng sinh hoạt và
            tắm biển. Tự do thưởng thức hải sản tươi sống hoặc tham gia các môn thể thao trên biển như:
            Chèo thuyền Kayak, Mô tô nước… (Chi phí tự túc)



            Bãi Dài.

            Trưa: Xe đưa đoàn dùng cơm trưa tại nhà hàng với các món ăn đặc sản dân dã mang
            hương vị ẩm thực của phố biển. Đoàn về khách sạn nhận phòng nghỉ ngơi.

            Chiều: Quý khách chọn 1 trong 2 chương trình:

            CHƯƠNG TRÌNH 01: Khám phá khu vui chơi giải trí đẳng cấp 5 sao VINWONDERS NHA TRANG

            Xe và HDV đưa quý khách xuống Cảng Phú Quý. Quý khách đi tàu cao tốc để sang đảo ngọc chiêm
            ngưỡng Vịnh Nha Trang và toàn cảnh thành phố thơ mộng. Quý khách thử sức mình với các trò
            chơi cảm giác mạnh như: đu quay dây văng, đu quay lộn đầu, tàu lượn siêu tốc, …. Thỏa sức
            mình với những trò chơi trong nhà hay những bộ phim 4D đầy ấn tượng.



            Vinwonder Nha Trang.

            - Quý khách tham quan Vườn thú Quý Vương với những động vật hoang dã của rừng xanh như hổ,
            sư tử trắng, báo, tê giác, hươu cao cổ,…

            - Tham quan đồi Vạn Hoa với hàng trăm loại hoa khoe sắc, check in tiểu hoang mạc của Châu
            Phi với vườn xương rồng vô cũng đặc sắc, khám phá vườn Nhật Bản với nhà Nhật, cổng trời, …
            <br>
            - Tham quan thế giới đại dương đầy màu sắc tại Thủy Cung Vinwonders cùng với khoảng gần
            10.000 sinh vật biển đang tung tăng bơi lội. <br>
            Quý khách check-in khung trời Châu Âu tại Quảng Trường Đại Dương. <br>
            Đặc biệt đến đây quý khách chiêm ngưỡng màn trình diễn lung linh đầy sắc màu của chương
            trình nhạc nước diễn ra vào lúc 19h các ngày trong tuần. <br>
            Tự túc vé Vinwonders - Vé sự dụng tàu cao tốc & vui chơi 800.000 VND/vé người lớn + 600.000
            VND/vé trẻ em - Vé sự dụng cáp treo & vui chơi 950.000 VND/ vé người lớn + 710.000 VND/ vé
            trẻ em (dự định hoạt cáp treo hoạt động vào tháng 6/2023)
        </p>
        <img src="/Image/VW-DNVD-CT/ivivu-vinwonders.gif" alt="">
        <p id="note">Vinwonders.</p>
        <p>
            Tối: Quý khách lên tàu cao tốc trở về đất liền. HDV và xe sẽ đón quý khách tại khu vực bến
            cảng. Sau đó đưa quý khách dùng cơm tối tại nhà hàng. Về khách sạn nghỉ ngơi. Quý khách có
            thể tham gia khu chợ đêm tại khu vực Quảng Trường trung tâm thành phố hoặc đi dạo bộ dọc bờ
            biển Nha Trang.
        </p>
        <p>
            <b>CHƯƠNG TRÌNH 02: </b> <br>
            - Nhà Thờ Núi hay còn gọi là Nhà Thờ Chánh Tòa Kito Vua – một công trình kiến trúc độc đáo
            mà người Pháp để lại thu hút rất đông du khách trong và ngoài nước ghé thăm. Nhà thờ còn là
            giáo phận chính của Tp. Nha Trang. Bên cạnh đó, nhiều cặp đôi uyên ương đã chọn nơi này chụp
            ảnh cưới để chứng minh cho sự đơm hoa kết trái của tình yêu đôi lứa.
        </p>
        <img src="/Image/VW-DNVD-CT/ivivu-nha-trang-cathedral.gif" alt="">
        <p id="note">Nhà Thờ Núi.</p>
        <p>
            - Chùa Long Sơn: “Ai về ngắm cảnh Khánh Hoà/Long Sơn nên ghé/ Tháp Bà đừng quên/Kim thân Phật
            tổ nhớ lên/Nhìn ông Phật trắng ngồi trên lưng trời” Câu ca dao len nhẹ lòng người, dẫn dắt
            bước chân du khách hành hương lên đồi Trại Thủy vãn cảnh chùa, chiêm bái Kim thân Phật tổ và
            ngắm nhìn Nha Trang vươn dài theo mép biển.
        </p>
        <img src="/Image/VW-DNVD-CT/ivivu-chua-long-son.gif" alt="">
        <p id="note">Chùa Long Sơn.</p>
        <p>
            Về lại khách sạn, tự do tắm biển Nha Trang. <br>
            Tối: Xe đưa Quý khách đến nhà hàng dùng cơm chiều. Về khách sạn nghỉ ngơi. Quý khách có thể
            tham gia khu chợ đêm tại khu vực Quảng Trường trung tâm thành phố hoặc đi dạo bộ dọc bờ biển
            Nha Trang.
        </p>
        <p>
            <b>NGÀY 2: DU NGOẠN VỊNH ĐẢO NHA TRANG ( ĂN SÁNG, TRƯA, TỐI)</b> <br>
            Sáng: Quý khách ăn sáng tại khách sạn. Sau đó chuẩn bị đồ tắm, kem chống nắng để tham gia
            chuyến du ngoạn đảo. <br>
            8h30 – 8h45: Xe và hướng dẫn viên đến đón khách tại khách sạn. Sau đó đưa quý khách xuống
            cảng Cầu Đá. <br>
            - Tiếp theo ca nô đưa quý khách đến Vịnh San Hô hoặc Con Sẻ Tre, quý khách ngắm làn nước
            biển trong xanh và vẻ đẹp tuyệt mỹ của vịnh Nha Trang. Đến Vịnh San Hô quý khách lên đảo
            nhận ghế nghỉ ngơi và tự do bơi lội để đắm mình dưới làn nước trong xanh và chiên ngưỡng hệ
            động vật san hô tại đây.
        </p>
        <img src="/Image/VW-DNVD-CT/ivivu-vinh-san-ho.gif" alt="">
        <p id="note">Vịnh San Hô.</p>
        <p>
            Ngoài ra quý khách có thể tham gia các trò chơi cảm giác mạnh như: lặn biển khám phá đại
            dương, moto nước, bay dù,…. (tự túc chi phí các trò chơi cảm giác mạnh)
        </p>
        <img src="/Image/VW-DNVD-CT/ivivu-vinh-san-ho (1).gif" alt="">
        <p id="note">Lặn Biển.</p>
        <p>
            - Quý khách tiếp tục đến với Làng Chài tại đây quý khách có thể chọn cho mình các loại hải
            sản tươi sống để làm phong phú thực đơn bữa trưa của mình (chi phí hải sản tự túc). <br>
            12h00: Quý khách dùng cơm trưa tại trên bè hoặc nhà hàng của khu du lịch. <br>
            15h30: Quý khách trở lại ca nô. Ca nô đưa quý khách về tới cảng. Xe và HDV đưa quý khách về
            khách sạn nghỉ ngơi. <br>
            Không bao gồm: Thức uống và các dịch vụ khác tại mỗi đảo: Trò chơi thể thao trên nước, Chi
            phí tắm nước ngọt tại đảo... <br>
            Tối: HDV đưa quý khách dùng cơm tối tại nhà hàng. Sau đó quý khách tự do khám phá chợ
            đêm Nha Trang, công viên Phù Đổng, Cà phê Bốn Mùa, khu hải sản Tháp Bà. Về khách sạn nghỉ
            ngơi.
        </p>
        <p>
            <b>NGÀY 3: SÂN BAY CAM RANH - HCM ( ĂN SÁNG, TRƯA)</b> <br>
            Sáng: Quý khách dùng điểm tâm sáng tại khách sạn. Quý khách tự do tắm hồ bơi hoặc tắm biển
            Nha Trang. <br>
            Hoặc OPTION: Quý khách đến KDL suối khoáng nóng Núi Bà sử dụng “Ôn tuyền thủy liệu
            pháp”, Đến đây quý khách ngâm mình thư giãn với bùn khoáng trong vòng 20 phút. Sau đó
            chuyển qua phương pháp mát xa trị liệu bằng những tia nước bắn vào các huyệt đạo làm cho cơ
            thể giải mỏi trong vòng 10 phút, quý khách tiếp tục thư giãn với dịch vụ ngâm khoáng nóng hồ
            bơi và thác nước giúp cho quý khách cải thiện các bệnh về xương khớp kèm theo đó tẩy đi các
            tế bào chết của da làm cho da sẽ mịn màng hơn. Tắm bùn giúp quý khách chăm sóc tốt hơn cho
            sức khỏe và da (chi phí tắm bùn khoáng tự túc).
        </p>
        <img src="/Image/VW-DNVD-CT/ivivu-bun-khoang-thap-ba.gif" alt="">
        <p id="note">KDL Suối Khoáng Nóng Núi Bà.</p>
        <p>
            11h30: Đoàn làm thủ tục trả phòng. Xe đưa Quý khách tới nhà hàng dùng bữa trưa. Nghỉ ngơi tại
            nhà hàng. <br>
            13h30: Xe đưa Quý khách đi tham quan: <br>
            - Tháp Bà Ponaga: được coi là biểu tượng của Nha Trang, là quần thể kiến trúc Chăm Pa thuộc
            hàng quy mô nhất ở khu vực miền Trung. Mặc dù thời gian đã làm toàn bộ khu di tích trở nên
            cũ kĩ rêu phong nhưng vẫn là một công trình nghệ thuật kiến trúc và điêu khắc độc đáo của
            người Chăm cổ.
        </p>
        <img src="/Image/VW-DNVD-CT/ivivu-thap-ba-ponagar.gif" alt="">
        <p id="note">Tháp Bà Ponaga.</p>
        <p>
            - Nhà Yến Nha Trang đến đây quý khách tìm hiểu về đặc sản Nha Trang cũng như tìm hiểu ngành
            nghề khai thác chế biến tổ yến sào.
        </p>
        <img src="/Image/VW-DNVD-CT/ivivu-nha-yen-nhatrang.gif" alt="">
        <p id="note"> Nhà Yến.</p>
        <p>
            16h00: Xe và HDV đưa Quý khách ra sân bay Cam Ranh bay về lại TPHCM. Kết thúc chương trình
            tour, hẹn gặp lại Quý khách trong chuyến hành trình tiếp theo, chuyến bay dự kiến lúc 18h25
            – 19h30.
        </p>
        <p id="note">
            Các điểm tham quan trong chương trình sẽ linh động sao cho phù hợp với tình hình
            thực tế.
        </p>
    </div>
    <h3>Chi Phí Dự Kiến</h3>
    <hr>
    <div class="row">
        <div class="tab text-center">
            <button class="tablinks active" onclick="showTab(event, 'bao-gom')">
                Giá Bao
                Gồm
            </button>
            <button class="tablinks" onclick="showTab(event, 'khong-bao-gom')">
                Giá Không Bao
                Gồm
            </button>
            <button class="tablinks" onclick="showTab(event, 'phu-thu')">Phụ Thu</button>
            <button class="tablinks" onclick="showTab(event, 'luu-y')">Lưu Ý</button>
        </div>
        <div id="bao-gom" class="tabcontent active">
            <div>
                <p>
                    <b>Vận chuyển:</b> <br>
                    - Xe du lịch du lịch 16-45 chỗ (phù hợp số lượng) đời mới máy lạnh, ghế bật. <br>
                    - Vé máy bay: Sài Gòn – Cam Ranh - Sài Gòn ( Vé máy bay Vietjet Air gồm 07 Ký xách
                    tay + 20 ký hành lý ký gửi ). <br>
                    <b>Lưu trú:</b> <br>
                    - Tiêu chuẩn 2,3 khách/ phòng. Tiện nghi: tivi, nước nóng, vệ sinh… 5 Sao: Virgo,
                    Starcity, Regalia Gold… Hoặc các resort/ khách sạn tương đương. <br>
                    <b>Khác:</b> <br>
                    - Ăn sáng: Ngày 02,03 dùng Buffet. Ăn trưa, tối: các bữa tại nhà hàng địa phương hợp
                    vệ sinh, <br>
                    - HDV: Đoàn có HDV tiếng Việt thuyết minh và phục vụ tham quan suốt tuyến. <br>
                    - Bảo hiểm du lịch theo quy định 100.000.000vnđ/vụ <br>
                    - Tham quan: Giá tour đã bao gồm phí vào cổng tại các điểm tham quan theo chương
                    trình <br>
                    - Nón du lịch, Khăn ướt + nước đóng chai
                </p>
            </div>
        </div>
        <div id="khong-bao-gom" class="tabcontent">
            <div>
                <p>
                    - Tiền TIP cho HDV + Tài xế địa phương <br>
                    - VAT <br>
                    - Chi phí cá nhân ngoài chương trình: giặt ủi, điện thoại, minibar… <br>

                    - Vé Vinwonders, Tắm bùn khoáng.
                </p>
            </div>
        </div>
        <div id="phu-thu" class="tabcontent">
            <div>
                <p>
                    - Phụ thu phòng đơn: 1.300.000 vnđ/khách/tour. Lễ tết phụ thu: 1.500.000
                    vnđ/khách/tour. <br>
                    - Phụ thu ngoại quốc: 500.000 vnd/khách <br>
                    <b>Phụ thu trẻ em:</b> <br>
                    - Trẻ em từ 10 tuổi trở lên mua 01 vé. <br>
                    - Trẻ em từ 05 đến dưới 10 tuổi: giá tour theo khung giá trên web với tiêu chuẩn có
                    vé máy bay, ghế ngồi trên xe, bảo hiểm, suất ăn, vé tham quan, ngủ chung giường với
                    Ba Mẹ. <br>
                    - Trẻ em từ 02 tuổi đến dưới 05 tuổi: giá tour theo khung giá bên trên. Tiêu chuẩn
                    có vé máy bay, ghế ngồi trên xe, bảo hiểm; riêng suất ăn và ngủ chung giường với Ba
                    Mẹ. (Nhưng 02 người lớn chỉ được kèm 01 trẻ, nếu trẻ đi kèm nhiều hơn thì từ em thứ
                    02 trở lên phải mua theo khung Trẻ từ 05 đến dưới 11 tuổi). <br>
                    Em bé dưới 02 tuổi: giá tour 500.000 VNĐ có thuế phí máy bay và bảo hiểm, Cha mẹ tự
                    lo ăn uống cho bé, nhưng 02 vợ chồng chỉ được kèm 01 em bé dưới 02 tuổi, nếu bé thứ
                    02 tính giá trẻ em theo khung từ 2 đến dưới 5 tuổi.
                </p>
            </div>
        </div>
        <div id="luu-y" class="tabcontent">
            <div>
                <p>
                    - Người từ 14 tuổi trở lên phải có: Chứng minh nhân dân gốc hoặc hộ chiếu gốc hoăc
                    bằng lái xe gốc, còn mới, còn hạn sử dụng. <br>
                    - Trẻ em dưới 14 tuổi phải có: giấy khai sinh bản gốc hoặc hộ chiếu gốc. <br>
                    - Những giấy tờ cá nhân của khách hàng (CMND hoặc Passport) thuộc về trách nhiệm của
                    khách hàng. Mọi vấn đề như hình ảnh, thông tin giấy tờ trong bản gốc bị mờ, không rõ
                    ràng; Passport, CMND hết hạn,… không đúng quy định của pháp luật Việt Nam, Công ty
                    Du Lịch sẽ không chịu trách nhiệm và sẽ không hoàn trả bất cứ chi phí phát sinh nào.
                </p>
            </div>
        </div>
    </div>
</div>        