
<img style="width: 100%;border-radius: 20px 20px 0 0;"
     src="/Image/HCM-QN-LS/ivivu-tau-lua-2-750x390.gif" alt="">
<div class="content">
    <div style="margin: 0 10px;">
        <h2>Sự Kết Hợp Hoàn Hảo Hành Trình Hai Điểm Đến</h2>
        <p>
            Không hiện đại, tốc độ nhanh hay tiện nghi như tàu điện cao tốc, Xe Lửa (Tàu Hỏa) lại mang
            dấu ấn
            rất riêng, là một phương tiện di chuyển đã gắn bó và thân thương với dân ta biết bao thế hệ.
            Những đoàn tàu với tiếng còi quen thuộc di chuyển chầm chậm qua những làng quê, ga tàu yên
            ả,
            cảnh sắc thiên nhiên Việt Nam tuyệt đẹp có thể là một trải nghiệm rất khác biệt - một hành
            trình
            của những hoài niệm và các cung bậc cảm xúc.
        </p>

        <p>
            Quy Nhơn vẫn là điểm đến yêu thích của “hội mê đi biển”. Được tạo hoá ưu ái ban tặng thiên
            nhiên
            trù phú, Quy Nhơn sở hữu vô số bãi biển, ghềnh đá, hòn đảo đẹp, còn vẹn nguyên vẻ đẹp hoang
            sơ
            và thanh bình.
        </p>

        <p>
            Đến với Lý Sơn, du khách sẽ được tìm hiểu về Hải đội Hoàng Sa anh hùng, thỏa sức bơi lội
            trong
            làn nước trong mát của Đảo Bé, thưởng thức các món hải sản được người dân nơi đây đánh bắt
            về.
            Cùng iVIVU khám phá Quy Nhơn - Lý Sơn ngay hôm nay !
        </p>
        <h2>Những trải nghiệm thú vị trong chương trình</h2>
        <p>Một hành trình 2 điểm đến quý khách trải nghiệm hấp dẫn bởi các điểm:

        <p>
            <b>- Lý Sơn</b> 'Vương quốc tỏi” gợi lên trong mỗi du khách những cảm xúc về mảnh đất tiền
            tiêu
            gắn liền với truyền thống giữ gìn biển đảo. Khó có từ nào miêu tả được hết vẻ đẹp của Lý
            Sơn,
            chỉ có thể đến tận mắt chứng kiến bạn mới cảm nhận hết được nó.
        </p>
        <p>
            <b>- Quy Nhơn</b> mảnh đất anh hùng nơi có Bảo Tàng Quang Trung, bãi biển Kỳ Co đẹp tuyệt
            trần,
            người dân thân thiện.
        </p>
        <p>
            <b>- Kỳ Co</b>: Một hòn đảo rất hoang sơ, có bãi biển cát trắng mịn, nước biển trong xanh như
            pha
            lê. Quý khách sẽ thích thú trước vẻ đẹp thiên nhiên hoang sơ và kỳ vỹ nơi đây.
        </p>
        <h2>Bạn có sẵn sàng</h2>
        <p>- Tháng 5 đến tháng 8 thường có thời tiết đẹp nhất để trải nghiệm Lý Sơn.</p>

        <p>
            - Từ Quãng Ngãi ra Lý Sơn bằng tàu cao tốc hiện đại, chỉ khoảng 35 phút. Trong điều kiện
            thời
            tiết tốt tàu di chuyển êm, ít bị say sóng. Thời gian rời bến có thể thay đổi tùy theo thời
            tiết
            và điều hành của Cảng Vụ.
        </p>

        <p>
            - Cơ sở lưu trú, khách sạn và hạ tầng trên đảo nhìn chung ở mức độ khá tốt gồm đầy đủ điện,
            nước
            và internet và cả hồ bơi...Tuy nhiên vẫn còn vài hạn chế so với đất liền như ăn uống, giải
            trí,
            mua sắm ít đa dạng, internet có thể hơi chậm....Đây cũng chính là một trong những yếu tố
            khiến
            Lý Sơn trở thành nơi du lịch nghỉ dưỡng tuyệt vời.
        </p>
        <h2>Chương trình tour</h2>
        <p><u>Điểm Đón</u>: Ga Sài Gòn 1 Nguyễn Thông, phường 9, Quận 3, Hồ Chí Minh.</p>
        <h4>ĐÊM 1: SÀI GÒN- QUY NHƠN ( NGHỈ ĐÊM TRÊN TÀU)</h4>
        <p>
            19h00: Hướng dẫn viên công ty đón khách tại <b>Ga Sài Gòn</b>, bắt đầu cuộc hành trình đến
            với
            <b>Quãng Ngãi Lý Sơn</b>. Quý khách nghỉ đêm trên tàu ( Tàu ghế mềm điều hòa giúp quý khách
            nghỉ
            ngơi thỏa mái).
        </p>
        <h4>NGÀY 1: LÝ SƠN - NÚI GIẾNG TIỀN - CỔNG TÒ VÒ - VƯƠNG QUỐC TỎI ( ĂN SÁNG, TRƯA, TỐI)</h4>
        <p>07h00: Quý khách ăn sáng trên tàu.</p>

        <p> 10h30: Đến <b>Ga Quảng Ngãi</b>, Quý khách dùng cơm trưa.</p>

        <p> Sau đó di chuyển quý khách đến <b>Cảng Sa Kỳ</b> làm thủ tục lên tàu đến với đảo Lý Sơn.</p>

        <p> 14h30: Đến với đảo <b>Lý Sơn</b>, quý khách nhận phòng nghỉ ngơi.</p>

        <p>
            15h00. Xe và hdv dẫn đoàn tham quan <b>Núi Giếng Tiền</b>. Du khách vượt qua hơn 100 bậc
            thang
            men theo sườn núi để đến với ngôi chùa đặc biệt được người dân gọi là Chùa Đục, chiêm ngưỡng
            tượng Quan Thế Âm Bồ Tát cao 27m, Nghe hướng dẫn viên kể về truyền thuyết gắn liền với người
            dân
            đảo Lý Sơn với ngôi chùa linh thiêng này.
        </p>
        <img src="/Image/HCM-QN-LS/ivivu-nui-gieng-tien.gif" alt="">
        <p style="text-align: center;font-style: italic;font-weight: lighter;">Núi Giếng Tiền.</p>
        <p>
            Trên đỉnh <b>Giếng Tiền</b>, khi leo lên để đỉnh Liêm Tự, bạn sẽ thấy một thung lũng nhỏ xanh
            tươi hình lòng chảo, đấy chính là miệng núi lửa đã ngủ quên từ rất lâu. Ngọn núi này sở hữu
            một
            vách đá tuyệt đẹp, hãy ngồi tại mỏm đá nhô ra khỏi đỉnh núi hóng gió và trải nghiệm Lý Sơn
            trong
            nhiều khung hình tuyệt vời.
        </p>

        <p>
            16h00: Chụp hình hoàng hôn tại <b>Cổng Tò Vò ( Cổng Trời)</b> - đây lại là nơi tặng người
            cầm
            máy nhiều trải nghiệm khó quên khi săn những tuyệt tác về bình minh và hoàng hôn trên đảo.
            Ánh
            hào quang đầu ngày hay chút lửa rực còn sót lại lúc chuẩn bị sang đêm làm đỏ ửng một góc
            trời
            nhiều mây, hắt qua vòm đá biến cổng Tò Vò thành “cổng Trời” uy nghiêm mở lối dẫn đến thiên
            đường.
        </p>
        <img src="/Image/HCM-QN-LS/ivivu-cong-to-vo.gif" alt="">
        <p style="text-align: center;font-style: italic;font-weight: lighter;">Cổng Tò Vò.</p>
        <p>18h00: Dùng cơm tối tại khách sạn, nghỉ ngơi.</p>

        <p>
            Buổi tối: Open tour quý khách tự do khám phá Lý Sơn về đêm: quý khách thưởng thức đặc sản
            biển
            tại các quán bình dân trước khách sạn (nếu quý khách có yêu cầu thì HDV sẽ tư vấn đầy đủ:
            mua
            sắm, ăn uống, đi đâu, làm gì buổi tối….)
        </p>

        <p> Quý khách Nghỉ đêm tại đảo.</p>
        <h4>NGÀY 2: HANG CÂU – CHÙA HANG - CHÙA THIÊN HƯNG - QUY NHƠN ( ĂN SÁNG, TRƯA, TỐI)</h4>
        <p>Sáng: Đoàn ăn sáng tại khách sạn, làm thủ tục trả phòng.</p>

        <p> 07h00: Qúy khách lựa chọn 1 trong 2 option tham quan: </p>

        <p>
            <u>Option 1:</u> Xe đưa đoàn tham quan Bảo tàng trưng bày <b>
                Hải đội Hoàng Sa Kiêm Bắc
                Hải
            </b>,
            tìm hiểu các hiện vật thể hiện chủ quyền biển đảo Hoàng Sa, Trường Sa của Việt Nam…Nghe
            truyền
            thuyết về Giếng Vua Gia Long (giếng Xó La).
        </p>
        <img src="/Image/HCM-QN-LS/ivivu-bao-tang-trung-bay-ly-son.gif" alt="">
        <p style="text-align: center;font-style: italic;font-weight: lighter;">
            Bảo Tàng Hải Đội Hoàng
            Sa.
        </p>
        <p>
            <b>- Núi Thới Lới</b> - Đây là ngọn núi cao nhất trong năm ngọn núi của Vương quốc tỏi. Nếu
            muốn
            "thưởng thức" Lý Sơn từ những góc nhìn đẹp thì hãy "đóng khung" toàn cảnh Lý Sơn trong chiếc
            máy
            ảnh của bạn tại nơi đây. Một bức ảnh chứa gam màu xanh mượt mà của cánh đồng tỏi mênh mông
            mở
            rộng ra đến đường bờ biển và tiếp nối bởi màu đại dương biêng biếc.
        </p>
        <img src="/Image/HCM-QN-LS/ivivu-thoi-loi-ly-son2.gif" alt="">
        <p style="text-align: center;font-style: italic;font-weight: lighter;">Núi Thới Lới.</p>
        <p>
            <b>- Hang Câu</b> - Đứng trên bờ đá nhìn xuyên qua làn nước trong vắt chứa đựng mỹ cảnh của
            thế
            giới rong và tảo biển đẹp tựa khu rừng lá kim chìm trong nước biếc. Với khung cảnh hùng vĩ
            giữa
            một bên là biển xanh, một bên là núi đá cheo leo, Hang Câu có sức quyến rũ lạ kỳ. Cách đây
            hàng
            ngàn năm, sóng và gió biển bào mòn, khoét sâu vào lòng núi hình thành nên vách đá kỳ thú.
            Buổi
            chiều ngồi trên non cao nhìn gió thẳm, nghe sóng nước rì rào vỗ bờ và buông khúc hát nhịp
            nhàng
            hòa theo tiếng guitar sẽ cho bạn bức ảnh kỷ niệm thật đặc sắc.
        </p>
        <img src="/Image/HCM-QN-LS/ivivu-hang-cau.gif" alt="">
        <p style="text-align: center;font-style: italic;font-weight: lighter;">Hang Cau.</p>
        <p>
            09h00: Xe và HDV đưa quý khách tham quan thưởng ngoạn vãn cảnh <b>Chùa Hang</b> - một trong
            những
            thắng cảnh đẹp nhất trên đảo, xin xăm Đức Quan Thánh cầu may mắn… Trên đường đến với
            thắng
            cảnh Chùa Hang, xe sẽ đưa quý khách đi qua những đi ngang cánh đồng tỏi nơi trồng ra những
            đặc
            sản nổi tiếng của Lý Sơn….
        </p>
        <img src="/Image/HCM-QN-LS/ivivu-tour-ly-son-4n3d-dao-be-vuong-quoc-toi-chua-hang.jpg" alt="">
        <p style="text-align: center;font-style: italic;font-weight: lighter;">Chùa Hang.</p>
        <p>
            <u>Option 2:</u> Quý khách có thể di chuyển bằng cano hoặc tàu sang tham quan <b>Đảo Bé</b>.
            Đảo
            Bé là 1 trong những hòn đảo đẹp ở Lý Sơn, với vẻ đẹp hoang sơ, tự nhiên, nước biển trong
            xanh
            chắc chắn sẽ làm hài lòng những du khách khó tính nhất ( chi phí tự túc giá khoảng 150.000đ/
            khách).
        </p>
        <img src="/Image/HCM-QN-LS/ivivu-dao-be.gif" alt="">
        <p style="text-align: center;font-style: italic;font-weight: lighter;">Đảo Bé.</p>
        <p>13h30: Lên tàu cao tốc về cảng <b>Sa Kỳ.</b></p>

        <p>
            14h30: Trên đương về <b>Quy Nhơn</b> đoàn ghé thăm chùa <b>Thiên Hưng</b> – một ngôi chùa
            lớn
            nhất của tỉnh Bình Định, du khách sẽ ngỡ ngàng trước không gian rộng lớn, thoáng đãng, tươi
            mát
            của chùa. Chùa nằm trên một khu đất rộng, được bao bọc xung quanh bởi ruộng đồng, hồ nước và
            cây
            xanh. Trong khuôn viên chùa có nhiều ao sen, hàng trúc, vườn hoa, vườn cây cảnh, vườn tượng,
            vườn tản bộ, vườn thượng uyển, non bộ… với nhiều cây xanh rợp bóng.
        </p>
        <img src="/Image/HCM-QN-LS/ivivu-chua-thien-hung-quy-nhon.gif" alt="">
        <p style="text-align: center;font-style: italic;font-weight: lighter;">Chùa Thiên Hưng.</p>
        <p>18h00: Đến <b>Quy Nhơn</b>, quý khách dùng buổi tối, nhận phòng khách sạn nghỉ ngơi.</p>
        <h4>NGÀY 3: QUY NHƠN – ĐẢO KỲ CO - EO GIÓ - GHỀNH RÁNG - BÃI TẮM HOÀNG HẬU ( ĂN SÁNG, TRƯA)</h4>
        <p>
            Buổi sáng: 07h00: Qúy khách dùng điểm tâm,tự do tắm biển, Làm thủ tục trả phòng khách sạn.
        </p>

        <p>
            8h00: Trả phòng khách sạn, đoàn đến với <b>Nhơn Lý</b> nhìn ngắm làng chài và cuộc sống của
            ngư
            dân miền biển.
        </p>

        <p>
            Đoàn tham quan <b>Eo Gió</b> – Thắng cảnh nổi tiếng tại <b>Quy Nhơn</b>, được mệnh danh là
            nơi
            đón Bình Minh và Hoàng Hôn đẹp nhất Việt Nam, Viếng Tượng Phật Đôi cao nhất Việt Nam trên
            30m
            tại Tịnh Xá Ngọc Hòa, nơi người dân gửi gắm niềm tin mỗi chuyến ra khơi, cầu bình an cho gia
            đình…
        </p>
        <img src="/Image/HCM-QN-LS/ivivu-eo-gio.gif" alt="">
        <p>
            09h00: Tượng Phật chùa <b>Ông Núi Quy NhơnBình Định</b> – Dự án Đại Phật Tượng – Trung tâm
            Phật
            pháp <b>Linh Phong Bình Định</b> (huyện Phù Cát) đã cơ bản hoàn thành phần tượng Phật,
            được
            kỳ vọng sẽ là một điểm đến mới của du lịch Quy Nhơn, Bình Định trong năm 2018. Với chiều cao
            69
            m, đường kính chân tượng 52 m, tọa lạc trên Núi Bà ở độ cao 120 m, đây là tượng Phật Thích
            Ca
            tạo dáng ở tư thế ngồi cao nhất <b>Đông Nam Á</b> hiện nay.
        </p>
        <img src="/Image/HCM-QN-LS/ivivu-chua-ong-nui-quy-nhon.jpg" alt="">
        <p style="text-align: center;font-style: italic;font-weight: lighter;">Chùa Ông Núi.</p>
        <p>
            10h00: Quý khách lên Cano qua <b>Biển Kỳ Co</b> nằm dưới chân dãy núi Phương Mai sừng sững
            thuộc
            xã bán đảo <b>Nhơn Lý, TP Quy Nhơn</b>, bãi tắm hoang sơ <b>Kỳ Co</b> đẹp tựa một bức tranh
            vừa
            nên thơ vừa hùng vĩ. Nơi đây hấp dẫn du khách, đặc biệt là những người ưa du lịch khám phá,
            bởi
            không chỉ có cảnh đẹp làm say lòng người mà còn biết bao điều thú vị.
        </p>
        <img src="/Image/HCM-QN-LS/ivivu-bien-ky-co.jpg" alt="">
        <p style="text-align: center;font-style: italic;font-weight: lighter;">Biển Kỳ Co.</p>
        <p>
            11h30: Quý khách lên cano về lại nhà hàng, tắm nước ngọt, thưởng thức bữa trưa với những món
            hải
            sản tươi sống độc đáo, hương vị được chế biến nguyên chất của dân chài địa phương như: tôm,
            cá,
            mực, ốc, bào ngư, súp rong biển…
        </p>

        <p>
            13h30: Xe đưa đoàn khởi hành tham quan <b>KDL Ghềnh Ráng</b>, Viếng mộ thi sĩ Hàn Mặc Tử tài
            hoa
            nhưng bạc mệnh, chiêm ngưỡng nghệ thuật Bút lửa DZũ Kha, nghe thơ Hàn, tham quan Bãi tắm
            Hoàng
            Hậu hay còn gọi là Bãi Trứng với những viên đá nhẵn thin xếp đầy bãi tắm, đẹp tự nhiên không
            đâu
            có được.
        </p>
        <img src="/Image/HCM-QN-LS/ivivu-ghenh-rang-tien-sa.gif" alt="">
        <p>
            Xe đưa đoàn tham quan mua sắm tại chợ <b>Quy Nhơn</b>, tự túc khám phá đặc sản <b>
                Quy
                Nhơn
            </b>
            với các món ăn dân dã, đậm đà bản sắc miền đất võ như: Bánh hỏi – lòng heo, bún chả cá, nem
            chợ
            huyện, Rượu Bàu Đá, bánh xèo Mỹ Cang, gỏi cá chình, tré Bình Định, bánh ít lá gai…
        </p>

        <p>
            Xe đưa đoàn đến <b>Diêu Trì</b>, lên tàu trở về <b>Sài Gòn</b>, kết thúc chuyến tham quan,
            Hcông
            ty chia tay va hẹn gặp lại quý khách.
        </p>
        <p style="text-align: center;font-style: italic">
            Thứ tự tham quan có thể thay đổi nhưng vẫn đảm
            bảo
            đầy đủ điểm trong chương trình.
        </p>
        <h2>Hướng dẫn viên</h2>
        <p>
            - Hướng Dẫn Viên (HDV) sẽ liên lạc với Quý Khách 1-2 ngày trước khi khởi hành để sắp xếp giờ
            đón
            và cung cấp các thông tin cần thiết.
        </p>

        <p>
            - HDV làm thủ tục lên tàu, nhận phòng khách sạn, sắp xếp các bữa ăn, đồng hành và thuyết
            minh
            suốt tuyến.
        </p>
        <h3>Chi Phí Dự Kiến</h3>
        <hr>
        <div class="row">
            <div class="tab text-center">
                <button class="tablinks active" onclick="showTab(event, 'bao-gom')">
                    Giá Bao
                    Gồm
                </button>
                <button class="tablinks" onclick="showTab(event, 'khong-bao-gom')">
                    Giá Không Bao
                    Gồm
                </button>
                <button class="tablinks" onclick="showTab(event, 'phu-thu')">Phụ Thu</button>
                <button class="tablinks" onclick="showTab(event, 'luu-y')">Lưu Ý</button>
            </div>
            <div id="bao-gom" class="tabcontent active">
                <div>
                    <p> <span class="u-chiphi">Vận chuyển:</span> </p>
                    <p> - Vé Tàu ghế ngồi mềm điều hòa: Sài Gòn - Quãng Ngãi, Quy Nhơn - Sài Gòn.</p>
                    <p> - Xe đời mới máy lạnh, đón khách theo chương trình.</p>
                    <p> - Cano đi về Đảo Kỳ Co.</p>
                    <p> - Vé khứ hồi tàu cao tốc SaKy-LySon-SaKy.</p>
                    <p> <span class="u-chiphi">Lưu trú:</span></p>
                    <p> - Khách sạn 3 sao tại Quy Nhơn. (2-3 khách/phòng) </p>
                    <p> - Khách sạn Tiêu chuẩn tại Lý Sơn (Phòng: 3-4 khách/phòng).</p>
                    <p><span class="u-chiphi">Khác:</span> </p>
                    <p> - Ăn uống theo chương trình tham quan. </p>
                    <p> - Vé tham quan: Vé vào cổng: KDL Ghềnh Ráng</p>
                    <p> - Bảo hiểm: 50.000.000 đ/Người/trường hợp.</p>
                    <p> - Hướng dẫn viên: 1 HDV nhiệt tình, vui vẻ phục vụ đoàn suốt tuyến</p>
                    <p> - Nước suối: 1 chai 500ml/ngày/khách</p>
                    <p> - Khăn lạnh: 1 cái/ngày/khách</p>
                    <p> - Khuyến mãi: Hình lưu niệm tập thể. Mỗi gia đình 1 tấm.</p>
                    <p> - Thuế VAT </p>
                </div>
            </div>
            <div id="khong-bao-gom" class="tabcontent">
                <p>
                    - Chi phí cá nhân: Giặt ủi, điện thoại,ăn uống, điểm tham quan ngoài chương trình,
                    tắm
                    nước ngọt. Tàu giường Nằm, nếu quý khách có nhu cầu.
                </p>
                <p> - Tàu giường Nằm, nếu quý khách có nhu cầu.</p>
                <p> - Lặn ngắm san hô tại Kỳ Co.</p>
                <p> - Đảo Bé tại Lý Sơn.</p>
            </div>
            <div id="phu-thu" class="tabcontent">
                <p> - Giá phụ thu phòng đơn: 600.000 vnđ/khách/tour </p>
                <p> - Giá phụ thu phòng 2 tại đảo Lý Sơn: 100.000 vnđ/khách/tour.</p>
                <p> <span class="u-chiphi"> Phụ thu trẻ em:</span></p>
                <p>
                    - Trẻ em dưới 5 tuổi: Cha, mẹ hoặc người thân đi kèm tự lo các chi phí ăn, ngủ, tham
                    quan (nếu có) cho bé. Hai người lớn chỉ kèm 1 trẻ em dưới 5 tuổi, em thứ 2 trở lên
                    phải
                    mua ½ vé tour + vé tàu Hỏa áp dụng cho trẻ em.
                </p>
                <p>
                    - Từ 6-10 tuổi: 80% vé tour, Bao gồm các dịch vụ ăn uống, ghế ngồi trên xe và ngủ
                    chung
                    với gia đình. Hai người lớn chỉ được kèm 1 trẻ em từ 5 đến dưới 10 tuổi, em thứ 2
                    trở
                    lên phải mua suất người lớn.
                </p>
                <p> - Trẻ em trên 10 tuổi Vé người lớn, tiêu chuẩn như người lớn.</p>
            </div>
            <div id="luu-y" class="tabcontent">
                <p>
                    - Tùy vào tình hình thực tế thời tiết và các yếu tố khách quan, thứ tự các điểm tham
                    quan trong chương trình có thể thay đổi nhưng vẫn đảm bảo đầy đủ các điểm tham quan
                    cho khách hàng.
                </p>
                <p>
                    - Quý khách có mặt tại điểm đón trước 15 phút. Du khách đến trễ khi xe đã khởi hành
                    hoặc hủy tour không báo trước vui lòng chịu phí như ‘hủy vé ngay ngày khởi hành’
                </p>
                <p>
                    - Quý khách mang theo giấy CMND hoặc Hộ chiếu (Bản chính), nên mang theo hành lý gọn
                    nhẹ, không mang valy lớn.
                </p>
                <p>
                    - Trẻ em phải đi cùng cha mẹ hoặc có giấy cam kết đi tour cùng người thân, khi đi
                    phải mang theo giấy khai sinh hoặc hộ chiếu.
                </p>
                <p> - Quý khách tự quản lý tiền bạc tư trang trong qua trình tham quan du lịch.</p>
                <p> - Khi đăng ký, quý khách vui lòng cung cấp đầy đủ Họ tên và năm sinh.</p>
                <p>
                    - Đối với du khách là Việt kiều, Quốc tế nhập cảnh Việt Nam bằng visa rời, vui lòng
                    mang theo tờ khai hải quan và visa khi đi tour.
                </p>
                <p>
                    - Chương trình tour được coi là biên bản ghi nhớ giữa khách hàng và Ivivu. Những
                    thắc mắc, khiếu nại sẽ dựa vào những quy định trong chương trình và phiếu thu để
                    giải quyết.
                </p>
                <p>
                    - Trường hợp hủy tour do sự cố khách quan như thiên tai, dịch bệnh hoặc do tàu thủy,
                    xe lửa, máy bay hoãn/hủy chuyến, công ty sẽ không chịu trách nhiệm bồi thường thêm
                    bất kỳ chi phí nào khác ngoài việc hoàn trả chi phí những dịch vụ chưa được sử dụng
                    của tour đó.
                </p>
            </div>
        </div>
    </div>
</div>

