
<img style="width: 100%;border-radius: 20px 20px 0 0;" src="/Image/QN-PY/ganh-da-dia-750x390.jpg" alt="">
<div class="content">
    <div style="margin: 0 10px;">
        <h2>Xứ Nẫu Chan Chứa Tình</h2>
        <p>
            'Xứ Nẫu' được thiên nhiên ban tặng phong cảnh nên thơ, hữu tình và những bãi biển trải dài
            tuyệt đẹp, Phú Yên - Bình Định trở thành điểm nổi bật cho chuyến du lịch hè đáng nhớ cho du
            khách mọi miền. Không chỉ mang nét duyên của thành phố ôm trọn hai ngọn núi, Phú Yên còn mê
            đắm lòng người ở những đầm nước trong vắt, những bãi biển bao la, ghềnh Đá Đĩa kỳ thú. Qua
            đến Quy Nhơn trải nghiệm những hành trình hấp dẫn như Kỳ Co nước trong xanh màu ngọc bích
            được mệnh danh là “Maldives của Việt Nam”, Eo Gió vừa lãng mạn vừa hùng vĩ để ngắm hoàng
            hôn. 'Xứ Nẫu' nổi lên kiến trúc Champa Tháp Nhạn, Tháp Đôi độc đáo được xây dựng khoảng thế
            kỷ 12.
        </p>
        <h2>Những trải nghiệm thú vị trong chương trình</h2>
        <p>
            Nổi bật lên giữa miền Trung đầy nắng và gió, Phú Yên - Quy Nhơn thu hút du khách bởi... <br>
            - Khu du lịch Ghềnh Ráng: Có sự kết hợp hài hòa giữa trời, mây, non nước, một bên là
            biển mênh mông, một bên là núi đá muôn hình vạn trạng. Từ Ghềnh Ráng, du khách có thể ngắm
            nhìn gần trọn hết vẻ đẹp đầy sức sống của phố biển Quy Nhơn. <br>
            - Bãi tắm Kỳ Co: với dải cát vàng ôm lấy biển, bọc thành một hình cung, mềm mại như dải lụa
            uốn lượn, ôm trọn lấy làn nước trong xanh tận đáy khiến du khách mẩn mê. <br>
            - Gành Đá Dĩa: Một tập hợp các trụ đá hình lăng trụ xếp liền nhau, hòn nọ nối hòn kia trên
            một bãi đá trải rộng màu đen huyền bí, kề với sóng nước. Nhìn từ xa, Ghềnh Đá trông giống
            một tổ ong thiên tạo khổng lồ. <br>
        </p>
        <h2>Chương trình tour</h2>
        <p>
            <b>NGÀY 1: ĐÓN KHÁCH – CITY TOUR ( ĂN TRƯA, TỐI)</b> <br>
            Trưa: Xe và HDV đón Quý khách tại nhà ga/sân bay. <br>
            Chào mừng Qúy khách đến với Bình Định. Qúy khách di chuyển về Thành phố Quy Nhơn. Trên đường
            về, Quý khách ghé tham quan Chùa Thiên Hưng, ngôi chùa đẹp như tranh vẽ tại huyện An Nhơn.
            <br>
            Quý khách đến nhà hàng trung tâm thành phố ăn trưa. Di chuyển về khách sạn làm thủ tục nhận
            phòng tại khách sạn, nghỉ ngơi. <br>
            14h00: Đoàn khởi hành đi tham quan điểm đầu tiên - Khu du lịch Ghềnh Ráng, Quý khách được
            dạo bước trên dốc Mộng Cầm, đồi Thi Nhân, bãi tắm Hoàng Hậu, Tiên Sa, và sống lại với những
            vần thơ Hàn Mặc Tử cùng tài nghệ của bút lửa Dzũ Kha. <br>
        </p>
        <img src="/Image/QN-PY/ivivu-khu-du-lich-ghenh-rang.jpg" alt="">
        <p id="note">Khu du lịch Ghềnh Ráng.</p>
        <p>
            15h00: Quý khách hành trình đến Làng Phong Quy Hòa, nơi cuộc sống của con người bình yên,
            thong dong đến lạ bên dưới dàn hoa giấy rực rỡ, đây cũng là nơi Hàn Mặc Tử sinh sống trong
            thời gian cuối đời. <br>
            16h00: Đoàn đến Tháp Đôi, là cụm 02 ngọn tháp Chăm được xây dựng duyên dáng bên cạnh nhau.
        </p>
        <img src="/Image/QN-PY/ivivu-thap-doi1.gif" alt="">
        <p id="note">Tháp Đôi</p>
        <p>
            18h00: Xe đưa quý khách đi ăn tối, thưởng thức cơm nhà hàng hoặc ẩm thực địa phương (Bánh xèo
            tôm nhảy, Bún thịt nướng – nem lụi, Cơm gà,...). <br>
            Xe đưa Quý khách Tham quan Tượng đài Nguyễn Sinh Sắc – Nguyễn Tất Thành, được xây dựng sừng
            sững giữa lòng Quy Nhơn như một tượng đài vững chắc thể hiện tình cha con hòa quyện với tinh
            thần yêu nước.
        </p>
        <img src="/Image/QN-PY/ivivu-tuong-dai-nguyen-sinh-sac.gif" alt="">
        <p id="note">Tượng đài Nguyễn Sinh Sắc – Nguyễn Tất Thành.</p>
        <p>Nghỉ đêm khách sạn tại Quy Nhơn.</p>
        <p>
            <b>NGÀY 02: PHÚ YÊN – XỨ NẪU HOA VÀNG CỎ XANH ( ĂN SÁNG, TRƯA, TỐI)</b> <br>
            07h00: Điểm tâm sáng. <br>
            08h00:Xe và hướng dẫn viên đón quý khách tại điểm hẹn. Khởi hành tham quan Phú Yên – Bãi Xép
            <br>
            08h30: Tham quan Nhà thờ Mằng Lăng, được thiết kế theo lối kiến trúc Gothic với các họa tiết
            tinh xảo, một khám phá mới mẻ ở đây là hang thánh đường trong lòng quả đồi nhân tạo, cũng là
            nơi lưu giữ Cuốn sách có in chữ Quốc ngữ đầu tiên của nước ta. <br>
        </p>
        <img src="/Image/QN-PY/ivivu-nha-tho-mang-lang.jpg" alt="">
        <p id="note">Nhà Thờ Mằng Lăng.</p>
        <p>
            10h30: Đoàn đến Ghềnh Đá Đĩa, một thắng cảnh thiên nhiên cấp quốc gia đầy kỳ thú, trông xa
            như một tổ ong đen bóng hay là những chồng đĩa trong lò gạch dưới bàn tay sắp đặt của tạo
            hóa.
        </p>
        <img src="/Image/QN-PY/ivivu-ghenh-da-dia-16.jpg" alt="">
        <p id="note">Ghềnh Đá Đĩa</p>
        <p>
            11h30: Ăn trưa tại nhà hàng trên đầm Ô Loan cùng món sò huyết nổi tiếng. Nghỉ ngơi ngắn tại
            nhà hàng.
        </p>
        <img src="/Image/QN-PY/ivivu-dam-o-loan-hh.gif" alt="">
        <p id="note">Đầm Ô Loan</p>
        <p>
            13h30: Khởi hành đến Bãi Xép – Ghềnh Ông, hình ảnh quen thuộc từ Bộ phim Tôi thấy hoa vàng
            trên cỏ xanh, ấn tượng phải kể đến là bãi cỏ rộng mênh mông của Ghềnh Ông phía bên trên một
            bãi Xép sóng vỗ hiền hòa.
        </p>
        <img src="/Image/QN-PY/ivivu-bai-xep.gif" alt="">
        <p id="note">Bãi Xếp.</p>
        <p>
            15h00: Qúy khách tham quan Chùa Thanh Lương, tọa lạc tại xã An Chấn, huyện Tuy An, là ngôi
            chùa đầu tiên tại Việt Nam làm từ san hô và gáo dừa, chiêm ngưỡng tượng Phật Quan Âm khổng
            lồ nổi trên mặt hồ nước. <br>
            15h30: Quý khách lên xe hành trình về lại khách sạn. <br>
            18h00: Ăn tối tại nhà hàng. <br>
            Đoàn tự do tham quan vòng quanh thành phố (tự túc). <br>
            Nghỉ đêm tại Quy Nhơn.
        </p>
        <p>
            <b>NGÀY 03 KỲ CO – EO GIÓ – TIỄN KHÁCH ( ĂN SÁNG, TRƯA)</b> <br>
            07h00: Điểm tâm sáng. Quý khách làm thủ tục trả phòng khách sạn. <br>
            08h00: Xe và hướng dẫn viên đón quý khách tại điểm hẹn. Khởi hành tham quan Tour Kỳ Co – Eo
            Gío.
        </p>
        <img src="/Image/QN-PY/ivivu-bien-ky-co.jpg" alt="">
        <p id="note">Đảo Kỳ Co</p>
        <p>
            Vượt qua Cầu Thị Nại, nối liền Quy Nhơn và bán đảo Phương Mai xinh đẹp. <br>
            Trên đường đi, Quý khách dừng chân chụp ảnh tại Đồi cát Phương Mai, và ghi lại những bức
            hình thật độc đáo khi thả mình vào biển cát mênh mông..
        </p>
        <img src="/Image/QN-PY/ivivu-doi-cat-phuong-mai.gif" alt="">
        <p id="note">Đồi Cát Phương Mai.</p>
        <p>
            09h00: Quý khách lên cano tại bến cảng để di chuyển ra Đảo Kỳ Co, tận hưởng những giây phút
            thư giãn giữa mênh mông sóng nước. <br>
            09h30: Đến nơi, Quý khách hòa mình vào thiên nhiên, một bên là biển nước màu xanh lam trong
            vắt, một bên là núi đá cao sừng sững. <br>
            10h30: Cano đưa Quý khách ra Bãi Dứa lặn ngắm san hô. Hoặc mua thêm dịch vụ Đi bộ dưới đáy
            biển, Motor nước, Jetsky,… (chi phí tự túc). <br>
            11h30: Sau đó, di chuyển đến nhà hàng thưởng thức bữa trưa với các món hải sản tươi sống.
            Nghỉ ngơi tại nhà hàng. <br>
            14h00: Quý khách tham quan Eo Gió: một bãi biển hoang sơ dưới sự bào mòn của nước và gió,
            tạo nên một eo biển tuyệt đẹp, quanh năm lộng gió.
        </p>
        <img src="/Image/QN-PY/ivivu-eo-gio.gif" alt="">
        <p id="note">Eo gió</p>
        <p>
            14h30: Tiếp tục ghé thăm Tịnh Xá Ngọc Hòa – một địa điểm lý tưởng để tĩnh tâm và thiền định -
            với kiến trúc nổi bật là tượng đôi Phật Bà Quan Âm. <br>
            Sau đó xe đưa Qúy khách ra sân bay, làm thủ tục bay về lại điểm ban đầu. <br>
            Kết thúc hành trình tham quan Quy Nhơn – Phú Yên 3 ngày 2 đêm.
        </p>
        <p id="note">
            Thứ tự tham quan có thể thay đổi nhưng vẫn đảm bào đầy đủ điểm trong chương trình.
        </p>
    </div>
    <h3>Chi Phí Dự Kiến</h3>
    <hr>
    <div class="row">
        <div class="tab text-center">
            <button class="tablinks active" onclick="showTab(event, 'bao-gom')">
                Giá Bao
                Gồm
            </button>
            <button class="tablinks" onclick="showTab(event, 'khong-bao-gom')">
                Giá Không Bao
                Gồm
            </button>
            <button class="tablinks" onclick="showTab(event, 'phu-thu')">Phụ Thu</button>
            <button class="tablinks" onclick="showTab(event, 'luu-y')">Lưu Ý</button>
        </div>
        <div id="bao-gom" class="tabcontent active">
            <div>
                <p>
                    <b>Vận chuyển</b> <br>
                    - Xe vận chuyển máy lạnh, đời mới theo chương trình. <br>
                    - Cano khứ hồi Kỳ Co. <br>
                    <b>Lưu Trú:</b> <br>
                    - Khách sạn tiêu chuẩn 3 sao, 2 khách/phòng, trường hợp lẻ nam, lẻ nữ ngủ 03 khách/
                    phòng. ( Năm Thu, Flora. Anh Thảo hoặc tương đương). <br>
                    <b>Khác:</b> <br>
                    - 02 bữa ăn sáng tiêu chuẩn khách sạn. 05 bữa ăn chính. <br>
                    - Nước Uống + Khăn lạnh nước suối 0,5l /ngày/người, khăn lạnh 02 cái/ngày/người.
                    <br>
                    - Tham quan: Vé tham quan các điểm trong chương trình. <br>
                    - Hướng dẫn viên: Chuyên nghiệp, nhiệt tình đón và tiễn trọn hành trình. <br>
                    - Bảo hiểm: Bảo hiểm du lịch trong thời gian đi tour (10.000.000 VND/trường hợp).
                </p>
            </div>
        </div>
        <div id="khong-bao-gom" class="tabcontent">
            <div>
                <p>
                    - Chi phí cá nhân ngoài chương trình <br>
                    - Nước uống dùng riêng trong bữa ăn và các chi phí khác. <br>
                    - 10% VAT
                </p>
            </div>
        </div>
        <div id="phu-thu" class="tabcontent">
            <div>
                <p>
                    - Phụ thu phòng đơn 600.000 vnđ/khách. <br>
                    <b><u>Phụ thu bé tính theo năm sinh của bé:</u></b> <br>
                    - Trẻ em dưới 5 tuổi miễn phí <br>
                    - Trẻ em từ 5 tuổi đến 9 tuổi tính 50% giá tour. Đối với tour Kỳ Co, Trẻ cao từ 0.8m
                    trở lên tính như người lớn. <br>
                    - Trẻ em 10 tuổi trở lên giá như người lớn. Đối với Cù Lao Xanh, trẻ e từ 9 tuổi
                    hoặc cao trên 1m4 tính người lớn. <br>
                    - 02 người lớn Free 01 trẻ từ 4 tuổi trở xuống, trẻ thứ 2 tính vé trẻ em. <br>
                    - Trẻ em các tour tính theo tuổi thì sẽ dựa theo năm sinh; không tính theo tháng để
                    tròn tuổi. Ví dụ trẻ em năm 2013 năm nay sẽ là 10 tuổi. <br>
                    Không phân biệt sinh tháng <br>
                    <b>Phụ Thu Lễ Tết:</b> <br>
                    - Phụ thu 20% giá tour giai đoạn Tết Nguyên Đán: 19-26/01/2023 và 29/4 - 1/5 /2023
                    <br>
                    - Phụ thu phòng đơn: 500,000/khách
                </p>
            </div>
        </div>
        <div id="luu-y" class="tabcontent">
            <div>
                <p>
                    - Người lớn phải mang theo CMND để làm thủ tục nhận phòng khách sạn. <br>
                    - Trẻ em phải mang theo bản sao giấy khai sinh. <br>
                    - Không áp dụng các ngày lễ, tết. <br>
                    - Giá tạm tính có thể thay đổi khi chi phí đầu vào như xăng dầu, giá vé tham quan,
                    thực phẩm... thay đổi và sẽ được báo trước với đối tác. <br>
                    - Tùy thuộc vào đường bay và giờ bay của khách, thứ tự các điểm tham quan trong
                    chương trình có thể thay đổi cho phù hợp. Tuy nhiên vẫn đảm bảo các tuyến điểm cho
                    quý khách. <br>
                    - Có thể thiết kế theo yêu cầu riêng.
                </p>
            </div>
        </div>
    </div>
</div>