
<img style="width: 100%;border-radius: 20px 20px 0 0;"
     src="/Image/DL-NT-TPHB/ivivu-da-lat-750x390.gif" alt="">
<div class="content">
    <div style="margin: 0 10px;">
        <h3>Thành Phố Hoa Biển</h3>
        <p>
            Du lịch Nha Trang, Đà Lạt là một trong những lịch trình được nhiều người quan tâm vì đây là
            hai trong số nhiều địa danh thu hút đông đảo du khách. Nếu Đà Lạt mang vẻ đẹp kiêu sa của
            một thiếu nữ rực rỡ trong sắc xuân thì Nha Trang – nơi được mệnh danh là “hòn ngọc của Biển
            Đông” lại mang vẻ đẹp lung linh, huyền ảo với biển xanh, cát trắng cùng những hàng dừa rì
            rào, thẳng tắp. Du khách vừa được đắm mình trong khí trời se se lạnh của thành phố sương mù
            lại hòa mình cùng sóng biển cát vàng xứ Trầm hương . Giờ đây, hãy gác lại mọi bồn bề của
            cuộc sống để cùng iVIVU khám phá lịch trình hấp dẫn này ngay hôm nay!
        </p>
        <h3>Những trải nghiệm thú vị trong chương trình</h3>
        <p>
            - Khám phá City tour Nha Trang: Tháp bà Ponagar, chùa Long Sơn hoặc tự do khám phá
            Vinpearland Nha Trang <br>

            - Thiền Viện Trúc Lâm: Vẻ đẹp Phật giáo hài hòa cùng thiên nhiên và muôn sắc hoa. Rất nhiều
            loài hoa đẹp và quý hiếm như Sim Tím, bông Gòn úc, Phù Dung…khiến khung cảnh càng thêm thơ
            mộng.<br>

            - Chùa Long Sơn: du khách hành hương lên đồi Trại Thủy vãn cảnh chùa, chiêm bái Kim thân
            Phật tổ và ngắm nhìn Nha Trang vươn dài theo bờ biển.
        </p>
        <h3>Chương trình tour</h3>
        <h4>NGÀY 01: ĐÀ LẠT NGÀN HOA ( ĂN SÁNG, TRƯA)</h4>
        <p>
            Sáng: Xe đón khách sân bay Liên Khương hoặc bến xe. Sau đó xe đưa quý khách về thành phồ,
            quý khách nhập đoàn HDV đưa quý khách tham quan Dinh Bảo Đại ngôi dinh thự được chính vua
            Bảo Đại – vị vua cuối cùng của Việt Nam xây dựng để nghỉ ngơi và làm việc tại Đà Lạt được
            nhà nước cấp hạng di tích quốc gia. <br>

            Xe và HDV đưa quý khách tiếp tục đến với Thiền Viện Trúc Lâm ngôi chùa lớn được xây dựng năm
            1993 theo phái Thiền Tông với diện tích rộng 24 hecta cảnh quan đẹp nhìn xuống khu du lịch
            Hồ Tuyền Lâm.
        </p>
        <img src="/Image/DL-NT-TPHB/ivivu-thien-vien-truc-lam-da-lat-05.gif" alt="">
        <p id="note">Thiền Viện Trúc Lâm.</p>
        <p>
            - Thác Datanla là thác nước tự nhiên tuyệt đẹp nằm giữa đại ngàn bao la cùng với không gian
            yên tĩnh hoang dã sẽ tạo nên những góc sống ảo tuyệt vời nhất cho chuyến du lịch tại Đà Lạt.
            Đến đây, quý khách sử dụng xe trượt máng mới dài nhất Đông Nam Á để xuống thác. Quý khách
            được trải nghiệm cảm giác lạc vào giữa rừng thông với những khúc cua, đường trượt gấp khúc
            sẽ tạo cho quý khách thấy được cảm giác thú vị hào hứng cùng với những đường trượt uyển
            chuyển. (chi phí tự túc đi máng trượt để xuống thác giá vé 200k/khách). Nếu quý khách không
            sử dụng máng trượt để xuống thác thì quý khách có thể chinh phục con đường quanh co xuống
            dốc và lên dốc dài hơn 1km để xuống tham quan check in thác nước (quý khách tự túc mua vé đi
            bộ giá 50k/khách).
        </p>
        <img src="/Image/DL-NT-TPHB/ivivu-datanla.gif" alt="">
        <p id="note">Thác Datanla.</p>
        <p>
            Trưa: Quý khách về lại thành phố dùng cơm trưa tại nhà hàng. Tiếp tục hành trình

            Chiều : Xe và HDV đưa Quý khách đi tham quan :

            GREEN HILL – CỔNG TRỜI BALI là nơi tổ hợp những điểm check in chill nhất và nổi bật nhất tại
            Đà Lạt hiện nay với các tiểu cảnh check in như : Cổng trời Balli, nấc thang lên thiên đường,
            vòng xoáy tình yêu, hồ vô cực, phố Mai Anh Đào giữa lòng Đà Lạt, ngôi nhà nhỏ trên thảo
            nguyên, View 360 độ giúp quý khách có thể ngắm hết toàn bộ núi rừng & TP Đà lạt. <br>

            Xe và HDV đưa quý khách tham quan : Vườn Hoa Thành phố cảnh quan thơ mộng, với hàng trăm
            loài hoa khoe sắc rập trời. Quý khách tìm hiểu các loài hoa đặc trưng của Đà Lạt. Hoặc Quý
            khách có thể đổi điểm Vườn Hoa Thành phố sang Thung Lũng Tình Yêu & Đồi Mộng Mơ
            ( chi phí phát sinh thêm 180k/khách vì vé vườn hoa thành phố 70k – vé thung lũng
            tình yêu 250k). Thung Lũng Tình Yêu & Đồi Mộng Mơ là điểm được đánh giá là điểm
            nổi bật của Đà Lạt và là điểm đến lý với nhiều hoạt động hấp dẫn cùng những điểm chụp
            hình check in siêu hot. Đến đây quý khách tham quan bảo tàng tượng sáp với hơn 30
            nhân vật nổi tiếng của thế giới. Du ngoạn bằng xe điện đến với các khu : ĐỒI VỌNG
            CẢNH – THUNG LŨNG NGÀN HOA – HOA VIÊN VENUS – KHU VỰC HỒ ĐA THIỆN.<br>

            Quý khách check in vườn Cẩm Tú Cầu rộng lớn, khám phá 30 kỳ quan thu nhỏ của thế giới, ngắm
            cầu tình yêu với những ổ khóa xinh xoắn đầy mùa sắc, check in vườn hoa tại Hồ Đa Thiện, đạp
            vịt dạo quanh hồ,…<br>

            Quý khách tiếp tục đến với Đồi Mộng Mơ với khung cảnh thơ mộng và cùng hòa mình với người
            Dân Tộc nơi đây nhảy múa ca hát.<br>

            16h30 : Xe và HDV đưa quý khách về khách sạn nhận phòng nghỉ ngơi.<br>

            Tối: Xe và HDV đưa quý khách dùng cơm tối tại nhà hàng.<br>

            Sau đó quý khách tự do tham quan chợ đêm Đà Lạt hoặc thưởng thức ẩm thực đêm của Đà Lạt như
            sữa đậu nóng, pizza Đà Lạt, Ngô nướng, Khoai Lang nướng,… Nghỉ đêm tại khách sạn.
        </p>
        <h4>NGÀY 02: ĐÀ LẠT - NHA TRANG ( ĂN SÁNG, TRƯA, TỐI)</h4>
        <p>
            Sáng: Quý khách dùng điểm tâm sáng,trả phòng khách sạn <br>

            8h00 – 8h15 : Xe đón quý khách tại khách sạn khởi hành đi Nha Trang bằng xe LIMOUSINE. Trên
            đường đi quý khách ngắm toàn cảnh rừng nguyên sinh trên độ cao 1.500m so với mực nước biển
            và chiên ngưỡng rừng thông bao phủ thành phố Đà Lạt. <br>

            11h30 – 11h45 : HDV sẽ đón quý khách tại khách sạn. Quý khách dùng cơm trưa tại nhà hàng.
            Sau đó về khách sạn nhận phòng nghĩ ngơi.<br>

            Chiều: QUÝ KHÁCH CÓ THỂ LỰA CHON 1 TRONG 2 CHƯƠNG TRÌNH SAU:
        </p>
        <p><b>Chương trình 1 : Đi Vinpearlland chi phí tự túc </b></p>
        <p>
            vé sự dụng cáp treo & vui chơi 950.000 VND/ vé người lớn + 710.000 VND/ vé trẻ em (dự định
            hoạt cáp treo hoạt động vào tháng 6/2023)
            vé sự dụng tàu cao tốc & vui chơi 800.000 VND/vé người lớn + 600.000 VND/vé trẻ em) <br>
            Xe và HDV đến đưa quý khách khởi hành tham quan khu vui chơi giải trí đẳng cấp 5 sao
            VINPEARLLAND NHA TRANG.
        </p>
        <img src="/Image/DL-NT-TPHB/ivivu-vinpearl-nha-trang.gif" alt="">
        <p id="note">Vinpearlland Nha Trang.</p>
        <p>
            Xe và HDV đưa quý khách xuống Cảng Phú Quý. Quý khách đi tàu ca tốc để sang đảo ngọc quý
            khách chiên ngưỡng Vịnh Nha Trang và toàn cảnh thành phố thơ mộng. Quý khách thử sức mình
            với các trò chơi cảm giác mạnh như : đu quay dây văng, đu quay lộn đầu, tàu lượn siêu tốc,
            …. Thỏa sức mình với những trò chơi trong nhà hay những bộ phim 4D đầy ấn tượng. <br>

            Quý khách tham quan Vườn thú Quý Vương với những động vật hoang giã của rừng xanh như hổ, sư
            tử trắng, báo, tê giác, hưu cao cổ,…. <br>

            Tham quan đồi Vạn Hoa với hàng trăm loại hoa khoe sắc, check in tiểu hoang mạc của Châu Phi
            với vườn xương rồng vô cũng đặc sắc, khám phá vườn Nhật Bản với nhà Nhật, cổng trời, ….<br>

            Tham quan thế giới đại dương đầy màu sắc tại Thủy Cung Vinpearlland cùng với khoảng gần
            10.000 sinh vật biển đang tung tăng bới lội.<br>

            Quý khách check in khung trời Châu Âu tại Quảng Trường Đại Dương.<br>

            Đặc biệt đến đây quý khách chiên ngưỡng màn trình diễn lung linh đầy sắc màu của chương
            trình nhạc nước diễn ra vào lúc 19h các ngày trong tuần.<br>

            Tối: Quý khách tàu cao tốc trở về đất liền. HDV và xe sẽ đón quý khách tại khu vực bến cảng
            Sau đó đưa quý khách dùng cơm tối tại nhà hàng. Về khách sạn nghĩ ngơi. Quý khách có thể
            tham gia khu chợ đêm tại khu vực Quảng Trường trung tâm thành phố hoặc đi dạo bộ dọc bờ biển
            Nha Trang.
        </p>
        <p><b>Chương trình 2: City tham tham quan Nha Trang và tắm biển Nha Trang.</b></p>
        <p>
            Xe và HDV đưa quý khách quý khách tham quan Nhà thờ Chánh Tòa hay còn gọi là Nhà thờ Núi tọa
            lạc ngay trung tâm thành phố được xây dựng trên một đỉnh đồi với diện tích 4.500m2, với kiến
            trúc Gỗ – tích nổi bật và tường vách được xây bằng tấp lô xi măng đã tạo cho nhà thờ một
            kiến trúc độc đáo nếu chân du khách phải dừng lại khi qua đây.
        </p>
        <img src="/Image/DL-NT-TPHB/ivivu-nha-trang-cathedral.gif" alt="">
        <p id="note">Nhà Thờ Chánh Tòa.</p>
        <p>
            Tham quan Chùa Long Sơn một trong 20 ngôi chùa lớn tại thành phố Nha Trang.Quý khách chiêm
            ngưỡng bức tượng Kim Thân Phật Tổ cao 24m ngự trên đồi Thủy Trại được xây đựng năm 1963.
        </p>
        <img src="/Image/DL-NT-TPHB/ivivu-chua-long-son.gif" alt="">
        <p id="note">Chùa Long Sơn.</p>
        <p>
            Về lại khách san. Tự do tắm biển Nha Trang. <br>

            Tối: HDV và xe sẽ đón quý khách dùng cơm tối tại nhà hàng. Về khách sạn nghĩ ngơi. Quý
            khách có thể tham gia khu chợ đêm tại khu vực Quảng Trường trung tâm thành phố hoặc đi dạo
            bộ dọc bờ biển Nha Trang.
        </p>
        <h4>NGÀY 03: DU NGOẠN VỊNH NHA TRANG ( ĂN SÁNG, TRƯA, TỐI)</h4>
        <p>
            Sáng : Quý khách ăn sáng tại khách sạn. Sau đó chuẩn bị đồ tắm, kem chống nắng để tham gia
            chuyến du ngoạn đảo.<br>

            8h30 – 8h45 : Xe và hướng dẫn viên đến đón khách tại khách sạn. Sau đó đưa quý khách xuống
            cảng Cầu Đá.<br>

            Tiếp theo ca nô đưa quý khách đến Vịnh San Hô hoặc Con Sẽ Tre, quý khách ngắm làn nước biển
            trong xanh và vẻ đẹp tuyệt mỹ của vịnh Nha Trang. Đến Vịnh San Hô quý khách lên đảo nhận ghế
            nghỉ ngơi và tự do bơi lội để đắm mình dưới làn nước trong xanh và chiên ngưỡng hệ động vật
            san hô tại đây.
        </p>
        <img src="/Image/DL-NT-TPHB/ivivu-vinh-san-ho.gif" alt="">
        <p id="note">Vịnh San Hô.</p>
        <p>
            Ngoài ra quý khách có thể tham gia các trò chơi cảm giác mạnh như : lặn biển khám phá đại
            dương, moto nước, bay dù,…. (tự túc chi phí các trò chơi cảm giác mạnh)<br>

            Quý khách tiếp tục đến với Làng Chài tại đây quý khách có thể chọn cho mình các loại hải sản
            tươi sống để làm phong phú thực đơn bữa trưa của mình (chi phí hải sản tự túc).<br>

            12h00: Quý khách dùng cơm trưa tại trên bè hoặc nhà hàng của khu du lịch. <br>

            Ca nô đưa quý khách đến với khu du lịch Bãi Tranh. Quý khách nhận ghế dù nghĩ ngơi, tự do
            tắm biển tại đây.
        </p>
        <img src="/Image/DL-NT-TPHB/ivivu-bai-tranh.gif" alt="">
        <p id="note">Bãi Tranh.</p>
        <p>
            15h30: Quý khách trở lại ca nô. Ca nô đưa quý khách về tới cảng. Xe và HDV đưa quý khách về
            khách sạn nghĩ ngơi.<br>

            Không bao gồm:<br>

            Thức uống và các dịch vụ khác tại mỗi đảo: <br>

            Trò chơi thể thao trên nước<br>

            Chi phí tắm nước ngọt tại đảo<br>

            Tối: HDV đưa quý khách dùng cơm tối tại nhà hàng.<br>

            Sau đó quý khách tự do khám phá chợ đêm Nha Trang, công viên Phù Đổng, Cà phê Bốn Mùa, khu
            hải sản Tháp Bà. <br>

            Về khách sạn nghỉ ngơi.
        </p>
        <h4>NGÀY 04: NHA TRANG - HÀ NỘI / TPHCM ( ĂN SÁNG, TRƯA) </h4>
        <p>
            Sáng : Quý khách dùng điểm tâm sáng. Sau đó quý khách trả phòng khách sạn. Xe và HDV đưa
            quý khách đến Nhà Yến Nha Trang, đến đây quý khách tìm hiểu về đặc sản Nha Trang cũng như
            tìm hiểu ngành nghề khai thác chế biến tổ yến sào. <br>

            Quý khách tiếp tục hành trình với Tháp Bà Ponagar một trong những tháp cổ của người Chăm để
            lại, nằm cạnh bờ sông Cái Nha Trang.Đến đây quý khách còn có thể thưởng thúc những điệu múa
            của người Chăm, tìm hiểu về ngành nghề làm gốm, dệt vải cổ truyền của dân tộc Chăm.
        </p>
        <img src="/Image/DL-NT-TPHB/ivivu-tour-nha-trang-4n3d-nha-trang-binh-ba-thap-ba-ponagar.jpg"
             alt="">
        <p id="note">Tháp Bà Ponagar.</p>
        <p>
            Trưa: Quý khách dùng bữa trưa với đặc sản Nem Nướng và Bún Cá - một nét văn hóa ẩm thực
            của người dân Nha Trang.<br>

            Xe đưa Quý khách đến khu du lịch suối khoáng nóng Tháp Bà sử dụng “Ôn tuyền
            thủy liệu pháp”, Đến đây quý khách ngâm mình thư giãn với bùn khoáng trong vòng 20 phút.
            Sau đó chuyển qua phương pháp mát xa trị liệu bằng những tia nước bắn vào các huyệt đạo làm
            cho cơ thể giải mỏi trong vòng 10 phút, quý khách tiếp tục thư giãn với dịch vụ ngâm khoáng
            nóng hồ bơi và thác nước giúp cho quý khách cải thiện các bệnh về xương khớp kèm theo đó tẩy
            đi các tế bào chết của da làm cho da sẽ mịn màng hơn. Tắm bùn giúp quý khách chăm sóc tốt
            hơn cho sức khỏe và da ( chi phí tắm bùn khoáng tự túc). <br>

            Chiều: Xe và HDV đưa quý khách ra sân bay Cam Ranh, bến xe hoặc ga. Kết thúc chương
            trình.Chia tay quý khách và hẹn gặp lại.
        </p>
        <p id="note">
            Thứ tự tham quan có thể thay đổi nhưng vẫn đảm bảo đầy đủ điểm trong chương trình.
        </p>
    </div>
    <h3>Chi Phí Dự Kiến</h3>
    <hr>
    <div class="row">
        <div class="tab text-center">
            <button class="tablinks active" onclick="showTab(event, 'bao-gom')">
                Giá Bao
                Gồm
            </button>
            <button class="tablinks" onclick="showTab(event, 'khong-bao-gom')">
                Giá Không Bao
                Gồm
            </button>
            <button class="tablinks" onclick="showTab(event, 'phu-thu')">Phụ Thu</button>
            <button class="tablinks" onclick="showTab(event, 'luu-y')">Lưu Ý</button>
        </div>
        <div id="bao-gom" class="tabcontent active">
            <div>
                <p>
                    <b>Vận chuyển:</b> <br>- Xe đưa đón tại sân bay,nhà ga,bến xe tham quan theo chương
                    trình <br>
                    <b>Lưu trú:</b> <br>
                    - Khách sạn ngay trung tâm gần biển, gần chợ phòng đầy đủ tiện nghi bố trí phòng 02
                    khách /phòng ( trường hợp ngủ ghép vì giới tính) <br>

                    Tại Nha Trang:<br>

                    - Khách sạn 3 sao :ORIENTAL, BONJOUR, MAJESTIC,… hoặc tương đương<br>

                    Tại Đà Lạt : <br>

                    - Khách sạn 3 sao: Rum vàng2, Hoàng Minh Châu, Mai Vàng, Mai Thắng… hoặc tương
                    đương<br>
                    <b>Khác:</b> <br>
                    - Bữa ăn: 3 bữa Điểm tâm sáng theo tiêu chuẩn khách sạn <br>

                    - Ăn chính 07 bữa thực đơn 140.000đ/suất <br>

                    - Vé tham quan: tại các điểm theo chương trình.<br>

                    - HDV Tiếng Việt suốt tuyến phục vụ nhiệt tình chu đáo<br>

                    - Khuyến mại: Nước uống Sanna.<br>

                    - Bảo hiểm: 30.000.000 VND/vụ, theo quy định của BH PVI<br>
                </p>
            </div>
        </div>
        <div id="khong-bao-gom" class="tabcontent">
            <div>
                <p>
                    - Vé máy bay + vé tàu <br>

                    - Thuế VAT <br>

                    - Tiền Tip cho HDV và tài xế địa phương<br>

                    - Vé tắm bùn khoáng tập thể 220.000đ/khách<br>

                    - Vé Vinpearlland : 800 000/ người lớn – 600 000/ trẻ em từ 1m – 1m4<br>

                    - Máng trượt thác Datanla 200k/ khách hoặc mua vé đi bộ xuống thác 50 000/khách<br>

                    - Chi phí cá nhân,điện thoại ,giặt ủi,nước uống tại khách sạn…<br>
                </p>
            </div>
        </div>
        <div id="phu-thu" class="tabcontent">
            <div>
                <p>
                    Phụ thu phòng đơn: 900 000/khách <br>

                    - Lễ 27/04/ - 01/05: phụ thu 30%<br>

                    <b>Phụ Thu Trẻ Em:</b><br>

                    - Trẻ em từ 11 tuổi trở lên mua 100% giá tour<br>

                    - Trẻ em từ 4 – đến 7 tuổi mua 50% giá tour, Trẻ từ 8 tuôi đến 10 tuổi mua 75% giá
                    tour, ngủ chung phòng với bố mẹ <br>

                    - Trẻ em dưới 4 tuổi miễn phí, nếu trẻ em đi kèm nhiều hơn thì từ em thứ 02 trở lên
                    phải mua 1/2 vé<br>

                    - Trẻ con miễn phí bố mẹ phải tự lo vé nếu bé cao hơn mức quy định của các khu vui
                    chơi, nhà hàng, khách sạn,... <br>
                </p>
            </div>
        </div>
        <div id="luu-y" class="tabcontent">
            <div>
                <p>
                    - Quý khách vui lòng xem kỹ chương trình, giá tour, phần bao gồm và không
                    bao gồm được liệt kê chi tiết trong chương trình. <br>

                    - Không nhận hồ sơ với phụ nữ có thai từ 4 tháng trở lên.<br>

                    - Thứ tự các điểm tham quan có thể thay đổi để phù hợp với tình hình thực tế.<br>

                    - Thứ tự lịch trình có thể thay đổi tùy theo tình hình thực tế của chuyến đi,nhưng
                    vẫn đảm bảo đầy đủ số điểm tham quan.<br>

                    - Khi đi quý khách nhớ mang theo CMND hay Passport, hành lý gọn nhẹ.<br>

                    - Nếu khách là Việt Kiều hoặc nước ngoài có visa rời phải mang theo lúc đi tour<br>

                    - Trẻ em dưới 15 tuổi phải có bố mẹ đi cùng hoặc người được uỷ quyền phải có giấy uỷ
                    quyền từ bố mẹ.<br>

                    - Trong những trường hợp khách quan như: khủng bố, thiên tai…hoặc do có sự cố, có sự
                    thay đổi lịch trình của các phương tiện vận chuyển công cộng như : máy bay, tàu
                    hỏa…thì Công ty sẽ giữ quyền thay đổi lộ trình bất cứ lúc nào vì sự thuận tiện, an
                    toàn cho khách hàng và sẽ không chịu trách nhiệm bồi thường những thiệt hại phát
                    sinh.<br>

                    - Do tính chất là đoàn ghép khách lẻ, du lịch sẽ có trách nhiệm nhận khách cho đủ
                    đoàn (15 khách người lớn trở lên) thì đoàn sẽ khởi hành đúng lịch trình. Nếu số
                    lượng đoàn dưới 15 khách, cty sẽ có trách nhiệm thông báo cho khách trước ngày khởi
                    hành 4 ngày và sẽ thỏa thuận lại ngày khởi hành mới, hoặc hoàn trả lại toàn bộ số
                    tiền khách đã đăng ký trước đó.<br>

                    - Đối với khách hàng từ 70 tuồi đến 85 tuổi, gia đình và quý khách phải cam kết đảm
                    bảo tình trạng sức khỏe với Cty chúng tôi trước khi tham gia tour. Nếu có bất cứ sự
                    cố nào xảy ra trên tour, Cty du lịch sẽ không chịu trách nhiệm dưới mọi tình
                    huống.<br>
                </p>
            </div>
        </div>
    </div>
</div>
