
<img class="slideanim" style="width: 100%;border-radius: 20px 20px 0 0;"
     src="/Image/vinhhalong/Halongbay.jpg" alt="Sapa Image">
<div class="content">
    <div style="margin: 0 10px;">
        <h2>Ngẩn ngơ cung đường xứ Bắc</h2>
        <p>
            Xứ Bắc - vùng đất khai cơ của các Vương triều Việt, nơi định đô của hầu hết các triều đại
            phong
            kiến Việt Nam chính vì vậy nơi đây được xem như là đất kinh đô ngàn năm văn hiến với một bề
            dày
            văn hóa, lịch sử sâu sắc và đa dạng.
        </p>
        <p>
            Tuy nhiên, khi đến đây, Du khách không chỉ được tham quan những công trình văn hóa - lịch sử
            cổ
            kính như: Văn Miếu, Hoàng thành Thăng Long, Cố đô Hoa Lư, Chùa Bái Đính, trải nghiệm những
            nét
            văn hóa đặc sắc của đất kinh đô như : ngoạn cảnh 36 phố phường, thưởng thức ẩm thực, xem múa
            rối
            nước; mà còn có thể thăm thú các thắng cảnh nổi tiếng nơi đây như: Di sản thế giới Danh
            thắng
            Tràng An và Vịnh Hạ Long. Cùng iVIVU trải ngiệm vùng đất tuyệt vời này ngay hôm nay!
        </p>
        <h2>Những trải nghiệm thú vị trong chương trình</h2>
        <p>Nhắc đến xứ Bắc, không thể bỏ lỡ:</p>
        <p>
            <b>- Vịnh Hạ Long: </b>Theo CNN, là điểm du lịch đẹp nhất tại Việt Nam, đồng thời là một
            trong
            những điểm tham quan tự nhiên nổi tiếng của Đông Nam Á. Với 1.969 đảo đá vôi cùng những ngôi
            làng nổi trên làn nước xanh thẳm, vẻ đẹp của Hạ Long như khiến thời gian lắng đọng.
        </p>
        <p>
            <b>- Chùa Bái Đính: </b>một quần thể chùa được coi là đẹp và lớn nhất ở Việt Nam hiện nay, sở
            hữu
            nhiều kỷ lục nhất của Việt Nam.
        </p>
        <p>
            <b>- Danh thắng Tràng An: </b>có giá trị về văn hoá thiên nhiên hùng vĩ chứa đựng nhiều giá
            trị
            nổi bật với cảnh quan thiên nhiên đặc sắc, được tạo nên 1 cách hài hoà bởi hình núi, thế
            sông,
            các hang động ngập nước quanh năm với thảm thực vật còn hoang sơ nguyên vẹn.
        </p>
        <h2>Chương trình tour</h2>
        <h4>NGÀY 01: ĐÓN SÂN BAY NỘI BÀI - HÀ NỘI </h4>
        <p>Xe đón Quý Khách tại sân bay <b>Nội Bài</b> đưa về Khách sạn nhận phòng, nghỉ ngơi.</p>
        <p>
            Quý khách tự do khám phá thủ đô Hà Nội với <b>
                36 Phố Phường, tham quan tháp rùa, cầu Thê
                Húc,
                chùa Trấn Quốc, Lăng Bác, Văn Miếu Quốc Tử Giám,…
            </b>
        </p>
        <p>
            <b>Buổi tối:</b> Quý khách tự do thưởng thức ẩm thực đường phố mang nét văn hóa của Hà
            Nội
            xưa như chả cá Lã Vọng, bún Thang, phở Lý Quốc Sư, phở cuốn Ngũ Xá,….
        </p>
        <p>Ngủ đêm tại Khách sạn 3 sao phố cổ Hà Nội. </p>
        <h4>NGÀY 02: HÀ NỘI - BÁI ĐÍNH - TRÀNG AN - HÀ NỘI (ĂN SÁNG, TRƯA)</h4>
        <p>
            <b>Buổi Sáng:</b> Qúy khách, ăn sáng khởi hành đi <b>Ninh Bình.</b> Tới Ninh Bình,
            Qúy khách
            viếng và thăm
            quan <b>chùa Bái Đính</b> với <b>tượng Phật Thích ca</b> bằng đồng cao và nặng nhất
            Viêt
            Nam, Chùa có <b>
                bộ
                Tam Thế
            </b> bằng đồng lớn nhất Việt Nam, Chùa có nhiều tượng La Hán nhất Việt
            Nam…
        </p>
        <p>Qúy khách quay trở lại nhà hàng ăn trưa với các món đặc sản thịt dê…</p>
        <img src="/Image/HN-NB-VHL/ivivu-bai-dinh.gif" alt="">
        <p id="note">Chùa Bái Đính.</p>
        <p>
            Chiều: Qúy khách tiếp tục thăm quan khu du lịch Tràng An, đoàn xuống thuyền du ngoạn
            khám phá
            vẻ đẹp hoang sơ được ví như Vịnh Hạ Long trên cạn với vô vàn các hạng động bằng
            những con
            thuyền nhỏ. Qúy khách ghé thăm và dâng hương lên thần thánh tại các ngôi đền thờ ở
            hai bên
            dòng sông của khu du lịch Tràng An.
        </p>
        <img src="/Image/HN-NB-VHL/ivivu-kdl-trang-an-2.gif" alt="">
        <p id="note">KDL Tràng An.</p>
        <p>
            Về đến Hà Nội, xe đưa Quý Khách về lại Khách sạn, tự do ăn tối, khám phá Phố Cổ nhộn
            nhịp, đi chợ đêm Đồng Xuân, dạo chơi phố đi bộ,…
        </p>
        <h4>NGÀY 03: HÀ NỘI - VỊNH HẠ LONG - CHÈO THUYỀN KAYAK (ĂN SÁNG, TRƯA, TỐI)</h4>
        <p>
            Sáng: Xe đón quý khách tại khách sạn, sau đó khởi hành đi Hạ Long. Đến cảng tàu Hạ
            Long, Đoàn tập trung tại nhà chờ theo sự hướng dẫn của hướng dẫn viên đợi mua vé và
            phát vé cho Quý khách để lên tàu bắt đầu hành trình khám phá Vịnh. Tàu sẽ đi qua rất
            nhiều các hòn đảo lớn nhỏ với nhiều hình dáng khác nhau có những tên gọi đặc biệt
            như: Hòn Gà Chọi, hòn Chó Đá, hòn Đỉnh Hương, hòn Ngón Tay...
        </p>
        <img src="/Image/HN-NB-VHL/ivivu-hon-cho-da.gif" alt="">
        <p id="note">Hòn Chó Đá.</p>
        <p>Quý khách thưởng thức bữa trưa trên tàu. </p>
        <p>
            Chiều: Đến đảo Bồ Hòn. Quý khách thăm quan Hang Sửng Sốt - Một trong những hang động
            đẹp nhất vịnh Hạ Long. Tiếp theo, Quý khách sẽ chèo Kayak hoặc đi thuyền nan thăm
            Hang Luồn.
        </p>
        <img src="/Image/HN-NB-VHL/ivivu-hang-sung-sot-1.gif" alt="">
        <p id="note">Hang Sửng Sốt.</p>
        <p>
            Sau 30 phút chèo Kayak, Quý khách lên tàu để đến với đảo Ti Top. Quý khách có thể tắm
            biển tại bãi tắm TiTop với bãi cát trắng, hoặc thử treekking leo lên đỉnh núi Ti Top
            ngắm nhìn toàn cảnh Vịnh Hạ Long.
        </p>
        <img src="/Image/HN-NB-VHL/ivivu-tour-mien-bac-3n2d-hanoi-halong-hanoi-cheo-thuyen-kaya-tren-vinh-ha-long-1.jpg"
             alt="">
        <p id="note">Chèo Kayak.</p>
        <p>
            Tàu sẽ di chuyển đưa đoàn về lại Bến. Xe ô tô đón và đưa về khách sạn nhận phòng,
            nghỉ ngơi.
        </p>
        <p>
            Đoàn dùng buổi tối và tự do vui chơi khám phá Chợ Đêm, Phố ẩm thực... Nghỉ đêm tại Hạ
            Long.
        </p>
        <h4>NGÀY 04: KHÁM PHÁ THÀNH PHỐ HẠ LONG – HÀ NỘI - TIỄN BAY (ĂN SÁNG, TRƯA)</h4>
        <p> Sáng: Ăn sáng tại khách sạn. Buổi sáng Quý khách có thể lựa chọn:</p>
        <p>
            <span class="u-chiphi">Opition 1:</span> Tự do vui chơi tại khu Công viên Hạ Long
            với nhiều khu vui chơi hấp dẫn (chi phí vé vui chơi tại các khu công viên tự túc):
        </p>
        <p> - Khu Cáp treo Nữ hoàng và vòng quay Sunwheel khổng lồ trên khu đồi huyền bí.</p>
        <img src="/Image/HN-NB-VHL/ivivu-bai-chay.gif" alt="">
        <p id="note">Khu Công Viên Hạ Long.</p>
        <p> - Công viên Dragon park với các trò chơi mạo hiểm như tàu lượn, đu quay...</p>
        <p> - Công viên Typhoon water park với các trò chơi liên quan đến nước đầy hấp dẫn</p>
        <p> <span class="u-chiphi">Opition 2:</span> Tự do tắm biễn Bãi Cháy.</p>
        <img src="/Image/HN-NB-VHL/ivivu-bien-bai-chay.gif" alt="">
        <p id="note">Bãi Cháy.</p>
        <p>
            11h30: Quý khách trả phòng khách sạn, ăn trưa tại khách sạn. Sau đó lên xe về Hà
            Nội.
        </p>
        <p> 17h15: Về đến Hà Nội. Kết thúc chương trình. Hẹn gặp lại quý khách!</p>
        <p>
            Lịch trình thăm quan có thể thay đổi nhưng vẫn đảm bảo các điểm thăm quan có trong
            chương trình.
        </p>
        <p id="note">
            Thứ tự tham quan có thể thay đổi nhưng vẫn đảm bảo đầy đủ điểm trong
            chương trình.
        </p>
        <h3>Chi Phí Dự Kiến</h3>
        <hr>
        <div class="row">
            <div class="tab text-center">
                <button class="tablinks active" onclick="showTab(event, 'bao-gom')">
                    Giá Bao
                    Gồm
                </button>
                <button class="tablinks" onclick="showTab(event, 'khong-bao-gom')">
                    Giá Không Bao
                    Gồm
                </button>
                <button class="tablinks" onclick="showTab(event, 'phu-thu')">Phụ Thu</button>
                <button class="tablinks" onclick="showTab(event, 'luu-y')">Lưu Ý</button>
            </div>
            <div id="bao-gom" class="tabcontent active">
                <p> - Xe máy lạnh đời mới theo Chương trình</p>
                <p> - Khách sạn 3*( 2 đêm tại Hà Nội, 1 đêm tại Hạ Long )</p>
                <p> - Ăn theo Chương trình - ăn sáng tại khách sạn</p>
                <p> - Vé thăm quan tại các tuyến điểm vào cửa 1 lần</p>
                <p> - Hướng dẫn viên tiếng Việt – Anh nhiệt tình kinh nghiệm theo suốt tuyến</p>
                <p> - Nước suối trên xe</p>
                <p> - Bảo hiểm cho khách </p>
            </div>
            <div id="khong-bao-gom" class="tabcontent">
                <p> - Chi phí cá nhân, đồ uống, giặt là điện thoại tại khách sạn.</p>
                <p> - Thuế Vat 10%</p>
                <p> - Phụ thu phòng đơn</p>
                <p> - Vé xe điện khứ hồi tại chùa Bái Đính 60.000 vnđ</p>
                <p>
                    - Các chi phí cá nhân khác và chi phí thăm quan không được đề cập tới trong
                    chương trình
                </p>
                <p> - Tip cho hướng dẫn viên và Lái xe ( Không bắt buộc )</p>
            </div>
            <div id="phu-thu" class="tabcontent">
                <p> - Phụ thu phòng đơn: 950.000VNĐ/tour/khách.</p>
                <p>
                    - Trẻ em dưới 5 tuổi: Được miễn phí, ngủ chung với bố mẹ. Cha mẹ tự chi trả
                    những chi phí phát sinh liên quan tới trẻ, trẻ miễn phí không chiếm chỗ trên
                    xe, 2 người lớn chỉ được kèm 1 trẻ em miễn phí, từ trẻ thứ 2 tính 75% giá
                    tour.
                </p>
                <p>
                    - Trẻ em từ 5 – dưới 9 tuổi: Tính 75% giá vé người lớn; ăn suất riêng và ngủ
                    chung với bố mẹ và có ghế riêng trên xe.
                </p>
                <p> - Trẻ em từ 9 tuổi trở lên: Tính như người lớn.</p>
            </div>
            <div id="luu-y" class="tabcontent">
                <p>
                <p>
                    - Tùy vào tình hình thực tế thời tiết và các yếu tố khách quan, thứ tự các
                    điểm tham
                    quan trong chương trình có thể thay đổi nhưng vẫn đảm bảo đầy đủ các điểm
                    tham quan
                    cho khách hàng.
                </p>
                <p>
                    - Quý khách có mặt tại điểm đón trước 15 phút. Du khách đến trễ khi xe đã
                    khởi hành
                    hoặc hủy tour không báo trước vui lòng chịu phí như ‘hủy vé ngay ngày khởi
                    hành’
                </p>
                <p>
                    - Quý khách mang theo giấy CMND hoặc Hộ chiếu (Bản chính), nên mang theo
                    hành lý gọn
                    nhẹ, không mang valy lớn.
                </p>
                <p>
                    - Trẻ em phải đi cùng cha mẹ hoặc có giấy cam kết đi tour cùng người thân,
                    khi đi
                    phải mang theo giấy khai sinh hoặc hộ chiếu.
                </p>
                <p>
                    - Quý khách tự quản lý tiền bạc tư trang trong qua trình tham quan du lịch.
                </p>
                <p> - Khi đăng ký, quý khách vui lòng cung cấp đầy đủ Họ tên và năm sinh.</p>
                <p>
                    - Đối với du khách là Việt kiều, Quốc tế nhập cảnh Việt Nam bằng visa rời,
                    vui lòng
                    mang theo tờ khai hải quan và visa khi đi tour.
                </p>
                <p>
                    - Chương trình tour được coi là biên bản ghi nhớ giữa khách hàng và Ivivu.
                    Những
                    thắc mắc, khiếu nại sẽ dựa vào những quy định trong chương trình và phiếu
                    thu để
                    giải quyết.
                </p>
                <p>
                    - Trường hợp hủy tour do sự cố khách quan như thiên tai, dịch bệnh hoặc do
                    tàu thủy,
                    xe lửa, máy bay hoãn/hủy chuyến, công ty sẽ không chịu trách nhiệm bồi
                    thường thêm
                    bất kỳ chi phí nào khác ngoài việc hoàn trả chi phí những dịch vụ chưa được
                    sử dụng
                    của tour đó.
                </p>
                </p>
            </div>
        </div>
    </div>
</div>
