
<img style="width: 100%;border-radius: 20px 20px 0 0;"
     src="/Image/MD-N3DD-KBY/ivivu-cau-kon-klor-kon-tum.gif" alt="">
<div class="content">
    <div style="margin: 0 10px;">
        <h2>Liên Tuyến Tây Nguyên Đại Ngàn</h2>
        <p>
            Khu du lịch sinh thái Măng Đen được du khách xa gần biết đến như “Đà Lạt thứ hai” của Tây
            Nguyên. Măng Đen vẫn giữ nguyên vẻ đẹp hoang sơ hiếm có của đại ngàn Tây Nguyên với rừng,
            suối, hồ và thác nước. Măng Đen e ấp ẩn mình bên cánh rừng nguyên sinh với những rặng thông
            đỏ bạt ngàn trải dài như vô tận, xen lẫn tiếng nước chảy róc rách quanh năm... <br>
            Cảm giác thú vị bất ngờ xâm chiếm sau hành trình dài giữa đại ngàn hùng vĩ, du khách thấy
            Măng Đen bốn phía được bao bọc bởi sương mù, rừng thông, biệt thự và cái lạnh nhè nhẹ...
            Ngoài bạt ngàn cây xanh, ở Măng Đen thỉnh thoảng khách bộ hành còn bắt gặp nhiều suối, thác
            đẹp nổi tiếng như: Pa Sỹ, Đăk Ke, Lô Ba và những hồ thơ mộng: Toong Zơri, Toong Pô, Toong
            Đam. <br>
            Là một thị trấn thuộc huyện Kon Plong, tỉnh Kon Tum, Măng Đen được tự nhiên ưu ái khi mang
            trong mình đến tận bảy hồ, ba thác với dòng nước xanh trong ngọt ngào quanh năm. Cùng iVIVU
            khám phá ngay hôm nay!
        </p>
        <h2>Những trải nghiệm thú vị trong chương trình</h2>
        <p>
            - Khu Du lịch Măng Đen: rừng nguyên sinh phủ kín khắp nơi, khí hậu mát mẻ quanh năm với nhiều
            thắng cảnh hồ, thác khiến du khách ngỡ lạc bước giữa 'thiên đường nghỉ dưỡng' Măng Đen. <br>
            - Nhà Thờ Gỗ Kom Tum trên 100 tuổi - là biểu tượng của vùng đất Tây Nguyên, là niềm tự hào
            của người dân thành phố Kon Tum và luôn có sức hút mãnh liệt cho những du khách đến với vùng
            cao nguyên bạt ngàn. <br>
            - Khám phá KDL Thác Pa Sỹ Tây Nguyên.
        </p>
        <h2>Chương trình tour</h2>
        <p>
            <b>
                NGÀY 1: PLEIKU – KON TUM – MĂNG ĐEN ( ĂN TRƯA, TỐI)
            </b> <br>
            Xe & Hướng dẫn của Công Ty đón Quý khách làm thủ tục check in tại sân bay Tân Sơn Nhất. Đáp
            chuyến bay có xe và hướng dẫn đón khách tại sân bay Pleiku. <br>
            09h30: Đoàn tham quan Nhà Thờ Gỗ Kom Tum trên 100 tuổi - là biểu tượng của vùng đất Tây
            Nguyên, là niềm tự hào của người dân thành phố Kon Tum và luôn có sức hút mãnh liệt cho
            những du khách đến với vùng cao nguyên bạt ngàn.
        </p>
        <img src="/Image/MD-N3DD-KBY/ivivu-nha-tho-go-kon-tum.jpg" alt="">
        <p id="note">Nhà Thờ Gỗ Kon Tum.</p>
        <p>
            11h30: Đoàn đến với Măng Đen - nơi được mệnh danh là “Đà Lạt thứ 2” của Việt Nam. Điểm đến
            này rất đáng để đi bởi không khí rất dễ chịu mát mẻ quanh năm, điểm tô vào đó là nét đẹp còn
            nguyên sơ của cao nguyên đại ngàn, của rừng thông đầy quyến rũ và nơi xứ sở của hồ của thác,
            Măng Đen có đến 7 hồ và 3 thác đẹp tuyệt vời. Ngoài ra đây còn là nơi vẫn còn lưu giữ nét
            văn hóa bản địa mộc mạc khiến cho du khách không khỏi bỡ ngỡ và tò mò. Đoàn dùng cơm trưa và
            nhận phòng khách sạn nghỉ ngơi.
        </p>
        <img src="/Image/MD-N3DD-KBY/ivivu-mang-den.jpg" alt="">
        <p id="note">Măng Đen.</p>
        <p>
            Buổi chiều: 14h00: Xe đưa quý khách tham quan Khu du lịch thác Pa Sĩ, cầu treo dây văng lệch
            nhịp duy nhất Miền Trung - Tây Nguyên; tham quan thác Đăk Ke và hồ Đăk Ke.
        </p>

        <img src="/Image/MD-N3DD-KBY/ivivu-khu-du-lich-thac-pa-si.jpg" alt="">
        <p id="note">Thác Pa Sỹ.</p>
        <p>
            15h30: Quý khách tham quan chùa Khánh Lâm - nơi thiền định giữa rừng thiêng, sau đó tham quan
            Đức mẹ Măng Đen.
        </p>
        <img src="/Image/MD-N3DD-KBY/ivivu-duc-me-mang-den.jpg" alt="">
        <p id="note">Đức Mẹ Măng Đen.</p>
        <p>
            18h00: Đoàn dùng cơm tối tại nhà hàng với các món đặc sản núi rừng, nghỉ đêm tại Măng Đen.
        </p>
        <p>
            <b>NGÀY 2: MĂNG ĐEN – KON TUM – CỬA KHẨU BỜ Y ( ĂN SÁNG, TRƯA, TỐI)</b> <br>
            06h30: Đoàn dùng điểm tâm sáng, chụp hình con đường Thông nổi tiếng tại Măng Đen. <br>
            08h00: Tạm biệt măng đen, khởi hành về Kon Tum. <br>
            Tiếp tục chương trình tham quan của đoàn tại Tp Kon Tum. HDV đưa đoàn tham quan Cầu treo
            Konlor, là cây cầu lớn nhất Tây Nguyên được làm bằng thép.
        </p>
        <img src="/Image/MD-N3DD-KBY/ivivu-cau-kon-klor-kon-tum.gif">
        <p id="note">Cầu Treo Konlor.</p>
        <p>
            - Tham quan Nhà Rông Kon klor, nét đặc trưng của đồng bào Tây Nguyên nói chung và đồng bào
            Bana Kon Tum được coi là một trong những ngôi nhà Rông lớn nhất Tây Nguyên.
        </p>
        <img src="/Image/MD-N3DD-KBY/ivivu-nha-rong-kon-klor.gif" alt="">
        <p id="note">Nhà Rông Kon Klor.</p>
        <p>
            - Tòa giám Mục Kon Tum, là một công trình kiến trức Phương Tây kết hợp với kiến trúc dân tộc
            bản địa truyền thống. Một trong những điểm nhấn tại Tòa Giám Mục đó là căn nhà Truyền Thống,
            đây được coi là bảo tàng nhỏ về vật dụng sinh hoạt, nông cụ, vật thể văn hóa các dân tộc bản
            địa đang sinh sống trên địa bàn. Các hiện vật, bản đồ trưng bày trong này đều rất có giá
            trị, được chạm khắc bằng gỗ rất tỉ mỉ.
        </p>
        <img src="/Image/MD-N3DD-KBY/ivivu-toa-giam-muc-kon-tum.gif" alt="">
        <p id="note">Tòa Giám Mục Kon Tum.</p>
        <p>
            11h00: Dùng cơm trưa tại Nhà hàng. Về khách sạn nhận phòng nghỉ ngơi. <br>
            Buổi chiều: 13h00: Đoàn khởi hành tham quan Cửa Khẩu Quốc Tế Bờ Y. Ngã Ba Đông Dương (Nơi
            con gà đứng gáy 3 nước đông dương nghe thấy) chụp hình cột mốc ba biên.

        </p>
        <img src="/Image/MD-N3DD-KBY/ivivu-cua-khau-quoc-te-bo-y.gif" alt="">
        <p id="note">Cửa Khẩu Quốc Tế Bờ Y.</p>
        <p>
            - Khởi hành đến Ngã ba Đông Dương, là nơi điểm tiếp giáp giữa ba nước Việt Nam, Lào và
            Campuchia. Nơi đây lưu dấu bao bước chân của du khách khắp mọi miền đất nước không chỉ bởi
            vị thế đặc biệt của vùng đất “một con gà gáy cả ba nước đều nghe” mà còn ở vẻ đẹp thiên
            nhiên hoang sơ hùng vĩ cùng bao câu chuyện lắng đọng tình đất, tình người.
        </p>
        <img src="/Image/MD-N3DD-KBY/ivivu-nga-ba-dong-duong.gif" alt="">
        <p id="note">Ngã Ba Đông Dương.</p>
        <p>
            - Chinh phục Cửa Khẩu Bờ Y - nơi có cột mốc làm bằng đá hoa cương, đặt trên đỉnh núi có độ
            cao 1.086m so với mặt biển, cao 2m, nặng gần 900kg có hình trụ tam giác, mỗi mặt quay về
            hướng quốc gia đó đều có tên nước và quốc huy trang trọng.
        </p>
        <img src="/Image/MD-N3DD-KBY/ivivu-van-hoa-tay-nguyen.gif" alt="">
        <p id="note">Văn Hóa Tây Nguyên.</p>
        <p>
            Có lẽ với bất kỳ ai trong chúng ta, việc được chạm đến nơi tấm biển này và ngắm nhìn Tổ quốc
            mình thật đẹp biết bao đều sẽ cảm thấy thực sự xúc động, may mắn xen lẫn hạnh phúc! <br>
            18h00: Về lại Thành Phố Kon Tum, Đoàn dùng bữa tối, thưởng thức món Gỏi Lá ( một trong10 món
            ăn nổi tiếng Châu Á).
        </p>
        <img src="/Image/MD-N3DD-KBY/ivivu-mon-goi-la-tay-nguyen.gif" alt="">
        <p id="note">Món Gỏi Lá Tây Nguyên.</p>
        <p>
            Tối tự do khám phá Kon Tum về đêm với những quán cafe mang đậm chất Tây Nguyên dọc bờ Sông
            ĐăkBla
        </p>
        <p>
            <b>NGÀY 3: KON TUM – PLEIKU ( ĂN SÁNG, TRƯA)</b> <br>
            06h30: Đoàn dùng điểm tâm sáng. Sau bữa sáng, quý khách tạm biệt Kon Tum khởi hành về Pleiku
            – Gia Lai. <br>
            - Đến với Gia Lai, đoàn tham quan và check in tại Rừng Thông Trăm Tuổi, với hàng thông cổ
            thụ tuyệt đẹp cạnh rung chè xanh bạt ngàn. Đây được mệnh danh là “con đường Hàn Quốc” tại
            Pleiku Gia Lai. Nơi đây rất thu hút lượng khách đến tham quan , các bạn trẻ thì ghi dấu
            thanh xuân và tình iu nơi con đường tuyệt đẹp này.
        </p>
        <img src="/Image/MD-N3DD-KBY/ivivu-rung-thong-tram-tuoi.jpg" alt="">
        <p id="note">Rừng Thông Trăm Tuổi.</p>
        <p>
            - Biển Hồ - một địa danh nổi tiếng của Pleiku nơi mà được nhạc sĩ Nguyễn Cường đưa vào bài
            hát rất nổi tiếng “Đôi mắt Pleiku Biển Hồ Đầy”.

        </p>
        <img src="/Image/MD-N3DD-KBY/ivivu-bien-ho-gia-lai.jpg" alt="">
        <p id="note">Biển Hồ.</p>
        <p>
            12h00: Quý Khách dùng cơm trưa tại Nhà Hàng. <br>
            Buổi Chiều: Đoàn Tham Quan Chùa Minh Thành với vẻ đẹp phương Đông đặc trưng độc đáo mang ảnh
            hưởng của kiến trúc Nhật Bản, Trung Quốc, Đài Loan. Đến nay, chùa không chỉ là nơi các Phật
            tử đến để chiêm bái, lễ phật mà còn thu hút nhiều du khách tìm đến tham quan và vãn cảnh….
        </p>
        <img src="/Image/MD-N3DD-KBY/ivivu-chua-minh-thanh.gif" alt="">
        <p id="note">Chùa Minh Thành.</p>
        <p>
            15h00 xe đưa đoàn ra trung tâm thương mại mua đặc sản địa phương về làm cho bạn bè và người
            thân. <br>
            16h00: Xe và hướng dẫn viên đưa đoàn ra sân bay, làm thủ tục đáp chuyến bay về lại Sài Gòn
            kết thúc chương trình Tây Nguyên.
        </p>
        <p id="note">
            Lịch trình có thể thay đổi tùy theo tình hình thực tế, nhưng vẫn đảm bảo điểm tham
            quan.
        </p>
    </div>
    <h3>Chi Phí Dự Kiến</h3>
    <hr>
    <div class="row">
        <div class="tab text-center">
            <button class="tablinks active" onclick="showTab(event, 'bao-gom')">
                Giá Bao
                Gồm
            </button>
            <button class="tablinks" onclick="showTab(event, 'khong-bao-gom')">
                Giá Không Bao
                Gồm
            </button>
            <button class="tablinks" onclick="showTab(event, 'phu-thu')">Phụ Thu</button>
            <button class="tablinks" onclick="showTab(event, 'luu-y')">Lưu Ý</button>
        </div>
        <div id="bao-gom" class="tabcontent active">
            <div>
                <p>
                    <b>Vận Chuyển:</b> <br>
                    - Xe đời mới máy lạnh đón khách theo chương trình. <br>
                    - Vé máy bay bao gồm 7kg hành lý xách tay và 20kg hành lý ký gửi ( Khai thác bởi
                    Pacific Airline) <br>
                    <b>Lưu Trú:</b> <br>
                    - Biệt Thự tiêu chuẩn tương đương 3 sao tại Măng Đen: 2 - 3 – 4 khách/phòng. <br>
                    - Khách sạn 3 sao: Kon Tum (2-4 khách/phòng) <br>
                    <b>Khác:</b> <br>
                    - Ăn uống theo lịch trình tham quan <br>
                    -Vé vào cổng các điểm tham quan <br>
                    - Bảo hiểm: 50.000.000 đ/Người/trường hợp. (Không được hưởng Bảo hiểm du lịch cho
                    các trường hợp hợp sau: trên 80 tuổi, tiền sử các bệnh như: tim mạch, đột quỵ, …)
                    <br>
                    - 1 HDV nhiệt tình, vui vẻ phục vụ đoàn suốt tuyến <br>
                    - Nước suối: 1 chai 500ml/ngày/khách, Khăn lạnh: 1 cái/ngày/khách <br>
                    - Thuế VAT
                </p>
            </div>
        </div>
        <div id="khong-bao-gom" class="tabcontent">
            <div>
                <p>
                    - Chi phí cá nhân: Giặt ủi, điện thoại, ăn uống ngoài chương trình, ….. <br>
                    - Điểm tham quan: Các chi phí ngoài chương trình.
                </p>
            </div>
        </div>
        <div id="phu-thu" class="tabcontent">
            <div>
                <p>
                    - Phụ thu phòng đơn: 700.000 đ/khách/tour tiêu chuẩn 3 sao. Tết phụ thu: 900.000
                    vnđ/khách/tour. <br>
                    - Dưới 2 tuổi: Trẻ em dưới 2 tuổi miễn phí giá land, phí vào tên kèm bố mẹ
                    500.000đ/trẻ <br>
                    <b>Phụ thu trẻ em:</b> <br>
                    - Từ 2 - 5 tuổi: 100% vé máy bay. Hai người lớn chỉ được kèm một trẻ em. Từ trẻ thứ
                    2 ở độ tuổi từ 2 đến 5 tuổi mua 100% vé máy bay và 50% giá tour. Tiêu chuẩn nửa vé
                    bao gồm: Suất ăn, ghế ngồi và ngủ ghép chung với gia đình. <br>
                    - Từ 6-9 tuổi: 100% vé máy bay và 75% giá tour. Hai người lớn chỉ được kèm một trẻ
                    em (Suất ăn, ghế ngồi và ngủ ghép chung với gia đình). Từ trẻ thứ 2 ở độ tuổi từ 6
                    đến 10 tuổi mua vé người lớn. <br>
                    - Trẻ em 10 tuổi Vé người lớn.
                </p>
            </div>
        </div>
        <div id="luu-y" class="tabcontent">
            <div>
                <p>
                    - Giá trên không áp dụng cho ngày lễ, tết. <br>
                    - Trình tự chương trình có thể thay đổi nhưng số lượng chương trình vẫn không thay
                    đổi. <br>
                    - Du khách mang theo giấy CMND hoặc Hộ chiếu (Bản chính), nên mang theo hành lý gọn
                    nhẹ, không mang valy lớn. <br>
                    - Trẻ em phải đi cùng cha mẹ hoặc có giấy cam kết đi tour cùng người thân, khi đi
                    phải mang theo giấy khai sinh hoặc hộ chiếu. <br>
                    - Du khách tự quản lý tiền bạc tư trang trong qua trình tham quan du lịch. <br>
                    - Khi đăng ký, quý khách vui lòng cung cấp đầy đủ Họ tên và năm sinh. <br>
                    - Đối với du khách là Việt kiều, Quốc tế nhập cảnh Việt Nam bằng visa rời, vui lòng
                    mang theo tờ khai hải quan và visa khi đi tour. <br>
                    Chương trình tour được coi là biên bản ghi nhớ giữa khách hàng và công ty. Những
                    thắc mắc, khiếu nại sẽ dựa vào những quy định trong chương trình và phiếu thu để
                    giải quyết.
                </p>
            </div>
        </div>
    </div>
</div>