
<img class="slideanim" style="width: 100%;border-radius: 20px 20px 0 0;"
     src="/Image/PT-NDCMR/ivivu-lang-chai-mui-ne-750x390.jpg" alt="Sapa Image">
<div class="content">
    <div style="margin: 0 10px;">
        <h1>Phan Thiết - Hương Vị Của Biển</h1>
        <p>
            Xe Limousine hay được gọi là “Chuyên Cơ Mặt Đất” dòng xe hiện đại, tối ưu và sang trọng, được
            cải tiến từ những chiếc xe du lịch 40 chỗ thành những chiếc xe 20 chỗ sang trọng, xe du lịch
            29 chỗ thành 18-20 chỗ. Xe Limousine được áp dụng phục vụ cho hành khách tuyến đường dài để
            đảm bảo sự nghỉ ngơi và thoải mái khi đi trên xe. Cả nội thất bên trong của các xe đều được
            lắp đặt các thiết bị hiện đại và tiện ích nhất cho các trải nghiệm của hành khách. <br>

            Thiên nhiên dường như quá ưu đãi cho bờ biển Phan Thiết, bởi nó chứa đựng những điều cuốn
            hút du khách, biển xanh, cát trắng, rặng dừa xanh,…đã tạo cho Phan Thiết sức hấp dẫn khó
            cưỡng cho những ai yêu biển, yêu cái nắng vàng trên cát. Ngỡ như khô cằn nhưng lại vô cùng
            lãng mạn. Đừng nghĩ Phan Thiết không có gì để khám phá, thật ra nó là một điểm nghĩ dưỡng
            sau những ngày làm mệt mỏi, căng thẳng nơi phố thị vô cùng hữu hiệu, là nơi để bạn và gia
            đình thư giãn vào những ngày hè oi bức, gắn kết tình thân hay là nơi trăng mật vô cùng lãng
            mạn.
        </p>
        <h1>Những trải nghiệm thú vị trong chương trình</h1>
        <p>
            - Lưu trú tại resort 5 sao - Centara Mirage Mũi Né <br>

            - Thưởng thức đặc sản Phan Thiết - bánh canh tôm hùm<br>

            - Buổi tiệc hải sản Phan Thiết<br>

            - Làng chài mũi né- thương thức hải sản tươi sống<br>

            - Check-in sang chảnh tại hồ bơi, chụp hình thả ga với nhiều view sống ảo<br>

            - Trải nghiệm công viên nước đầu tiên lớn nhất tại mũi né<br>

            - Sử dụng nhiều dịch vụ như: game room, khu vui chơi cho bé, gym, xe đạp…<br>

            - Check-in tại Bikini Beach – khách sạn Movenpick 5 sao
        </p>
        <h1>Chương trình tour</h1>
        <h3>ĐIỂM ĐÓN KHÁCH:</h3>
        <p>
            07h00: Đón khách tại 367 Tân Sơn, Phường 15, Quận Tân Bình <br>

            07h30: Đón khách tại Trường Đại Học Hồng Bàng, 03 Hoàng Việt, Phường 4, Quận Tân Bình (Có
            chổ gửi xe qua đêm: bãi xe nhà hàng Hoa Sứ của khách sạn Đệ Nhất)<br>

            08h00: Đón khách tại Nhà Văn Hóa Thanh Niên, 04 Phạm Ngọc Thạch, Phường Bến Nghé, Quận
            1.<br>

            08h15: Đón khách tại Cây xăng Comeco, Ngã 4 Hành Xanh, Phường 21, Quận Bình Thạnh
        </p>
        <h2>
            NGÀY 1: TP. HỒ CHÍ MINH – PHAN THIẾT – BIKINI BEACH – CHECK-IN KHÁCH SẠN MOVENPICK 5 SAO –
            CENTARA MIRAGE RESORT (ĂN TRƯA)
        </h2>
        <p>
            Buổi sáng: 07h00: Xe và hướng dẫn viên cong ty đón quý khách tại điểm hẹn, rời TP.HCM theo
            Cao tốc Dầu Giây – Phan Thiết khởi hành đi Mũi Né. (Tự túc ăn sáng) <br>

            10h30: Đến Phan Thiết, xe đưa quý khách đên check-in tại BÃI BIỂN BIKINI BEACH NOVA WORLD
            PHAN THIẾT, là điểm check-in mới tại Phan Thiết đã đi vào hoạt động và được người dân cũng
            như du khách đặc biệt yêu thích với góc chụp hình hấp dẫn, các biểu tượng độc đáo như tượng
            happy boy-girl, cổng cầu vòng, nhà gỗ, khung chụp ảnh, logo Bikini Beach ngay tại bãi biển…
        </p>
        <img src="/Image/PT-NDCMR/ivivu-bikini-beach-1.gif" alt="">
        <p id="note">Bikini Beach.</p>
        <p>
            Xe đưa đoàn đến tham quan và chụp ảnh tại Khách sạn Movenpick Phan Thiết, là khách sạn 5 sao
            nằm ngay cửa ngõ vào khu đô thị Novaworld Phan Thiết. Khách sạn được lấy cảm hứng dựa trên
            truyền thuyết và những câu chuyện dân gian về các huyền thoại cướp biển – vốn được tái hiện
            vô cùng thành công tại các công viên giải trí Disney Land. Khách sạn Movenpick nổi bật bởi
            màu sơn đỏ trên nền cây cỏ xanh tươi. Đây là điểm check-in nổi tiếng tại Phan Thiết, là điểm
            nhấn ấn tượng trong quần thể kiến trúc của Novaworld Phan Thiết.
        </p>
        <img src="/Image/PT-NDCMR/ivivu-khach-san-movenpik.jpg" alt="">
        <p id="note">Movenpick Phan Thiết.</p>
        <p>12h00: Quý khách đến nhà hàng dùng cơm trưa với thực đơn.</p>
        <img src="/Image/PT-NDCMR/ivivu-dac-san.jpg" alt="">
        <p id="note">Thực Đơn Trưa.</p>
        <p>
            14h00: Đoàn về Resort Centara Mirage Mũi Né 5 sao nhận phòng nghỉ ngơi, tận hưởng dịch vụ của
            Resort. <br>

            Khu nghỉ dưỡng CENTARA MIRAGE MŨI NÉ tiêu chuẩn 5 sao thuộc tập đoàn Centara Hotels &
            Resorts, được xây theo chủ đề công viên nước và lấy ý tưởng từ kiến trúc của vùng Địa Trung
            Hải.
        </p>
        <img src="/Image/PT-NDCMR/ivivu-resort-centara-mirage-mui-ne-5-sao.jpg" alt="">
        <p id="note">Resort Centara Mirage Mũi Né 5 Sao.</p>
        <p>
            Đến đây, quý khách sẽ được trải nghiệm mê hoặc mọi giác quan với các cụm phức hợp như: <br>

            - Khu vui chơi ngoài trời Camp Safari: Khu công viên nước Fantasia, nơi tàu chiến lớn với
            các ống trượt nước mạo hiểm mang đậm phong cách Tây Ban Nha đang neo đậu, bố mẹ và trẻ nhỏ
            sẽ có những phút giây vui chơi thỏa thích và sảng khoái.
        </p>
        <img src="/Image/PT-NDCMR/ivivu-khu-vui-choi-centara-mirage-resort-mui-ne.jpg" alt="">
        <p id="note">Khu Ngoài Trời.</p>
        <p>
            - Khu điện tử E-Zone được trang bị đầy đủ máy chơi game, các trò chơi cổ điển.<br>

            - Cụm hồ bơi nhiều tầng rộng 1.500m2 với độ sâu khoảng 1,2 mét, có vách đá đứng để quý khách
            có thể trải nghiệm cảm giác mạnh nhảy từ vách đá xuống hồ bơi.<br>

            - Đặc biệt, Resort còn có 2 hồ bơi dài 250m uốn lượn mềm mại như dòng song bao quanh khu
            biệt thự sườn đồi.<br>

            Bên cạnh đó, du khách cũng có thể thưởng ngoạn toàn cảnh đại dương từ tháp quan sát Faro cao
            30 mét hoặc thư giãn tại Spa Cenvaree.<br>

            - Những vị khách nhỏ tuổi có thể tự do tạo ra không gian phấn khích của riêng mình tại sân
            chơi trẻ em ngoài trời hoặc trung tâm giải trí trong nhà, bao gồm các khu vực riêng biệt
            dành cho trẻ em hoặc thanh thiếu niên như sân chơi bowling, phòng hát karaoke, vận động
            trường...<br>

            Buổi tối: Quý khách tự do thưởng thức các món đặc sản Phan Thiết như Bánh Căn, Bánh xèo,
            Bánh Canh, Bún Sứa, Bánh tráng mắm ruốc, hải sản,… thay cho bữa cơm tối. (bữa tối tự túc)
            <br>

            Hoặc 16h30: Quý khách đăng kí đi “LÀNG CHÀI MŨI NÉ” tham quan cảnh mua bán, đánh bắt hải sản
            của người dân, tự túc khám phá hải sản tươi sống tại chỗ tại Làng Chài địa phương.
        </p>
        <img src="/Image/PT-NDCMR/ivivu-lang-chai-mui-ne-1.gif" alt="">
        <p id="note">Làng Chài Mũi Né.</p>
        <p>
            19h00: Xe đưa quý khách về lại resort nghỉ ngơi. <br>

            Nghỉ đêm tại Centara Mirage Resort.<br>

            Hoặc qúy khách có thể đăng kí tham gia chương trình Fishermen Show.<br>

            <b>“CHƯƠNG TRÌNH ĐẶC BIỆT: THAM DỰ FISHERMEN SHOW”</b><br>

            Fishermen Show – Huyền Thoại Làng Chài (chi phí tự túc: 300.000đ – 500.000đ/vé tùy vị trí
            ghế ngồi)
        </p>
        <img src="/Image/PT-NDCMR/ivivu-nhac-nuoc-fishermen-show.gif" alt="">
        <p id="note">Fishermen Show.</p>
        <p>
            Show vũ kịch đương đại trên sân khấu nhạc nước, ĐẦU TIÊN và DUY NHẤT tại VIỆT NAM. <br>

            Thời lượng: 1 tiếng, bao gồm phần giải trí và 6 chương múa của 25 diễn viên trên sân khấu
            nhạc nước.
        </p>
        <h2>NGÀY 2: TRẢI NGHIỆM CÁC DỊCH VỤ VUI CHƠI TẠI RESORT – TP. HỒ CHÍ MINH ( ĂN SÁNG, TRƯA)</h2>
        <p>
            Buổi sáng: Quý khách dùng điểm tâm sáng tại resort, tự do tắm biển, tắm hồ bơi hoặc sử dụng
            các dịch vụ như thư giãn với các liệu pháp trẻ hóa tại SPA Cenvaree, thiền định trong phòng
            tập yoga hay thư giãn với một ly cocktail tại quầy bar bên hồ bơi Fantasia, chơi bowling
            hoặc một trong ba phòng karaoke của khu nghỉ dưỡng. Check-in sang chảnh tại hồ bơi, chụp
            hình thả ga với nhiều view sống ảo tại resort.
        </p>
        <img src="/Image/PT-NDCMR/ivivu-centara-mirage-mui-ne-5-sao.jpg" alt="">
        <p id="note">Check In Hồ Bơi Sang Chảnh.</p>
        <p>
            11h00: Quý khách làm thủ tục trả phòng. Xe đưa quý khách đến nhà hàng dùng bữa trưa. <br>

            Công ty tặng mỗi hành khách 1 suất Bánh canh Tôm Hùm đặc sản của Phan Thiết.
        </p>
        <img src="/Image/PT-NDCMR/ivivu-banh-canh-tom-hum.jpg" alt="">
        <p id="note">Bánh Canh Tôm Hùm.</p>
        <p>
            14h00: Quý khách trở về HCM, trên đường ghé mua đặc sản của Bình Thuận như: Thanh Long, nước
            mắm, mực khô…. về làm quà cho người thân. <br>

            17h30: Đến Tp. HCM chia tay và hẹn gặp lại quý khách.
        </p>
        <p id="note">
            Lưu ý: Thứ tự các điểm tham quan trên có thể thay đổi tùy theo hoàn cảnh thực tế và
            điều kiện thời tiết, nhưng số lượng các điểm tham quan không thay đổi.
        </p>
        <h3>Chi Phí Dự Kiến</h3>
        <hr>
        <div class="row">
            <div class="tab text-center">
                <button class="tablinks active" onclick="showTab(event, 'bao-gom')">
                    Giá Bao
                    Gồm
                </button>
                <button class="tablinks" onclick="showTab(event, 'khong-bao-gom')">
                    Giá Không Bao
                    Gồm
                </button>
                <button class="tablinks" onclick="showTab(event, 'phu-thu')">Phụ Thu</button>
                <button class="tablinks" onclick="showTab(event, 'luu-y')">Lưu Ý</button>
            </div>
            <div id="bao-gom" class="tabcontent active">
                <p>
                    <b>Vận chuyển:</b><br>

                    - Xe Limousine 28 chỗ: Mỗi đợt khởi hành tối thiểu 25-28 khách/đợt.<br>

                    Xe đời mới máy lạnh, đón khách theo chương trình. Trường hợp không đủ số lượng khách
                    thì được dời sang lịch khởi hành tiếp theo.<br>

                    <b>Lưu Trú:</b><br>

                    - Resort 5 Sao Centara Mirage Mũi Né. Tiêu chuẩn: 2-3 khách/phòng<br>

                    <b> Khác:</b> <br>

                    - Ăn uống theo như trong lịch trình + 1 buổi Bánh canh Tôm Hùm<br>

                    - Vé vào cổng tham quan các điểm có trong chương trình.<br>

                    - Bảo hiểm: 50.000.000 đ/Người/trường hợp, (Không được hưởng Bảo hiểm du lịch cho
                    các trường hợp hợp sau: trên 80 tuổi, tiền sử các bệnh như: tim mạch, đột quỵ…)<br>

                    - Hướng dẫn viên: 1 HDV nhiệt tình, vui vẻ phục vụ đoàn suốt tuyến<br>

                    - Nước suối, khăn lạnh, nón. <br>

                    - Thuế VAT <br>
                </p>
            </div>
            <div id="khong-bao-gom" class="tabcontent">
                <p>
                    - Chi phí cá nhân: Giặt ủi, điện thoại, ăn uống ngoài chương trình…<br>

                    - Ăn sáng và ăn tối Ngày 1 tại Phan Thiết <br>

                    - Điểm tham quan: Các điểm tham quan ngoài chương trình
                </p>
            </div>
            <div id="phu-thu" class="tabcontent">
                <p>
                    - Phụ thu phòng đơn: 1.200.000đ/khách/đêm (ngày thường)<br>

                    <b>Phụ thu trẻ em:</b><br>

                    - Trẻ em dưới 5 tuổi: Cha, mẹ hoặc người thân đi kèm tự lo các chi phí ăn, ngủ, tham
                    quan (nếu có) cho bé. Hai người lớn chỉ kèm 1 trẻ em dưới 5 tuổi, em thứ 2 trở lên
                    phải mua 80% vé tour. Mua ghế ngồi trên xe: 60% giá tour (Nếu ba mẹ có nhu cầu).<br>

                    - Từ 6-10 tuổi 80% vé tour: ngủ chung bố mẹ, 1 chỗ ngồi trên xe, ăn uống theo chương
                    trình. <br>

                    - Trên 10 tuổi Vé người lớn, tiêu chuẩn như người lớn.
                </p>
            </div>
            <div id="luu-y" class="tabcontent">
                <p>
                    - Trong trường hợp khách hàng dẫn theo trẻ em dưới 15 tuổi (không phải con ruột) đi
                    cùng trong chương trình, phải mang theo Giấy Ủy Quyền của cha mẹ, có xác nhận của
                    chính quyền địa phương. <br>

                    - Trẻ em phải đi cùng cha mẹ khi đi phải mang theo giấy khai sinh hoặc hộ chiếu.<br>

                    - Du khách có mặt tại điểm đón trước 30 phút. Du khách đến trễ khi xe đã khởi hành
                    hoặc hủy tour không báo trước vui lòng chịu phí như ‘hủy vé ngay ngày khởi
                    hành’.<br>

                    - Du khách mang theo giấy CMND hoặc Hộ chiếu (Bản chính), nên mang theo hành lý gọn
                    nhẹ, không mang vali lớn.<br>

                    - Du khách tự quản lý tiền bạc tư trang trong quá trình tham quan du lịch.<br>

                    - Khi đăng ký, quý khách vui lòng cung cấp đầy đủ Họ tên và năm sinh.<br>

                    - Đối với du khách là Việt kiều, Quốc tế nhập cảnh Việt Nam bằng visa rời, vui lòng
                    mang theo tờ khai hải quan và visa khi đi tour.
                </p>
            </div>
        </div>
    </div>
</div>