<img style="width: 100%;border-radius: 20px 20px 0 0;" src="/Image/HCM-GW-CC/ivivu-grand-world-xe-dap-750x390.gif" alt="">
<div class="content">
    <div style="margin: 0 10px;">
        <h2>Đến Với Hòn Ngọc Đầy Nắng Biển</h2>
        <p>
            Thường được biết đến với tên 'Đảo Ngọc', Phú Quốc sở hữu những bãi biển hoang sơ tuyệt đẹp,
            sinh vật biển đa dạng và cảnh quan thiên nhiên phong phú được kết hợp tài tình với những
            cánh rừng tự nhiên, núi, biển và thác nước, sông hồ. Phú Quốc luôn là một trong những điểm
            nghĩ dưỡng hàng đầu với các khu resort đẳng cấp quốc tế cùng với những khu vui chơi, giải
            trí quy mô bậc nhất Đông Nam Á như công viên chủ đề Vin Wonders, thành phố không ngủ Grand
            World, casino Phú Quốc....Ngoài ra, Phú Quốc vẫn còn lưu giữ nhiều di tích văn hóa, lịch sử
            và các nghề truyền thống hàng trăm năm tuổi như nghề làm nước mắm Phú Quốc trứ danh.
        </p>
        <h2>Những trải nghiệm thú vị trong chương trình</h2>
        <p>
            - Chùa Hộ Quốc (Thiền Viện Trúc Lâm Hộ Quốc) – đây cũng là một địa điểm tham quan tâm linh
            mới của Phú Quốc <br>
            - Grand World - khu phức hợp giải trí mua sắm rộng 85 héc ta, đẳng cấp quốc tế với kiến trúc
            Á-Âu đặc sắc như dòng sông Venice, phố Thượng Hải.... <br>
            - Tắm biển Bãi Sao một trong những bãi biển đẹp nhất của Phú Quốc với làn nước trong xanh và
            những bãi cát chạy dài trắng mịn.
        </p>
        <h2>Chương trình tour</h2>
        <p>
            <b>NGÀY 1: HỒ CHÍ MINH - PHÚ QUỐC – GRAND WORLD ( ĂN TRƯA, TỐI)</b> <br>
            06h30: Nhân viên công ty sẽ đón quý khách tại sân bay Tân Sơn Nhất, làm thủ tục khởi hành đi
            Phú Quốc trên chuyến bay VJ323 Lúc 08:45. <br>
            09h40: Đến Phú Quốc, xe và HDV đón đoàn đi tham quan Dinh Cậu, Dinh Bà, biểu tượng đặc trưng
            về vùng đất tâm linh của Phú Quốc. <br>
        </p>
        <img src="/Image/HCM-GW-CC/ivivu-dinh-cau-phu-quoc.gif" alt="">
        <p id="note"> Check In Lý Tưởng Dinh Cậu</p>
        <p>
            10h40: Đoàn di chuyển đến nhà hàng dùng cơm trưa, sau đó nhận phòng khách sạn, nghỉ ngơi.
            <br>
            15h30: Xe và HDV đưa đoàn đi tham quan Châu Âu thu nhỏ. ( GRAND WORLD ) <br>
            - Tự do check-in khám phá Grand World Phú Quốc – thiên đường mua sắm, ẩm thực, vui chơi giải
            trí “không ngủ” tập hợp nhiều nét tinh hoa kiến trúc thế giới, nhiều show diễn thú vị.
        </p>
        <img src="/Image/HCM-GW-CC/ivivu-grand-world-pq.gif" alt="">
        <p id="note">Grand World Phú Quốc.</p>
        <p>
            - Khám phá Công viên Urban Park: Quy tụ nhiều tác phẩm nghệ thuật độc đáo, mang đậm nét lãng
            mạn, cổ điễn, đậm chất Ý. <br>
            - Du ngoạn dòng sông Venice (Ý) ( chi phí tự túc ) <br>
            - Khu phố đèn lồng Shanghai : Tọa lạc ngay cổng vào dự án, lấy cảm hứng thiết kế từ những
            con phố sầm uất của Thượng Hải, khu phố như một China Town thu nhỏ trên đảo Ngọc trù phú.
            <br>
            - Khu mái vòm ánh sáng đổi màu độc đáo phong cách Clarke Quay <br>
            - Khu phố đi bộ với chợ đêm dân gian lấy ý tưởng từ khu Asiatique tại Thái Lan, khu phố đi
            bộ Mallorca phục vụ cho những nhu cầu vui chơi, giải trí… <br>
            Hoặc quý khách có thể chọn các chương trình sau: KHÁM PHÁ VINPEARL LAND - "Disneyland " và
            Safari (chi phí tự túc) <br>
            - Xe shettle bus của Vinpearl sẽ đón quý khách tại điểm đón, xe đưa quý khách Vườn Thú Mở -
            Vinpearl Safari Phú Quốc theo mô hình Safari Singapore Công viên Chăm sóc và Bảo tồn Động
            vật Vinpearl Safari Phú Quốc có tổng diện tích gần 500ha, được xây dựng theo mô hình bán
            hoang dã, trong đó, các động vật quý hiếm được đảm bảo chăm sóc và bảo tồn trong môi trường
            thiên nhiên mở.
        </p>
        <img src="/Image/HCM-GW-CC/ivivu-safari-phu-quoc.gif" alt="">
        <p id="note">Vườn Thú Mở</p>
        <p>- Xe shettle bus của Vinpearl sẽ đón quý khách tại điểm đón, xe đưa quý khám phá Vinpearl Land nơi được ví như một "Disneyland" với nhiều trò chơi trong nhà và ngoài trời dành cho mọi lứa tuổi như: Tàu lượng siêu tốc, Đu quay vòng xoay, Đĩa quay siêu tốc, Đu quay văng……. Biểu diễn cá heo, Công viên nước, Thủy cung (nhiều loài sinh vật biển và bò sát quý hiếm), Hoạt náo,  lễ hội đường phố, Rạp chiếu phim 5D,...</p>
        <img src="/Image/HCM-GW-CC/ivivu-vinwonder-disneyland.gif" alt="">
        <p id="note">Vinpearl Land.</p>
        <p>
            Tối: Quý khách tự do dùng bữa tối. <br>
            21h00: Xe đưa đoàn về lại trung tâm thị trấn Dương Đông. <br>
            Nghỉ đêm tại Phú Quốc. <br>
        </p>
        <p>
            <b>NGÀY 02: KHÁM PHÁ NAM ĐẢO (ĂN SÁNG, TRƯA, CHIỀU)</b> <br>
            Sáng: Quý khách dậy sớm ngắm cảnh bình minh trên Đảo Ngọc, đoàn dùng điểm tâm sáng tại khách sạn. Đoàn tiếp tục khởi hành đi khám phá Nam Đảo: <br>
            - Đoàn tham quan cơ sở nuôi cấy ngọc trai cao cấp Phú Quốc Long Beach: Tại đây Quý khách sẽ được tận mắt xem toàn bộ qui trình khép kín tạo nên viên ngọc trai, đặc biệt quý khách sẽ được tận mắt lựa chọn những bộ sản phấm mặt dây chuyền, nhẩn, bông tai…được kết hợp với vàng 24k, vàng trắng và bạc cao cấp,ngoài ra còn tại khu trưng bày quý khách có thể lựa chọn nhiều chuỗi ngọc trai như ý muốn về làm quà cho người thân, gia đình, bạn bè. <br>
        </p>
        <img src="/Image/HCM-GW-CC/ivivu-ngoc-trai-cao-cap.gif" alt="">
        <p id="note">Khu Nuôi Cấy Ngọc Trai.</p>
        <p>- Tiếp tục hành trình, Quý khách sẽ được lên tàu câu cá và lặn ngắm san hô cùng với đội ngũ thủy thủ đoàn giàu kinh nghiệm cùng đến với Hòn Dừa, Hòn Rỏi. Tại đây,Quý khách sẽ được cung cấp kính lặn, áo phao để lặng ngắm san hô, đặc biệt Quý khách sẽ được thưởng thức những món cá tươi ngon  cộng với nhiều món ăn hải sản được chế biến bởi những đầu bếp trên tàu. </p>
        <img src="/Image/HCM-GW-CC/ivivu-lan-ngam-san-ho1.jpg" alt="">
        <p id="note">Lặn Ngắm San Hô.</p>
        <p>
            Trưa: Đoàn dùng cơm trưa trên tàu. <br>
            Chiều: Đoàn quay về đất liền, xe và HDV đưa đoàn: <br>
            - Tắm biển tại Bãi Sao: Đây được bình chọn là một trong những bãi biễn đẹp nhất Việt Nam, tại đây Quý khách không những được tắm biển mà còn tham gia những trò chơi thật lý thú và cảm giác  mạnh trên biển: jetky, ca nô dù kéo, môtô nước…(chi phí tự túc)
        </p>
        <img src="/Image/HCM-GW-CC/ivivu-bai-sao.gif" alt="">
        <p id="note"> Bãi Sao</p>
        <p>- Đoàn di chuyển về tham quan Nhà tù Phú Quốc: khu di tích lịch sử - nơi chứng kiến bao tội ác của thực dân Pháp và đế quốc Mỹ khi giam cầm hơn 32 ngàn tù binh chiến tranh (có lúc lên đến con số 40 ngàn tù binh) trong khoảng thời gian tồn tại chưa đầy 6 năm. </p>
        <img src="/Image/HCM-GW-CC/ivivu-nha-tu-phu-quoc-1.gif" alt="">
        <p id="note"> Nhà Tù Phú Quốc</p>
        <p>
            Tối: Đoàn dùng bữa tối tại nhà hàng. Quý khách tự do dạo biển về đêm. <br>
            Nghỉ đêm tại Phú Quốc. <br>
        </p>
        <p>
            <b>NGÀY 3:  PHÚ QUỐC – ĐÔNG ĐẢO - HỒ CHÍ MINH  (ĂN SÁNG, TRƯA)</b> <br>
            Sáng: Quý khách dùng điểm tâm sáng, tự do tắm biển, nghỉ ngơi. Làm thủ tục trả phòng. <br>
            09h00: Đoàn khởi  hành  đi tham quan: <br>
            - Vườn Tiêu Phú Quốc - tìm hiểu phương pháp trồng tiêu, mua đặc sản tại vườn, đặc biệt quý khách sẽ được thưởng thức trái cây theo mùa. <br>
        </p>
        <img src="/Image/HCM-GW-CC/ivivu-vuon-tieu.jpg" alt="">
        <p id="note"> Vườn Tiêu Phú Quốc</p>
        <p>- Nhà thùng lâu đời nước mắm cá cơm truyền thống.</p>
        <img src="/Image/HCM-GW-CC/ivivu-nha-thung-nuoc-mam.gif" alt="">
        <p id="note">Nhà Thùng Nước Mắm.</p>
        <p>
            - Cơ sở sản xuất rượu vang sim (loại vang riêng của đảo). <br>
            11h30: Xe đưa đoàn di chuyển đến nhà hàng dùng cơm trưa. <br>
            13h00: Xe và HDV đưa quý khách ra sân bay Phú Quốc làm thủ tục bay về Hồ Chí Minh, trên chuyến bay VJ336 Lúc 15:10. <br>
            Kết thúc chương trình và hẹn gặp lại quý khách trong những hành trình tiếp theo!
        </p>
        <p id="note">Lưu ý: thứ tự chương trình tham quan có thể thay đổi theo tình hình thực tế nhưng vẫn đảm bảo đủ điểm tham quan.</p>
    </div>
    <h3>Chi Phí Dự Kiến</h3>
    <hr>
    <div class="row">
        <div class="tab text-center">
            <button class="tablinks active" onclick="showTab(event, 'bao-gom')">
                Giá Bao
                Gồm
            </button>
            <button class="tablinks" onclick="showTab(event, 'khong-bao-gom')">
                Giá Không Bao
                Gồm
            </button>
            <button class="tablinks" onclick="showTab(event, 'phu-thu')">Phụ Thu</button>
            <button class="tablinks" onclick="showTab(event, 'luu-y')">Lưu Ý</button>
        </div>
        <div id="bao-gom" class="tabcontent active">
            <div>
                <p>
                    <b>Vận chuyển:</b> <br>
                    - Vé máy bay khứ hồi Vietjet Air bao gồm 7kg hành lý ký xách tay + 20kg hành lý ký gửi, thuế và phí sân bay. <br>
                    - Xe du lịch hiện đại, điều hòa, đời mới đưa đón tham quan theo chương trình <br>
                    - Tàu câu cá và lặn ngắm san hô: dụng cụ câu cá, kính lặn, áo phao, ghế xếp nghỉ mát…. <br>
                    <b>Lưu trú:</b> <br>
                    - Khách sạn 3 sao tiêu chuẩn (2-3 khách/phòng). Phòng tiện nghi điều hoà, tivi, nóng lạnh khép kín 02 người/phòng. Trường hợp lẻ nam hoặc nữ ngủ ghép 03 người/ phòng. <br>
                    <b>Khác:</b> <br>
                    - Ăn uống theo lịch trình tham quan. <br>
                    - Vé vào cửa và thăm quan các điểm theo lịch trình ( vào cửa lần 1) <br>
                    - HDV nhiệt tình, kinh nghiệm, am hiểu kiến thức tuyến điểm phục vụ đoàn theo tour. <br>
                    - Nước uống, khăn lạnh phục vụ đoàn: 01 chai nước + 01 khăn lạnh/ngày. <br>
                    - Bảo hiểm du lịch mức cao nhất 20.000.000 đồng/người/vụ. <br>
                    - Y tế dự phòng trên xe.
                </p>
            </div>
        </div>
        <div id="khong-bao-gom" class="tabcontent">
            <div>
                <p>
                    - Thuế VAT. <br>
                    - Dịp Lễ 30/04 chưa bao gồm hành lý ký gửi.  <br>
                    - Chi phí ngủ phòng đơn và các chi phí cá nhân ngoài chương trình. <br>
                    - Bảo tàng Gấu, show diễn Tinh Hoa Việt Nam, Chèo thuyền trên sông (Tại GRAND WORLD). <br>
                    - Phí tắm nước ngọt + võng nằm tại Bãi Sao. <br>
                    - Vé thăm quan Vinperland 850.000đ/ người lớn, 650.000 vnđ/trẻ em. <br>
                    - Safari: 650.000đ/ người lớn, 550.000 vnđ/trẻ em.
                </p>
            </div>
        </div>
        <div id="phu-thu" class="tabcontent">
            <div>
                <p>
                    - Phụ thu phòng đơn: 800.000 vnđ/khách/tour. Dịp Lễ phụ thu: 1.000.000 vnđ/khách/tour <br>
                    - Bé dưới 2 tuổi phụ thu phí theo quy định của hãng vé máy bay <br>
                    - Bé từ 2 - 4 tuổi phụ thu chi phí vé máy bay như người lớn  <br>
                    - Bé từ 5 tuổi đến 9 tuổi phụ thu chi phí vé máy bay, vé tham quan, suất ăn, ngủ cùng với bố mẹ. <br>
                    Lưu ý: 2 người lớn chỉ kèm được 1 trẻ em, trẻ em thứ 2 tính vé như người lớn để đảm bảo dịch vụ.
                </p>
            </div>
        </div>
        <div id="luu-y" class="tabcontent">
            <div>
                <p>
                    - Giờ bay có thể thay đổi theo giờ bay của Hãng Hàng Không. Vé máy bay là không hoàn không hủy. <br>
                    - Khi đi máy bay Quý khách nên mang theo một trong các giấy tờ sau: (Chứng minh thư nhân dân còn hạn dưới 15 năm, hoặc hộ chiếu, giấy khai sinh (đối với trẻ em), với trẻ em không đi cùng bố mẹ phải có giấy xác nhận ủy quyền của bố mẹ có xác nhận của địa phương nơi cư trú cho người đi cùng, để làm thủ tục lên máy bay. <br>
                    - Đối với khách hàng từ 70 – 85 tuổi, gia đình và quý khách phải cam kết đảm bảo tình trạng sức khỏe với chúng tôi trước khi tham gia tour. Nếu có bất cứ sự cố nào xảy ra trên tour công ty không chịu trách nhiệm dưới mọi tình huống.
                </p>
            </div>
        </div>
    </div>
</div>
