@model ThongDong_MVC.Models.ACCOUNT
@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="register-form">
        <h2 class="slideanim-top">Change Password</h2>
        <form class="slideanim" action="@Url.Action("UpdatePassword","Accounts", new {id = Model.ACCOUNT_ID})" method="post">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="inputGroup">
                <input type="password" required name="CurrentPass" />
                <label for="Password"><span class="glyphicon glyphicon-lock"></span> Current Password</label>
            </div>

            <div class="inputGroup">
                <input type="password" required name="Password" />
                <label for="Password"><span class="glyphicon glyphicon-lock"></span>New Password</label>
            </div>

            <div class="inputGroup">
                <input type="password" required name="ConfirmPassword" />
                <label for="Password"><span class="glyphicon glyphicon-lock"></span>Confirm Password</label>
            </div>

            <div class="text-center">
                <button type="submit" class="button-form">Save</button>
            </div>
        </form>
    </div>
</div>
